{% if blockType == 'menu' %}
    <div class="sb_widget categories" {{ bkat }}>
      <div class="widget_ttl{% if section.ttlbdrt %} wbdr mb15{% endif %}">{{ block.title }}</div>
      <div class="widget_con">
        <ul class="sdCate sdBlock">
              {% for link in linklists[block.side_categories].links %}
                <li class="lvl-1{% if link.active or link.child_active %} active{% endif %}">
                  <a href="{{ link.url }}">
                      {{ link.title | split: '[' | first }}
                      {%- if link.links != blank -%}
                          {%- assign className = 'plus' -%}
                          {% if link.active or link.child_active %}{%- assign className = 'minus' -%}{% endif %}
                          {%- if link.links != blank -%}{% render 'icon-plus', class: className %}{%- endif -%}
                      {%- endif -%}
                </a>
                  {%- if link.links != blank -%}
                  <ul class="subLinks">
                    {%- for childlink in link.links -%}
                    <li class="lvl-2{% if childlink.active or childlink.child_active %} active{% endif %}">
                      <a href="{{ childlink.url }}" class="lvl-2">{{ childlink.title }}
                          {%- if childlink.links != blank -%}
                              {%- assign className = 'plus' -%}
                              {% if childlink.active or childlink.child_active %}{%- assign className = 'minus' -%}{% endif %}
                              {% render 'icon-plus', class: className %}
                          {%- endif -%}
                        </a>
                      {%- if childlink.links != blank -%}
                      <ul class="subLinks">{%- for lvl3link in childlink.links -%}<li class="lvl-3 {% if lvl3link.active %}active{% endif %}"><a href="{{ lvl3link.url }}" class="lvl-3">{{ lvl3link.title }}</a></li>{%- endfor -%}</ul>
                      {%- endif -%}
                    </li>
                    {%- endfor -%}
                  </ul>
                  {%- endif -%}
                </li>
              {% endfor %}
            </ul>
      </div>
    </div>
{% elsif blockType == 'search' %}
    <div class="sb_widget searchBk" {{ bkat }}>
      {%  if block.title != blank %}<div class="widget_ttl{% if section.ttlbdrt %} wbdr mb25{% endif %}" >{{ block.title }}</div> {%  endif %}
      <div class="widget_con">
        <form action="{{ routes.search_url }}" method="get" class="ad_inputs fl" role="search" style="background-color:{{ block.fieldbg }}; border:1px solid {{ block.fieldbdr }}">
            <input type="hidden" name="type" value="article" />
            <input class="w_100" type="search" name="q" value="{{ search.terms | escape }}" {% if block.sph != blank %}placeholder="{{ block.sph }}" {% endif %} autocomplete="off" style="color:{{ block.field }}" />
            <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
             <button class="btn" type="submit" title="{{ 'general.search.submit' | t }}" style="color:{{ block.field }};background-color:{{ block.fieldbg }}">
			 {% render 'icon-search' %}</button>
        </form>
      </div>
    </div>
{% elsif blockType == 'rposts' %}
    <div class="sb_widget categories" {{ bkat }}>
      <div class="widget_ttl{% if section.ttlbdrt %} wbdr mb25{% endif %}">{{ block.title }}</div>
      <div class="widget_con">
        {% for article in blogs[blog.handle].articles limit:5 %}
          <div class="post recentPost fl f-aic">
            <a href="{{ article.url }}" class="article-img mr15"><img class="imgFl lazyload" data-src="{{ article | img_url: '100x100', crop:'center' }}" width="100" height="100" alt="{{ article.title | default: shop.name | escape }}"></a>
            <div class="fl1 details">
                <a href="{{ article.url }}" class="post_name">{{ article.title }}</a>
                <span class="post_date">{{ article.published_at | time_tag: format: 'month_day_year' }}</span>
            </div>
          </div>
          {% unless forloop.last == true %}<hr />{% endunless %}
          {% endfor %}
      </div>
    </div>
{% elsif blockType == 'tags' %}
    <div class="sb_widget categories" {{ bkat }}>
      <div class="widget_ttl{% if section.ttlbdrt %} wbdr mb20{% endif %}">{{ block.title }}</div>
      <div class="widget_con">
        <div class="blogTags fl f-wrap" style="--tgcl:{{ block.txt }};--tgclh:{{ block.txthov }};--bdr:{{ block.txt | color_lighten : 60 }};--bdrh:{{ block.txthov | color_lighten : 20 }};">
          {% for tag in blog.all_tags %}
            {{ tag | link_to_tag: tag }}
          {% endfor %}
        </div>
      </div>
    </div>
{% elsif blockType == 'products' %}
  <div class="sb_widget hide-sm hide-md" {{ bkat }}>
    <div class="widget_ttl{% if section.ttlbdrt %} wbdr mb15{% endif %}">{{ block.title }}</div>
    <div class="widget_con">
      {% if block.sidebar_products != blank %}
          {% for product in collections[block.sidebar_products].products limit:block.num_of_products %}
            {% render 'product-card-columns', product: product, block: block.settings, section: section.settings %}
            {% unless forloop.last == true %}<hr />{% endunless %}
          {% endfor %}
        {% if block.side_all_products %}
            <div class="text-center"><a href="{{ block.sidebar_products }}" class="btn">{{ block.btn_txt }}</a></div>
        {% endif %} 
      {% else %}
      <p>Please select collection from block settings</p>
      {% endif %} 
    </div>
  </div>
{% elsif blockType == 'nw' %}
    <div class="sb_widget newsbox" {{ bkat }} style="--fieldbg:{{ block.fieldbg }};--fieldbdr:{{ block.fieldbdr }};--field:{{ block.field }};">
      <div class="widget_ttl{% if section.ttlbdrt %} wbdr mb15{% endif %}">{{ block.title }}</div>
      <div class="widget_con">
        {% if block.subttl != blank %}<p class="mb15">{{ block.subttl }}</p>{% endif %}
        {% render 'newsletter-form', formId: 'blogNw', isicon: true %}
      </div>
    </div>
{% elsif blockType == 'image' %}
  <div class="sb_widget static-banner" {{ bkat }}>
    {% if block.link != blank %}<a href="{{ block.link }}">{% endif %}
    {% if block.img != blank %}
        <img class="imgFl lazyload mb10" data-src="{{ block.img | img_url: '400x' }}" width="{{ block.img.width }}" height="{{ block.img.height }}" alt="{{ block.img.alt | default: article.title | default: shop.name | escape }}">
    {% else %}
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
    {% if block.link != blank %}</a>{% endif %}
  </div>
{% elsif blockType == 'social' %}
  <div class="sb_widget sdSocial" {{ bkat }}>
    <div class="widget_ttl">{{ block.title }}</div>
    <div class="widget_con">
        <div class="mb10">{{ block.text }}</div>
        {% render 'social-media' %}
        <style>
            .sdSocial .socIcn a { color:{{ block.icon }}; display:inline-block; text-align:center; border:1px solid {{ block.iconbd }}; border-radius:50%;
            width:{{ block.icnsz | plus: 20 }}px; height:{{ block.icnsz | plus: 20 }}px; line-height:{{ block.icnsz | plus: 17 }}px;  }
            .sdSocial .socIcn a .at-icon { width:{{ block.icnsz }}px;height:{{ block.icnsz }}px; }
        </style>
    </div>
  </div>
{% elsif blockType == 'text' %}
  <div class="sb_widget" {{ bkat }}>
    <div class="widget_ttl{% if section.ttlbdrt %} wbdr mb15{% endif %}">{{ block.title }}</div>
    <div class="widget_con">{{ block.text }}</div>
  </div>
{% endif %}