<h1 class="page-title {{ settings.title_align }}">{{ 'customer.account.title' | t }}</h1> 
        <div class="grid">
          {{ sidebar }}
          <div class="gitem wd80-md" style="--ttcl:{{ secSt.cl }};--ttfs:{{ secSt.fs }}px;--ttfsm:{{ secSt.fsm }}px;--ttfw:{{ secSt.fw }};">
            <div class="ml10 mr10">


            <h3 class="ttlTxt">{{ 'customer.orders.title' | t }}</h3>
            <hr/>
            {% paginate customer.orders by 20 %}
            {% if customer.orders.size != 0 %}

            <table class="responsive_tbl">
              <thead>
                <tr>
                  <th>{{ 'customer.orders.order_number' | t }}</th>
                  <th>{{ 'customer.orders.date' | t }}</th>
                  <th>{{ 'customer.orders.payment_status' | t }}</th>
                  <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                  <th>{{ 'customer.orders.total' | t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for order in customer.orders %}
                <tr>
                  <td data-label="{{ 'customer.orders.order_number' | t }}">
                    <a href="{{ order.customer_url }}" class="btnLink tdu">{{ order.name }}</a>
                  </td>
                  <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                  <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                  <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            {% else %}

            <p>{{ 'customer.orders.none' | t }} </p>
              <p><a href="{{ routes.all_products_collection_url }}" class="btn btn4">{{ 'customer.account.no_order_button' | t }}</a></p>

            {% endif %}
            {% if paginate.pages > 1 %}
            {% render 'pagination' %}
            {% endif %}
            {% endpaginate %}

                <br>
            <div class="fl f-jcsb">
              <h3 class="ttlTxt mb0">{{ 'customer.account.details' | t }}</h3>
              <a href="{{ routes.account_addresses_url }}" class="btnLink">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
            </div>
            <hr/>

            {{ customer.default_address | format_address }}

            <p></p>

            </div>
          </div>

      </div>