{%- capture arrow -%}{% render 'icon-arrow', class: 'arw right ml_auto' %}{%- endcapture -%}
{%- capture arrowbk -%}{% render 'icon-arrow', class: 'arw left mr20' %}{%- endcapture -%}
<li{% if link.active or link.child_active %} class="active"{% endif %}>
    {%- assign label1 = link.title |  split: '[label' | last | split: ']' | first | prepend: "nm_lbl" -%}
    <a href="{{ link.url }}" class="{% if link.links != blank %}hasSub{% endif %}"{% if link.title contains '[new]' %} target="_blank"{% endif %}>
        {% assign collection = link.object %}
        {% if secSt.sicnm and collection.metafields.custom.icon != blank %}
            {% capture icnSz %}{{ secSt.icnm | plus: 50 }}x{% endcapture %}
            <img class="icn lazyload mr10" data-src="{{ collection.metafields.custom.icon | img_url: icnSz }}" width="{{ secSt.icnm }}" height="{{ secSt.icnm }}" alt="{{ collection.title | default: 'Featherstone London' | escape }}" />
        {% endif %}
        {{ link.title | split: '[' | first }}
        {% if link.title contains '[label' %}<span class="lbl {{ label1 }}">{{ settings[label1] }}</span>{% endif %}
        {%- if link.links != blank -%}{{ arrow }}{%- endif -%}
    </a>
    {%- if link.links != blank -%}
        <ul class="subLinks">
            <li class="backto">{{ arrowbk }} {{ link.title | split: '[' | first }}</li>
            <li{% if link.active or link.child_active %} class="active"{% endif %}>
                {% assign linkName = link.title | split: '[' | first %}
                <a href="{{ link.url }}" {% if link.title contains '[new]' %} target="_blank"{% endif %}>{{ 'sections.navigation.go_to' | t: item: linkName }}</a>
            </li>
            {%- for childlink in link.links -%}
                <li {% if childlink.active or childlink.child_active %}class="active"{% endif %}>
                    {%- assign label2 = childlink.title |  split: '[label' | last  | split: ']' | first | prepend: "nm_lbl" -%}
                    <a href="{{ childlink.url }}" class="{% if childlink.links != blank %} hasSub{% endif %}"{% if childlink.title contains '[new]' %} target="_blank"{% endif %}>
                        {% assign collection = childlink.object %}
                        {% if secSt.sicnm and collection.metafields.custom.icon != blank %}
                            {% capture icnSz %}{{ secSt.icnm | plus: 50 }}x{% endcapture %}
                            <img class="icn lazyload mr10" data-src="{{ collection.metafields.custom.icon | img_url: icnSz }}" width="{{ secSt.icnm }}" height="{{ secSt.icnm }}" alt="{{ collection.title | default: 'Featherstone London' | escape }}" />
                        {% endif %}
                        {{ childlink.title | split: '[' | first }}
                        {% if childlink.title contains '[label' %}<span class="lbl {{ label2 }}">{{ settings[label2] }}</span>{% endif %}
                        {%- if childlink.links != blank -%}{{ arrow }}{%- endif -%}
                    </a>
                    {%- if childlink.links != blank -%}
                        <ul class="subLinks">
                            <li class="backto">{{ arrowbk }} {{ childlink.title | split: '[' | first }}</li>
                            <li{% if link.active or link.child_active %} class="active"{% endif %}>
                                {% assign childlinkName = childlink.title | split: '[' | first %}
                                <a href="{{ childlink.url }}" {% if link.title contains '[new]' %} target="_blank"{% endif %}>{{ 'sections.navigation.go_to' | t: item: childlinkName }}</a>
                            </li>
                            {%- for lvl3link in childlink.links -%}
                                <li {% if lvl3link.active %}class="active"{% endif %}>
                                    {%- assign label3 = lvl3link.title | split: '[label' | last  | split: ']' | first | prepend: "nm_lbl" -%}
                                    <a href="{{ lvl3link.url }}" {% if lvl3link.title contains '[new]' %} target="_blank"{% endif %}>
                                        {% assign collection = lvl3link.object %}
                                        {% if secSt.sicnm and collection.metafields.custom.icon != blank %}
                                            {% capture icnSz %}{{ secSt.icnm | plus: 50 }}x{% endcapture %}
                                            <img class="icn lazyload mr10" data-src="{{ collection.metafields.custom.icon | img_url: icnSz }}" width="{{ secSt.icnm }}" height="{{ secSt.icnm }}" alt="{{ collection.title | default: 'Featherstone London' | escape }}" />
                                        {% endif %}
                                        {{ lvl3link.title | split: '[' | first }}
                                        {% if lvl3link.title contains '[label' %}<span class="lbl {{ label3 }}">{{ settings[label3] }}</span>{% endif %}
                                    </a>
                                </li>
                            {%- endfor -%}
                        </ul>
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
</li>