<li class="lvl-1{% if link.active or link.child_active %} active{% endif %}">
  {%- assign label1 = link.title |  split: '[label' | last | split: ']' | first | prepend: "nm_lbl" -%}
  <a href="{{ link.url }}" class="snav lvl-1" {% if link.title contains '[new]' %} target="_blank" {% endif %} >{{ link.title | split: '[' | first }}{% if link.title contains '[label' %}<span class="lbl {{ label1 }}">{{ settings[label1] }}</span>{% endif %}{%- if link.links != blank -%}{% render 'icon-arrow', class: 'arw right ml_auto' %}{%- endif -%}</a>
  {%- if link.links != blank -%}
  <ul class="ddmenu">
    {%- for childlink in link.links -%}
    <li class="lvl-2{% if childlink.active or childlink.child_active %} active{% endif %}">
      {%- assign label2 = childlink.title |  split: '[label' | last  | split: ']' | first | prepend: "nm_lbl" -%}
      <a href="{{ childlink.url }}" {% if childlink.title contains '[new]' %} target="_blank" {% endif %} class="snav lvl-2">{{ childlink.title | split: '[' | first }}{% if childlink.title contains '[label' %}<span class="lbl {{ label2 }}">{{ settings[label2] }}</span>{% endif %}{%- if childlink.links != blank -%}{% render 'icon-arrow', class: 'arw right ml_auto' %}{%- endif -%}</a>
      {%- if childlink.links != blank -%}
      <ul class="ddmenu">
        {%- for lvl3link in childlink.links -%}
        <li class="lvl-3 {% if lvl3link.active %}active{% endif %}">
          {%- assign label3 = lvl3link.title |  split: '[label' | last  | split: ']' | first | prepend: "nm_lbl" -%}
          <a href="{{ lvl3link.url }}" {% if lvl3link.title contains '[new]' %} target="_blank" {% endif %} class="snav lvl-3">{{ lvl3link.title | split: '[' | first }}{% if lvl3link.title contains '[label' %}<span class="lbl {{ label3 }}">{{ settings[label3] }}</span>{% endif %}</a>
        </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</li>