{%- if link.title == 'HideTitle' -%}
    {%- if link.links != blank -%}
        {%- for childlink in link.links -%}
            <li class="lvl-1{% if childlink.active or childlink.child_active %} active{% endif %}">
                {%- assign label2 = childlink.title |  split: '[label' | last  | split: ']' | first | prepend: "nm_lbl" -%}
                <a href="{{ childlink.url }}" class="snav lvl-1{% if childlink.links != blank %} hasSub{% endif %}"{% if childlink.title contains '[new]' %} target="_blank"{% endif %}>{{ childlink.title | split: '[' | first }}{% if childlink.title contains '[label' %}<span class="lbl {{ label2 }}">{{ settings[label2] }}</span>{% endif %}{%- if childlink.links != blank -%}{{ arrow }}{%- endif -%}</a>
                {%- if childlink.links != blank -%}
                    <ul class="subLinks">
                        {%- for lvl3link in childlink.links -%}
                            <li class="lvl-2 {% if lvl3link.active %}active{% endif %}">
                                {%- assign label3 = lvl3link.title |  split: '[label' | last  | split: ']' | first | prepend: "nm_lbl" -%}
                                <a href="{{ lvl3link.url }}" class="snav lvl-2"{% if lvl3link.title contains '[new]' %} target="_blank"{% endif %}>{{ lvl3link.title | split: '[' | first }}{% if lvl3link.title contains '[label' %}<span class="lbl {{ label3 }}">{{ settings[label3] }}</span>{% endif %}</a>
                            </li>
                        {%- endfor -%}
                    </ul>
                {%- endif -%}
            </li>
        {%- endfor -%}
    {%- endif -%}
{%- else -%}
    <li{% if link.active or link.child_active %} class="active"{% endif %}>
        {%- assign label1 = link.title |  split: '[label' | last | split: ']' | first | prepend: "nm_lbl" -%}
        <a href="{{ link.url }}" class="snav{% if link.links != blank %} hasSub{% endif %}"{% if link.title contains '[new]' %} target="_blank"{% endif %}>{{ link.title | split: '[' | first }}{% if link.title contains '[label' %}<span class="lbl {{ label1 }}">{{ settings[label1] }}</span>{% endif %}{%- if link.links != blank -%}{{ arrow }}{%- endif -%}</a>
        {%- if link.links != blank -%}
            <ul class="subLinks">
                {% unless settings.mmsub %}<li class="backto">{{ arrowbk }} {{ blkSt.title | split:'[label' | first }}</li>{% endunless %}
                {% assign linkName = link.title | split: '[' | first %}
                <li{% if link.active or link.child_active %} class="active"{% endif %}><a href="{{ link.url }}" {% if link.title contains '[new]' %} target="_blank"{% endif %}>{{ 'sections.navigation.go_to' | t: item: linkName }}</a></li>
                {%- for childlink in link.links -%}
                    <li {% if childlink.active or childlink.child_active %}class="active"{% endif %}>
                        {%- assign label2 = childlink.title |  split: '[label' | last  | split: ']' | first | prepend: "nm_lbl" -%}
                        <a href="{{ childlink.url }}" class="{% if childlink.links != blank %} hasSub{% endif %}"{% if childlink.title contains '[new]' %} target="_blank"{% endif %}>{{ childlink.title | split: '[' | first }}{% if childlink.title contains '[label' %}<span class="lbl {{ label2 }}">{{ settings[label2] }}</span>{% endif %}{%- if childlink.links != blank -%}{{ arrow }}{%- endif -%}</a>
                        {%- if childlink.links != blank -%}
                            <ul class="subLinks">
                                {% unless settings.mmsub %}<li class="backto">{{ arrowbk }} {{ blkSt.title | split:'[label' | first }}</li>{% endunless %}
                                <li{% if childlink.active or link.child_active %} class="active"{% endif %}>
                                  {% assign childlinkName = childlink.title | split: '[' | first %}
                                  <a href="{{ childlink.url }}" {% if childlink.title contains '[new]' %} target="_blank"{% endif %}>{{ 'sections.navigation.go_to' | t: item: childlinkName }}</a>
                                </li>
                                {%- for lvl3link in childlink.links -%}
                                <li {% if lvl3link.active %}class="active"{% endif %}>
                                    {%- assign label3 = lvl3link.title | split: '[label' | last  | split: ']' | first | prepend: "nm_lbl" -%}
                                    <a href="{{ lvl3link.url }}" {% if lvl3link.title contains '[new]' %} target="_blank"{% endif %}>{{ lvl3link.title | split: '[' | first }}{% if lvl3link.title contains '[label' %}<span class="lbl {{ label3 }}">{{ settings[label3] }}</span>{% endif %}</a>
                                </li>
                                {%- endfor -%}
                            </ul>
                        {%- endif -%}
                    </li>
                {%- endfor -%}
            </ul>
        {%- endif -%}
    </li>
{%- endif -%}
