{% if settings.newsletter_code != blank %}
	{{ settings.newsletter_code }}
{% elsif settings.mailChimp_url != blank %}
	<form role="form" action="{{ settings.mailChimp_url | replace: '/post?u', '/post-json?u' | append: "&c=?" }}" class="mcnewsbox newsl_frm" method="post">
		<div class="ad_input fl">
			<input type="email" class="w_100 newstxt" name="EMAIL" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" required>
		<button type="submit" class="btn newsl_btn mcNsBtn" name="commit">{{ 'general.newsletter_form.submit' | t }}</button>
		</div>
		<p class="form-success fl" style="display:none;">{{ 'general.newsletter_form.mailChimp_confirmation' | t }}</p>
		<p class="errors fl" style="display:none;">{{ 'general.newsletter_form.mailChimp_error' | t }}</p>
	</form>
{% else %}
	{% form 'customer', id: formId, novalidate: 'novalidate', class: 'newsl_frm form-single-field' %}
		{{ form.errors | default_errors }}
		{%- if form.posted_successfully? -%}
			<p class="form-success fl">{{ 'general.newsletter_form.confirmation' | t }}</p>
		{%- else -%}
			<div class="mb25{% unless formStyle == 'verticle' %} ad_inputs fl f-col f-row-md{% endunless %}">
				<input type="hidden" name="contact[tags]" value="newsletter">
				<input type="email" name="contact[email]" id="Email-{{ formId }}" class="newstxt w_100" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" autocorrect="off" autocapitalize="off">
                <button type="submit" class="btn newsl_btn" name="commit" id="Subscribe{{ formId }}" title="{{ 'general.newsletter_form.submit' | t }}">{% if isicon %}<svg class="at-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"/></svg>{% else %}{{ 'general.newsletter_form.submit' | t }}{% endif %}</button>
			</div>
		{%- endif -%}
	{% endform %}
{% endif %}
