{% if settings.reviews == 'loox' %}
    <div id="looxReviews" data-product-id="{{ product.id }}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>
{% elsif settings.reviews == 'growave' %}
    {% capture the_snippet_reviews %}{% render 'socialshopwave-widget-recommends' with 1 %}{% endcapture %}
    {% unless the_snippet_reviews contains 'Liquid error' %}{{ the_snippet_reviews }}{% endunless %}
{%- elsif settings.reviews == 'trustoo' -%}
    <div class="custom-vstar-review-widget" style="width:100%"></div>
{%- elsif settings.reviews == 'yotpo' -%}
    <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26' }}" data-description="{{ product.description | escape }}"></div>
{%- elsif settings.reviews == 'judgeme' -%}
    <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-id='{{ product.id }}'>{{ product.metafields.judgeme.widget }}</div>
{%- elsif settings.reviews == 'rivyo' -%}
    <div id="wc_review_section" class="wc_review_main_content" data-url="{{ shop.url }}" data-handle="{{ product.handle }}" data-product_id="{{ product.id }}" data-limit="0"></div>
{%- elsif settings.reviews == 'stamped' -%}
    <div id="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26' }}" data-description="{{ product.description | escape }}" data-product-sku="{{ product.handle }}" data-product-type="{{ product.type }}">{{ product.metafields.stamped.reviews }}</div>
{%- elsif settings.reviews == 'ryviu' -%}
    <div class="lt-block-reviews"><ryviu-widget handle="{{ product.handle }}" product_id="{{ product.id }}" title_product="{{ product.title }}" image_product="{{ product.featured_image.src | img_url: '100x' }}"></ryviu-widget></div>
{%- elsif settings.reviews == 'klaviyo' -%}
    <div id="klaviyo-reviews-all" data-id="{{product.id}}"></div>
{%- elsif settings.reviews == 'other' -%}
	
{%- endif -%}