<form action="{{ routes.search_url }}" method="get" class="search pr {{ frmClas }} {% if search-form == "solid-search" %}solid-search{% endif %}" role="search">	
    <div class="ad_inputs fl">
        <input class="s_input w_100" type="search" name="q" placeholder="{{ settings.search_ph }}" value="{{ search.terms | escape }}" autocomplete="off" />
        <button class="btn s_submit" type="submit">{% render 'icon-search' %} <span class="fallback_txt">{{ 'general.search.submit' | t }}</span></button>
    </div>
    {% if search-form == "close" %}<span class="closeSearch">{% render 'icon-close' %}</span>{% endif %}

   
        {% if frmClas != 'drawer' %}<div class="s_res pa w_100" >{% else %}<br />{% endif %}
            
			{% if settings.search_sugges %}<div id="serchList" class="w_100" style="display:none;"></div> {% endif %}
            
            {% if settings.search_word != blank or settings.searchCl != blank %}
                <div id="searchPre">
                  
                    {% if settings.search_word != blank  %}
                        {% assign searchwords = settings.search_word | replace:", ","," | replace:" , ","," | replace:" ,","," | split: ',' %}  	
                        <div class="mb25 s_suggestion">
                            <p class="srttl fwm mb10">{{ settings.search_lbl1 }}</p>
                            {% for searchvalue in searchwords %}<a class="mr15" href="{{ routes.search_url }}?type=product&options%5Bprefix%5D=none&q={{ searchvalue }}&options%5Bprefix%5D=last"><u>{{ searchvalue }}</u></a>{% endfor %}
                        </div>
                    {% endif %}

                   {%  if settings.search_lbl2 != blank %}<p class="srttl fwm mt20">{{ settings.search_lbl2 }}</p>{% endif %}
                  
                  {%  if settings.search_recomand == "prr" %}                         
                          {%- assign collection = collections[settings.searchCl] -%}
                          {% if collection.products.size > 0 %}                            
                              <ul id="predictive-search-results-list" class="grid gspace mb20" aria-labelledby="{{ settings.search_lbl2 }}">
                                  {% for product in collection.products limit: settings.limit %}
                                      <li class="gitem fl1 productCol">{% render 'product-card-columns', product: product, section: section.settings %}</li>
                                  {% endfor %}
                              </ul>  
                            <p class="tc">{% if settings.btntxt != blank %} <a href="{{ settings.searchCl.url }}" class="btn {{ settings.sbtn-size }} {{ settings.sbtn-style }}">{{ settings.btntxt }}</a>{%  endif %}</p>           
                          {% endif %}
                     
                   {%  else %}

                         <div class="grid gspace rwcols-1 col-md-1 rwcols-lg-{{ settings.climit }} search_col" style="--grsp:0 -5px;--grspi:0 5px 10px;--grspm:0 -5px;--grspim:0 5px 10px;">
                              
                              {% if settings.image1 != blank %}  
                                  <div class="gitem pr">
                                    <a href="{{ settings.collection1.url }}">
                                    <div class="imgWrapper of_hidden" style="max-width:{{ settings.image1.width }}px;">
                                        <div class="bgImg lazyload wow zoomIn" data-bgset="{% render 'prgrid-img', image: settings.image1, sizes: '200,380,550,750,980,1200' %}" data-sizes="auto" data-parent-fit="contain" style="padding-bottom:{{ 1 | divided_by: settings.image1.aspect_ratio | times: 100 }}%;"></div>
                                    </div>
                                   </a>                                                                                                      
                                 {% if settings.title1 != blank %}<a href="{{ settings.collection1.url }}" class="btn {{ settings.sbtn-size }} {{ settings.sbtn-style }}">{{ settings.title1 }}</a>{% endif %}                         
                                 </div>
                               {% endif %}                                    
                         
                             {% if settings.image2 != blank %}      
                                   <div class="gitem pr">
                                      <a href="{{ settings.collection2.url }}">
                                      <div class="imgWrapper of_hidden" style="max-width:{{ settings.image2.width }}px;">
                                          <div class="bgImg lazyload wow zoomIn" data-bgset="{% render 'prgrid-img', image: settings.image2, sizes: '200,380,550,750,980,1200' %}" data-sizes="auto" data-parent-fit="contain" style="padding-bottom:{{ 1 | divided_by: settings.image2.aspect_ratio | times: 100 }}%;"></div>
                                      </div>
                                     </a>                                                                                                            
                                   {% if settings.title2 != blank %}<a href="{{ settings.collection2.url }}" class="btn {{ settings.sbtn-size }} {{ settings.sbtn-style }}">{{ settings.title2 }}</a>{% endif %}                         
                                 </div>
                              {% endif %}   
                             
                              {% if settings.image3 != blank %}      
                               <div class="gitem pr">                                
                                      <a href="{{ settings.collection3.url }}">
                                      <div class="imgWrapper of_hidden" style="max-width:{{ settings.image3.width }}px;">
                                          <div class="bgImg lazyload wow zoomIn" data-bgset="{% render 'prgrid-img', image: settings.image3, sizes: '200,380,550,750,980,1200' %}" data-sizes="auto" data-parent-fit="contain" style="padding-bottom:{{ 1 | divided_by: settings.image3.aspect_ratio | times: 100 }}%;"></div>
                                      </div>
                                     </a>                                                                                                        
                                   {% if settings.title3 != blank %}<a href="{{ settings.collection3.url }}" class="btn {{ settings.sbtn-size }} {{ settings.sbtn-style }}">{{ settings.title3 }}</a>{% endif %}                                                         
                              </div>
                             {% endif %}  
                           
                            {% if settings.image4 != blank %}
                            <div class="gitem pr">
                                <a href="{{ settings.collection4.url }}">
                                <div class="imgWrapper of_hidden" style="max-width:{{ settings.image4.width }}px;">
                                    <div class="bgImg lazyload wow zoomIn" data-bgset="{% render 'prgrid-img', image: settings.image4, sizes: '200,380,550,750,980,1200' %}" data-sizes="auto" data-parent-fit="contain" style="padding-bottom:{{ 1 | divided_by: settings.image4.aspect_ratio | times: 100 }}%;"></div>
                                </div>
                               </a>                                                                                                           
                             {% if settings.title4 != blank %}<a href="{{ settings.collection4.url }}" class="btn {{ settings.sbtn-size }} {{ settings.sbtn-style }}">{{ settings.title4 }}</a>{% endif %}                         
                             </div>
                             {% endif %}    
                               
                         </div>
                     
                  {% endif %}  
                   
                </div>
            {% endif %}
        {% if frmClas != 'drawer' %}</div>{% endif %}
	
</form>