{% capture themeModels %}
<div class="loadingBox">{% render 'icon-loading' %}</div>
<div class="modalOverly"></div>

{% comment %} newsletter popup {% endcomment %}
{% capture showNlPage %}{% if settings.nl-index %}index,{% endif %}{% if settings.nl-product %}product,{% endif %}{% if settings.nl-collection %}collection,{% endif %}{% if settings.nl-article %}article,{% endif %}{% if settings.nl-blog %}blog,{% endif %}{% if settings.nl-cart %}cart,{% endif %}{% if settings.nl-page %}page{% endif %}{% endcapture %}
{% if settings.newsletter_popup and showNlPage contains request.page_type %}
<div id="newsl_pp" class="{{ settings.newsltr-style }} mfp-hide mfp-with-anim bgImg lazyload" 
     {% if settings.newsltr-style == "style3" or settings.newsltr-style == "style4" and settings.newsletter_img != blank %}
     	data-bgset="{% render 'bgset', image: settings.newsletter_img %}" data-sizes="auto" data-parent-fit="contain"
     {% endif %}>
  {% if settings.newsltr-style == "style2" %}<div class="fl f-jcc f-aic f-col f-row-md">{% endif %}
    {% if settings.newsletter_img != blank %}
      {% if settings.newsltr-style != "style3" and settings.newsltr-style != "style4" %}
       <div class="newsl_img{% if settings.newsltr-style == "style2" %} col-1 wd50-md{% endif %}">
         <div class="bgImg lazyload" data-bgset="{% render 'prgrid-img', image: settings.newsletter_img,, sizes:'150,350,550,750,950' %}" data-sizes="auto" data-parent-fit="contain" style="padding-bottom:{{ 1 | divided_by: settings.newsletter_img.aspect_ratio | times: 100 }}%;"></div>
       </div>
      {% endif %}
    {% endif %}
  <div class="newsl_txt tc fl1">				
    <div class="wraptext">
      <h2>{{ settings.newsletter_popup_title }}</h2>
      <p class="sub-text mb30">{{ settings.newsletter_popup_subtitle }} </p>                        
      
      {%- assign frstyle = 'horizontal' -%}
      {% if settings.newsltr-style == "style2" or settings.newsltr-style == "style3" %}
      	{%- assign frstyle = 'verticle' -%}
      {% endif %}
      {%- assign formId = 'newsletterPopup' -%}
      {% unless settings.hdie_field %}{% render 'newsletter-form', formStyle: frstyle, isicon: settings.submitIc %}{% endunless %}
           
      {% if settings.cta_url != blank and settings.cta_text != blank %}<a class="btn cta mb20 {{ settings.btn-news }}" href="{{ settings.cta_url }}" title="{{ cta_text }}">{{ settings.cta_text }}</a>{% endif %}
      
      {% if settings.show_social_icons %}{% render 'social-media' %}{% endif %}           

      <p class="checklink fl f-jcc f-aic{% if settings.c_msg == blank %} hide{% endif %}"><input type="checkbox" id="dontshow" checked /> <label for="dontshow">{{ settings.c_msg }}</label></p>
      
      {% if settings.g_note != blank %}<p>{{ settings.g_note }}</p>{% endif %}
      
    </div>		
  </div>	
  {% if settings.newsltr-style == "style2" %} </div> {% endif %}
</div>
{% endif %}

{% comment %} product notification {% endcomment %}
{%- assign ntCollection = collections[settings.notify_collection] -%}
{%- if settings.show_notification and ntCollection.products.size > 0 -%}
{%- assign colections = ntCollection.products -%}
{%- assign randomNumber = "now" | date: "%N" | modulo: colections.size | plus: 0 -%}
{%- assign fake_location = settings.notify_location | replace: ' | ', '|' | replace: ' |', '|' | replace: '| ', '|' | split: '|' -%}
<div id="prodNotify" class="fl customized{% if settings.hide_notification_mb %} hide-sm{% endif %}">
  <a class="closeNotify" href="#" title="{{ 'general.accessibility.close_modal' | t }}">{% render 'icon-close' %}</a>
  {%- assign ntprImg = ntCollection.products[randomNumber] -%}
  <a href="{{ ntCollection.products[randomNumber].url }}" class="imgLink"><img class="imgFl pImg" loading="lazy" src="{{ ntCollection.products[randomNumber] | img_url: 'small' }}" width="100" height="{{ 100 | divided_by: ntCollection.products[randomNumber].featured_image.aspect_ratio | floor }}" alt="{{ ntCollection.products[randomNumber].title }}" /></a>
  <div class="details fl1">
    {%- if settings.notify_msg != blank -%}<p class="mb5 mr15">{{ settings.notify_msg }}</p>{%- endif -%}
    <p class="pname mb15">
      <a href="{{ ntCollection.products[randomNumber].url }}"><b>{{ ntCollection.products[randomNumber].title }}</b></a>
    </p>
    <p class="timelocation">{%- if settings.fake_time -%}<span class="time">10</span> {{ settings.time_msg }} {%- endif -%}{%- if settings.notify_location != blank -%}{{ settings.location_msg }} <span class="location">{{ fake_location[3] }}</span>{%- endif -%}</p>
  </div>
</div>
{% endif %}

{% if settings.show_cookie %}
  <style>  
  .cookie_box { display: none !important; color: {{ settings.cookie_txt }}; background: {{ settings.cookie_bg }}; z-index:98; width:100%; max-width:350px; padding:20px 25px; position:fixed; right:10px; bottom:10px; }
  .cookie_action a { color:{{ settings.link_clr }}; display:inline-block; border-bottom:1px solid {{ settings.link_clr }}; align-items: center; text-transform: uppercase; font-size: 11px;}  
  .cookie_action button.link2 { border:1px solid {{ settings.link_clr }}; padding:4px 15px; margin-{% if isRtl %}right{% else %}left{% endif %}:20px; font-size:11px; text-transform: uppercase;} 
  .cookie_action button.link2:hover { border-color:{{ settings.link_clr }}; color: {{ settings.cookie_bg }}; background: {{ settings.link_clr }}; }
  @media only screen and (max-width:767px) { 
    .cookie_box { right:0; bottom:0; justify-content:center; }
  }
  </style>
  <cookie-consent class="cookie_box" style="display:none;">
    <div class="cookie_text mb10">
        {%- if settings.cookie_text != blank -%}
            {{ settings.cookie_text }}
        {%- else -%}
            The cookie settings on this website are set to "allow all cookies" to give you the very best experience. Please click Accept Cookies to continue to use the site
        {%- endif -%}
    </div>
    {%- if settings.cookie_btn1 != blank or settings.cookie_btn2 != blank -%}
        <div class="cookie_action fl f-jce f-aic">
            {%- if settings.cookie_btn1 != blank -%}
                <a target="_blank"{% if settings.cookie_btn1_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ settings.cookie_btn1_link }}"{% endif %}" class="link1">{{ settings.cookie_btn1 }}</a>
            {%- endif -%}
            {%- if settings.cookie_btn2 != blank -%}<button type="button" class="link2 acceptCookie">{{ settings.cookie_btn2 }}</button>{%- endif -%}
        </div>
    {%- endif -%}          
  </cookie-consent>
{% endif %}

{%- if settings.show_scroll -%}
  <div id="scroll_top" {% if settings.show_stt_mb %}class="hide-sm"{% endif %} title="{{ 'general.accessibility.scroll_to_top_button' | t }}">
  	{%- if settings.stt_style == "1" -%}{{ 'general.accessibility.scroll_to_top_button' | t }} 
	    <svg class="at-icon" viewBox="0 0 448 512"><path d="M340.485 366l99.03-99.029c4.686-4.686 4.686-12.284 0-16.971l-99.03-99.029c-7.56-7.56-20.485-2.206-20.485 8.485v71.03H12c-6.627 0-12 5.373-12 12v32c0 6.627 5.373 12 12 12h308v71.03c0 10.689 12.926 16.043 20.485 8.484z"/></svg>	
    {%- elsif settings.stt_style == "2" -%}
        <svg class="at-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
        </svg>
    {%- else -%}
	    <svg class="at-icon" viewBox="0 0 448 512"><path d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"/></svg>
    {%- endif -%}
  </div>
{%- endif -%}
<script>
{%- if settings.dynamicTtl -%}
    {% capture titletext %}{%- if settings.dynamicTxt1 != blank -%}{{ settings.dynamicTxt1 }}{%- endif -%}{%- if settings.dynamicTxt2 != blank -%}{%- if settings.dynamicTxt1 != blank -%}!;{%- endif -%}{{ settings.dynamicTxt2 }}{%- endif -%}{% endcapture %}
    let l = { "message": {{ titletext | split:"!;" | json }},"delay": 1000,"titleTag": document.getElementsByTagName("title")[0] };
    l.titleTag && (l.originalTitle = l.titleTag.innerText,l.isSingle = l.message.length < 2,l.isActive = !1,l.myTimer,
    document.addEventListener('visibilitychange',()=>{
        document.visibilityState === 'visible' ? function () {
            if (!l.isActive) return;
            clearInterval(l.myTimer), l.titleTag.innerText = l.originalTitle
        }():function(){
            let e=0,t=l.message[e];
            if (l.isActive = !0, l.titleTag.innerText = t, l.isSingle) return;
            l.myTimer = setInterval(function () {
                let i = l.message[++e];
                i || (e = 0, i = t), l.titleTag.innerText = i
            }, l.delay)
        }()
    }));
{%- endif -%}
    
window.addEventListener('DOMContentLoaded',function(){
    $(document).ready(function(){
      	{%- if settings.show_notification and ntCollection.products.size > 0 -%}
            {% liquid
              if routes.root_url == '/'
                assign base = ''
              else
                assign base = routes.root_url
              endif
            %}
        	if ((typeof Shopify) === 'undefined') { Shopify = {}; }
			Shopify.pnProduct = function(handle, callback) {
				$.ajax({ url:'{{ base }}/products/' + handle + '.js', dataType:'json', success:function(data){ callback(data); }, cache:true, timeout:{{ settings.notify_display | plus:200 }} });
			};
    		function productNotify(){
                var productsArray = {{ colections | map:'handle' | json }},
                	curproductIndex = Math.floor((Math.random() * productsArray.length - 1) + 1);
      			$('#prodNotify').addClass("active");
				setTimeout(function(){
            		Shopify.pnProduct(productsArray[curproductIndex],function(data){
						var fakeTimeOrder = Math.floor((Math.random() * 60) + 1),
                            {%- if settings.notify_location != blank -%}fklocations = {{ fake_location | json }},rand = Math.floor(Math.random() *{{ fake_location.size }}),{% endif %}
                            pimg = data.featured_image,
             	 			pimg_path = pimg.replace(/(\.[^\.]*$|$)/, '_small' + '$&');
						$('#prodNotify .pname a').html(data.title).attr('href','{{ routes.collections_url }}/'+data.url);
                        $('#prodNotify .imgLink').attr('href','{{ routes.collections_url }}/'+data.url);
                        $('#prodNotify img').attr( { src:pimg_path, alt:data.title } );
                        $('#prodNotify .time').html(fakeTimeOrder);
                        {%- if settings.notify_location != blank -%}$('#prodNotify .location').html(fklocations[rand]);{%- endif -%}
                        $('#prodNotify').removeClass("active");
					});
				}, {{ settings.notify_display }});
			}
			setInterval(productNotify, {{ settings.notify_display | plus: settings.notify_delay | plus: 200 }});
            productNotify();
            $('.closeNotify').click(function(){ $('#prodNotify').remove(); });
		{%- endif -%}
        
		{% if settings.newsletter_popup and showNlPage contains request.page_type %}
        if(getCookie('nwSignup') != 'closed' && window.location.href.indexOf("challenge#newsletterPopup") <= -1){
            setTimeout( function(){
               if($('#newsl_pp').length){
                  $.magnificPopup.open({
                     items: { src:'#newsl_pp' },
                     type:'inline', 
                     removalDelay:300, 
                     mainClass: 'mfp-zoom-in' 
                  });
               }
            }, {{ settings.newsletter_popup_time }});
        }
        $.magnificPopup.instance.close = function(){nwCookie();$.magnificPopup.proto.close.call(this);};
        $("#newsl_pp form").submit(function(){nwCookie()});
        {%- if settings.cta_url != blank and settings.cta_text != blank -%}$("#newsl_pp .cta").click(function(){nwCookie();});{%- endif -%}
        function nwCookie(){
            if($("#dontshow").prop("checked") == true){
                setCookie('nwSignup','closed',1);
            }
        }
        {%- endif -%}
              
		{%- if settings.mailChimp_url != blank -%}
            $(".mcnewsbox").submit(function(e){
                  var $form = $(this);
                  e.preventDefault();
                  $.ajax({
                      type: 'GET',
                      url: $(this).attr('action'),
                      data: $(this).serialize(),
                      cache: false,
                      dataType: 'json',
                      contentType: "application/json; charset=utf-8",
                      error: function(err) { alert("Could not connect to the registration server. Please try again later."); },
                      success: function(data) {
                          if (data.result == "success"){
                              $($form).find(".form-success").html(data.msg).show();
                              $($form).find(".errors").hide();
                          } else {
                              $($form).find(".errors").html(data.msg).show();
                          }
                      }
                  });
            });
        {%- endif -%}
        {%- if settings.show_cookie -%}
            if(getCookie('cookie-consent') != 'closed'){
                $('.cookie_box').show();
            }
            $('.acceptCookie').on("click", function(){
              setCookie('cookie-consent','closed',1);
              $('.cookie_box').fadeOut();
            });
        {%- endif -%}
      
        {% if settings.prevent_copy %}
          document.addEventListener("contextmenu", function(event) {var notInput = (event.target || event.srcElement).tagName.toLowerCase() !== "input" && (event.target || event.srcElement).tagName.toLowerCase() !== "textarea";if (notInput && (event.target || event.srcElement).innerText) {event.preventDefault();} });
          document.addEventListener("mousedown", function(event) { if ((event.target || event.srcElement).tagName.toLowerCase() === "img"){ if (event.which == 2) { event.preventDefault(); }}});
          document.addEventListener("contextmenu", function(event) { if ((event.target || event.srcElement).tagName.toLowerCase() === "img") { event.preventDefault(); } });
          const disableDragAndDrop = function(){document.body.setAttribute("ondragstart", "return false;");document.body.setAttribute("ondrop", "return false;");};
          if (document.readyState === "complete") {disableDragAndDrop();} else {document.addEventListener("DOMContentLoaded", disableDragAndDrop);}
          document.addEventListener("contextmenu", function(event) { if ((event.target || event.srcElement).style.backgroundImage) { event.preventDefault(); } });
        {% endif %}
	});
});
</script>
{% endcapture %}
{{ themeModels | strip_newlines | remove: "  " | remove: "	" }}