<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  <title>{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}</title>
  {% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}
  
  {%- if settings.favicon != blank -%}<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">{%- endif -%}
  {%- if settings.favicon_retina != blank -%}<link rel="apple-touch-icon-precomposed" type="image/png" sizes="152x152" href="{{ settings.favicon_retina | img_url: '152x' }}">{%- endif -%}

  {% render 'social-meta-tags' %}
  {% render 'head-css' %}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'default.css' | asset_url | stylesheet_tag }}
  
  <style>
    html { padding:0 !important; }
    .template-password { height:calc(100vh); position:relative; }
    .template-password.modal--is-active { height:100vh;}   
    .password-main #contact_form .btn { white-space:nowrap; }
    .password_input { max-width: 400px; margin-left:auto; margin-right:auto; }     
    @media only screen and (max-width: 766px) {     
      .password-content {margin-bottom:20px;}
      #shopify-section-password-content { width: 100% }
    }
	  
    .modal { padding:20px; display:none; overflow:hidden; z-index:667; width:80%; max-width:440px; text-align:center; background-color:#fff; box-shadow:0 0 10px 0 rgba(0,0,0,.5); bottom:inherit }
    .modal p { margin-bottom:10px }
      
#LoginModal .at-icon {height: 20px; width: 20px;}
#LoginModal.modal { width:100%; max-width:100%; height:100%; top:0; left:0;transform:translate(0, 0) }
#LoginModal .last-child { margin-bottom:0 }

.modal--is-active { transform:translateY(0); display:block; opacity:1; overflow:hidden }
.modal__inner { transform-style:preserve-3d; height:100% }
.modal__centered { transform:translateY(-50%); position:relative; top:50% }
.no-csstransforms .modal__centered { top:20% }
.modal__close { border:0!important; padding:10px 15px; position:fixed; top:0; right:0; background: none; }
      
  </style>     

  <script src="{{ 'jquery.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>
  {{ content_for_header }}
</head>
<body class="template-password"> 
    {{ content_for_layout }}
    <div id="LoginModal" class="modal">
    <div class="modal__inner">
      <button type="button" class="modal__close js-modal-close">       	
		 {% render 'icon-close' %}
        <span class="fallback_txt">{{ 'general.accessibility.close_modal' | t | json }}</span>
      </button>
      <div class="modal__centered page-width tc">
        <div class="shopify-section">
          <div class="passCnt">
              <p class="password_heading mb20 h4">{{ 'general.password_page.login_form_heading' | t }}</p>
                {% form 'storefront_password' %}
                  {{ form.errors | default_errors }}
                  <label for="password" class="hidden_txt">{{ 'general.password_page.login_form_password_label' | t }}</label>
                  <div class="ad_inputs fl password_input mb20">
                     <input class="w_100" type="password" name="password" id="Password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                     <button type="submit" name="commit" class="btn">
                        {{ 'general.password_page.login_form_submit' | t }}
                      </button>
                  </div>
                {% endform %}
              <p>{{ 'general.password_page.admin_link_html' | t }}</p>
			  <a href="#" class="db js-modal-close"><u>{{ 'general.accessibility.close_modal' | t  }}</u></a>
          </div>
        </div>
      </div>
    </div>   
  </div>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
</body>
</html>
