{% assign secSt = section.settings %}
<div class="sec_cov" style="--sbg:{% if secSt.bgg != blank %}{{ secSt.bgg }}{% else %}{{ secSt.bg }}{% endif %};--sst:{{ secSt.sst }}px;--ssb:{{ secSt.ssb }}px;--sstm:{{ secSt.sstm }}px;--ssbm:{{ secSt.ssbm }}px">     
	<div class="{% if section.settings.sw %}fw-sec{% else %}page-width{% endif %}">
        {%- for block in section.blocks -%}
            {% render block %}
        {%- endfor -%}
    </div>
</div>

{% schema %}
{
  "name": "Apps",
  "tag": "section",
  "class": "appSec",
  "settings": [
	  {
            "type": "header",
            "content": "Section"
       },
		{
            "type": "paragraph",
            "content": "Spacing ===="
        },
		{
			"type": "range",
			"id": "sst",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Top",
			"unit": "px",
			"default":30
        },
		{
			"type": "range",
			"id": "ssb",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Bottom",
			"unit": "px",
			"default":30
        },
		{
            "type": "paragraph",
            "content": "Spacing (mobile) ===="
        },
		{
			"type": "range",
			"id": "sstm",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Top",
			"unit": "px",
			"default":15
        },
		{
			"type": "range",
			"id": "ssbm",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Bottom",
			"unit": "px",
			"default":15
        },       
        {
            "type": "color",
            "id": "bg",
            "label": "Background",
            "info":"select light color"
        },
        {
            "type":"checkbox",
            "id":"sw",
            "label":"Fullwidth?",
            "default": false,
            "info":"Manage fullwidth padding from Theme Settings -> Layout Style"
        }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name"
    }
  ]
}
{% endschema %}
