{%- capture customContent -%}
{% assign secSt = section.settings %}
<div class="sec_cov{% if secSt.hidem %} hide-sm{% endif %}{% if secSt.hided %} hide-md hide-lg{% endif %}" style="--sbg:{% if secSt.bgg != blank %}{{ secSt.bgg }}{% else %}{{ secSt.bg }}{% endif %};--sst:{{ secSt.sst }}px;--ssb:{{ secSt.ssb }}px;--sstm:{{ secSt.sstm }}px;--ssbm:{{ secSt.ssbm }}px">  
    <div class="{% if section.settings.sw %}fw-sec {% else %}page-width{% endif %} custom-block {{section.settings.style }}">  
        {% render 'sec-title' %}	
        <div class="grid custom-cnt gspace" style="--grsp:0 -{{ section.settings.gspace | divided_by: 2.0 }}px;--grspi:0 {{ section.settings.gspace | divided_by: 2.0 }}px {{ section.settings.gspace }}px;--grspm:0 -{{ section.settings.gspacem | divided_by: 2.0 }}px;--grspim:0 {{ section.settings.gspacem | divided_by: 2.0 }}px {{ section.settings.gspacem }}px;">
                {% for block in section.blocks %}
                    {% assign blkSt = block.settings %}
                    <div class="gitem ct_item cti{{ block.id }} {{ blkSt.width }}-md {{ blkSt.alignment }}{%  if block.type == "richtxt" %} customrich{% endif %}{% if blkSt.hidem %} hide-sm{% endif %} {% if blkSt.hided %} hide-md hide-lg{% endif %}" {{ block.shopify_attributes }}>
                        <div class="of_hidden ct_item_in ct_item_{{ block.type }} w_100" style="--bg:{{ blkSt.clbg }};--brad:{{ blkSt.brad }}px;">                           
                        {% case block.type %}
                          
                            {% when 'image' %}
                                {% if blkSt.image != blank %}
                                    {% if blkSt.imgurl != blank %}<a href="{{ blkSt.imgurl }}">{% endif %}
                                        <div class="imgWrapper" style="max-width:{{ blkSt.image.width }}px;--brad:{{ blkSt.brad }}px">
                                            <img loading="lazy" class="imgFl ctimg lazyload wow zoomIn" src="{{ blkSt.image | img_url: "100x" }}" width="{{ blkSt.image.width }}" height="{{ blkSt.image.height }}"
                                                data-srcset="{% render 'lazyload', image: blkSt.image, sizes: '500,670,800,1000,1300,1600' %}" data-sizes="auto" alt="{{ blkSt.image.alt | escape }}">
                                        </div>
                                    {% if blkSt.imgurl != blank %}</a>{% endif %}
                                {% else %}
                                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                {% endif %}

                              {% when 'richtxt' %}															
                                <div class="tc w_100" style="--ttcl:{{ blkSt.cl }};--ttfs:{{ blkSt.fs }}px;--ttfsm:{{ blkSt.fsm }}px;--ttfw:{{ blkSt.fw }};--ttlh:{{blkSt.lh }}">                               
                                    <div class="custom-text">
                                        {% if blkSt.title != blank %}<h3 class="ttlTxt {{ blkSt.ff }}" style=" margin-bottom:{{ blkSt.tbm }}px;"><a href="{{ blkSt.btnurl }}" class="ttlTxt tdn">{{ blkSt.title }}</a></h3>{% endif %}
                                        {% if blkSt.text != blank %}<div class="rgTxt rte-setting mb20" style="--cl:{{ blkSt.cl }};">{{ blkSt.text }}</div>{% endif %}
                                        {% if blkSt.btntxt != blank and blkSt.btnurl != blank %}
                                            <a class="btn {{ blkSt.btn-size }} {{ blkSt.btn-style }}" href="{{ blkSt.btnurl }}">{{ blkSt.btntxt }}</a>
                                        {% endif %}
                                    </div>
                                    <style>                                                                              										                                    
                                    {%  if blkSt.txtpad != blank %}  
                                          .cti{{ block.id }} .ct_item_in { padding:{{blkSt.txtpad }};} 
                                    {% endif %}
                                   {%  if blkSt.txtpadt != blank %}  
                                      @media only screen and (max-width:1200px){
                                            .cti{{ block.id }} .ct_item_in {  padding:{{blkSt.txtpadt }};} 
                                   }                                  
                                    {% endif %}
                                    {%  if blkSt.txtpadm != blank %}  
                                          @media only screen and (max-width:766px){
                                                .cti{{ block.id }} .ct_item_in {  padding:{{blkSt.txtpadm }};} 
                                           }                                  
                                    {% endif %}
                                    </style>             
                                </div>
                          
                            {% when 'text' %}								
							
                                <div class="{{ blkSt.align_text }}" style="--ttcl:{{ blkSt.cl }};--ttfs:{{ blkSt.fs }}px;--ttfsm:{{ blkSt.fsm }}px;--ttfw:{{ blkSt.fw }};--ttlh:{{blkSt.lh }}">
                                    {% if blkSt.dis_img %}
									  {% if blkSt.image != blank  %}
                                        {% if blkSt.btnurl != blank %}<a href="{{ blkSt.btnurl }}">{% endif %}
                                            <div class="imgWrapper" style="max-width:{{ blkSt.image.width }}px;--brad:{{ blkSt.brad }}px;">
                                                <img loading="lazy" class="imgFl ctimg lazyload mb20 wow zoomIn" src="{{ blkSt.image | img_url: "100x" }}" width="{{ blkSt.image.width }}" height="{{ blkSt.image.height }}"
                                                    data-srcset="{% render 'lazyload', image: blkSt.image, sizes: '500,670,800,1000,1300,1600' %}" data-sizes="auto" alt="{{ blkSt.image.alt | escape }}">
                                            </div>
                                        {% if blkSt.btnurl != blank %}</a>{% endif %}
									  {% else %}
										 <p> {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</p>
									  {% endif %}
                                    {% endif %}
                                    <div class="custom-text">
                                        {% if blkSt.title != blank %}<h3 class="ttlTxt {{ blkSt.ff }}" style=" margin-bottom:{{ blkSt.tbm }}px;">{{ blkSt.title }}</h3>{% endif %}
                                        {% if blkSt.text != blank %}<div class="rgTxt rte-setting mb20" style="--cl:{{ blkSt.cl }};">{{ blkSt.text }}</div>{% endif %}
                                        {% if blkSt.btntxt != blank and blkSt.btnurl != blank %}
                                            <a class="btn mb20 {{ blkSt.btn-size }} {{ blkSt.btn-style }}" href="{{ blkSt.btnurl }}">{{ blkSt.btntxt }}</a>
                                        {% endif %}
                                    </div>
                                    <style>                                       
                                        {% if blkSt.bg %}    										      
										 	.cti{{ block.id }} { align-self:stretch; display:flex;} 
                                            .cti{{ block.id }} .ct_item_in {display: flex; align-items: center; padding:35px;  background:{{ blkSt.clbg }}; border-radius:{{blkSt.boxrad}}px;}         
											.cti{{ block.id }}.f-ass .ct_item_in {align-items: start; }
               								.cti{{ block.id }}.f-ase .ct_item_in {align-items: end;}  
										    .cti{{ block.id }} .ct_item_in > div { width:100%;} 
                                        {% endif %}              	
                                    </style>             
                                </div>                                                  
                          
                              {% when 'video' %}
                                <div class="video_bnr pr" style="--vbr:{{ blkSt.vbr }}px;">
                                    {% if blkSt.video_url == blank and blkSt.mp4video == blank %}
                                        <div class="vd-wrap"><iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe></div>
                                    {% else %}  		                   
                                        {% if blkSt.video_url != blank and blkSt.video_style == "videopp" %}                                                       		
                                            <a href="{{ blkSt.video_url }}?controls=0&autoplay=1&rel=0&showinfo=0" class="video_pop fl f-jcc f-aic">                           
                                                {% if blkSt.poster != blank %}
                                                    <img class="imgFl ctimg lazyload mb20 wow zoomIn" src="{{ blkSt.poster | img_url: "100x" }}" width="{{ blkSt.poster.width }}" height="{{ blkSt.poster.height }}"
                                                        data-srcset="{% render 'lazyload', image: blkSt.poster, sizes: '500,670,800,1000,1300,1600' %}" data-sizes="auto" alt="{{ blkSt.poster.alt | escape }}">
                                                   <svg class="at-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 504c137 0 248-111 248-248S393 8 256 8 8 119 8 256s111 248 248 248zM40 256c0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216-118.7 0-216-96.1-216-216zm331.7-18l-176-107c-15.8-8.8-35.7 2.5-35.7 21v208c0 18.4 19.8 29.8 35.7 21l176-101c16.4-9.1 16.4-32.8 0-42zM192 335.8V176.9c0-4.7 5.1-7.6 9.1-5.1l134.5 81.7c3.9 2.4 3.8 8.1-.1 10.3L201 341c-4 2.3-9-.6-9-5.2z"/></svg>
                                                {% else %}
                                                    <p class="db pd30">Please upload video poster</p>
                                                {% endif %}
                                            </a>       
                                            <script type="text/javascript">
                                                window.addEventListener('DOMContentLoaded',function(){
                                                    $('.video_pop').magnificPopup({ type: 'iframe', mainClass: 'mfp-zoom-in', removalDelay: 160, preloader: false, fixedContentPos: false });
                                                });
                                            </script>
                                                     
                                        {% elsif blkSt.video_url != blank and blkSt.video_style == "bgvideo" %}
                                                     
                                            <div class="vd-wrap">
                                                {% if blkSt.video_url.type == "youtube" %}
                                                    <iframe class="lazyload" data-src="//www.youtube.com/embed/{{ blkSt.video_url.id }}?controls=0&autoplay=1&rel=0&showinfo=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                                                {% endif %}
                                                {% if blkSt.video_url.type == "vimeo" %}
                                                    <iframe class="lazyload" data-src="//player.vimeo.com/video/{{ blkSt.video_url.id }}?background=1&byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                                                {% endif %}
                                            </div>   
                                                     
                                        {% elsif blkSt.video_url == blank and blkSt.mp4video != blank %}
                                                     
                                        {%- liquid 											
      											 if blkSt.is_autoplay == true 
      												assign mutev = muted
      											 else
      												assign mutev = false
      											  endif 										
              							 -%}    
                                          {{ blkSt.mp4video | video_tag :loop:true, autoplay:blkSt.is_autoplay, muted:mutev, controls:blkSt.enable_cntrl, class:'w_100', image_size: '600x' }} 			           
                                                     
                                        {% endif %}
                                        {%- if blkSt.video_style == "bgvideo" and blkSt.title != blank -%}
                                            <div class="vdtWrap fl">
                                              <div class="fl m_auto w_100 f-jcc f-aie {{ blkSt.text_align }}" style="max-width:{{ blkSt.cntwd }}px;">
                                                <div class="video_txt pd20{% if blkSt.align %} tl{% else %} tc{% endif %}">             
                                                {%- if blkSt.title != blank or blkSt.btntxt != blank %} 
                                                    <div class="{% if blkSt.text-align %}tl{% else %}tc{% endif %}">
                                                        {%- if blkSt.title != blank -%}<span class="ttlTxt {{ blkSt.ff }}{% if blkSt.hide_text %} hide-sm{% endif %}"  style="--ttcl:{{ blkSt.cl }};--ttfs:{{ blkSt.fs }}px;--ttfsm:{{ blkSt.fsm }}px;--ttfw:{{ blkSt.fw }};--ttlh:{{blkSt.lh }};--ttcl:{{ blkSt.cl }};">{{ blkSt.title }}</span>{%- endif -%}      
                                                        {%- if blkSt.btntxt != blank -%}<br/><a href="{{ blkSt.btnurl }}" class="mt15 btn {{ blkSt.btn-style }}{% if blkSt.hide_btn %} hide-sm{% endif %}">{{ blkSt.btntxt }}</a>{%- endif -%}
                                                    </div>
                                                {% endif %}
                                              </div>
                                            </div>
                                          </div>
                                        {%- endif -%}
                                    {% endif %}
                                </div>
                          
                            {% when 'product' %}
                                {%- assign product = all_products[blkSt.product] -%}
                                {% if product.title.size > 0 %}
                                    {% render 'product-card-grid', product: product, block: block.settings, section: section.settings, sizes: image_size %}
                                {% else %}
                                    <div class="grid_bx">
                                        <a href="#" class="grid_lnk">
                                            <div class="grid_img_wr">{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}{% capture plClass %}placeholder-svg svgcl{{ current }}{% endcapture %}{{ 'product-' | append: current | placeholder_svg_tag: plClass }}</div><br/>
                                            <div class="h4 grid_title">{{ 'homepage.onboarding.product_title' | t }}</div>
                                            <div class="grid_meta">{% render 'product-price' %}</div>
                                        </a>
                                    </div>
                                {% endif %}
						
                            {% when 'collection' %}
                                {%- assign collection = collections[blkSt.collection] -%}
                               {% render 'collection-grid-item' with 'custom', collection: collection, block: block.settings, section: section.settings, custom:true %}
                          
                            {% when 'html' %}
                               <div class="rte"> {{ blkSt.code }}</div>                          
                            {% endcase %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if section.blocks.size == 0 %}{% render 'no-blocks' %}{% endif %}
        </div>  
</div>
{%- endcapture -%}
{{ customContent | strip_newlines | remove: "	" }}
{% schema %}
{
    "name": "Custom Block",
    "class": "index-section",
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [	 
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Custom content"         
        },
        {
            "type": "textarea",
            "id": "subtitle",
            "label": "Sub Heading",
            "default": "Describe your products, collection, content etc..."
        }, 
      {
		 "type": "header",
		 "content":"Grid ==="
     },			 
	{
        "type": "range",
        "id": "gspace",
        "label": "Grid Spacing",
        "default": 30,
        "min": 0,
        "max": 100,
        "step": 1,
		"unit":"px"
		
      },
     {
        "type": "range",
        "id": "gspacem",
        "label": "Grid Spacing (mobile)",
        "default": 15,
        "min": 0,
        "max": 15,
        "step": 1,
		"unit":"px"		
      },
        {
            "type": "select",
            "id": "prbox_style",
            "label": "Products Grid Style",
            "default": "grid_1",
            "info": "[preview grid style](https://vogal-demo.myshopify.com/pages/grid-style)",
            "options": [
                {
					"value": "grid_1",
					"label": "Style 1 - Icons Center"
				},
				{
					"value": "grid_2",
					"label": "Style 2 - Info Hover Image"
				},              
				{
					"value": "grid_3",
					"label": "Style 3 - Icons Left"
				},
			   {
					"value": "grid_4",
					"label": "Style 4 - ATC Text Button"
			   },
				{
					"value": "grid_5",
					"label": "Style 5 - Top Right Wishlist"
				},	
			   {
					"value": "grid_6",
					"label": "Style 6 - Icons Bar"
				}      
            ]
        },
	   {
            "type": "header",
            "content": "Section"
        },
		{
            "type": "paragraph",
            "content": "Spacing ===="
        },
		{
			"type": "range",
			"id": "sst",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Top",
			"unit": "px",
			"default":30
        },
		{
			"type": "range",
			"id": "ssb",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Bottom",
			"unit": "px",
			"default":0
        },
		{
            "type": "paragraph",
            "content": "Spacing (mobile) ===="
        },
		{
			"type": "range",
			"id": "sstm",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Top",
			"unit": "px",
			"default":15
        },
		{
			"type": "range",
			"id": "ssbm",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Bottom",
			"unit": "px",
			"default":0
        },       
        {
            "type": "color",
            "id": "bg",
            "label": "Background",
            "info":"select light color"
        },
        {
            "type": "color_background",
            "id": "bgg",
            "label": "Gradient Background"
        },	
        {
            "type":"checkbox",
            "id":"sw",
            "label":"Fullwidth?",
            "default": false,
            "info":"Manage fullwidth padding from Theme Settings -> Layout Style"
        },		              
		{
            "type": "checkbox",
            "id": "hidem",
            "label": "Hide on Mobile?",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "hided",
            "label": "Hide on Desktop?",
            "default": false
        } 
    ],
    "blocks": [
      {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "hidem",
                    "label": "Hide in mobile?",
                    "default": false			
                },	
                {
                    "type": "checkbox",
                    "id": "hided",
                    "label": "Hide in desktop?",
                    "default": false			
                },	
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {	
                    "type": "url",
                    "id": "imgurl",
                    "label": "Image Url"
                },         
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Vertical Alignment",
                    "default": "f-ass",
                    "options": [             
                        {"value": "f-ass", "label": "Top"},
                        {"value": "f-asc", "label": "Middle"},
                        {"value": "f-ase", "label": "Bottom"}         
                    ]
                },
               {
                    "type": "range",
                    "id": "brad",
                    "label": "Border Radius",
                    "default": 0,
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit":"px"		
                },	 
                {
                    "type": "select",
                    "id": "width",
                    "label": "Column width",
                    "default": "wd50",
                    "options": [
                       {
                            "value": "wd20",
                            "label": "20%"
                        },
                        {
                            "value": "wd25",
                            "label": "25%"
                        },
                        {
                            "value": "wd33",
                            "label": "33%"
                        },
                        {
                            "value": "wd50",
                            "label": "50%"
                        },
                        {
                            "value": "wd66",
                            "label": "66%"
                        },
                        {
                            "value": "wd75",
                            "label": "75%"
                        },
                        {
                            "value": "w_100",
                            "label": "100%"
                        }
                    ]
                }
            ]
        },
      {
            "type": "richtxt",
            "name": "Text",
            "settings": [                               
                {
                    "type": "textarea",
                    "id": "title",
                    "label": "Heading", 
                    "default":"TRENDING OUTFITS"
                },
                {
                    "type": "range",
                    "id": "fs",
                    "label": "Font Size",
                    "default": 16,
                    "min": 10,
                    "max": 100,
                    "step": 1,
                    "unit": "px"
                }, 
              {
                    "type": "range",
                    "id": "fsm",
                    "label": "Font Size (mobile)",
                    "default": 12,
                    "min": 10,
                    "max": 60,
                    "step": 1,
                    "unit": "px"
                },
                {
                    "type": "select",
                    "id": "ff",
                    "label": "Font Family",
                    "default": "ft1",
                    "options": [
                        {
                            "value": "ft1",
                            "label": "Font 1"
                        },
                        {
                            "value": "ft2",
                            "label": "Font 2"
                        },
                        {
                            "value": "ft3",
                            "label": "Font 3"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "fw",
                    "label": "Font Weight",
                    "default": "600",
                    "options": [
                        {
                            "value": "300",
                            "label": "Light"
                        },
                        {
                            "value": "400",
                            "label": "Regular"
                        },
                        {
                            "value": "500",
                            "label": "Medium"
                        },
                        {
                            "value": "600",
                            "label": "Semi Bold"
                        },
                        {
                            "value": "700",
                            "label": "Bold"
                        }
                    ]
                }, 	
                {
                    "type": "range",
                    "id": "lh",
                    "label": "Line Height",
                    "default": 1.2,
                    "min": 0.7,
                    "max": 2.0,
                    "step": 0.1,
                    "info": "Space between text lines. Default is set to 1.3"
                }, 	
                 {
					"type": "range",
					"id": "tbm",
					"label": "Margin Bottom",
					"default":14,
					"min": 0,
					"max": 30,
					"step": 1
      			 },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Follow the most popular trends and get  exclusive items<br/>from Avone shop. Fashion should be a form of escapism <br/>and not a form of imprisonment</p>"
                },
                {
                    "type": "text",
                    "id": "btntxt",
                    "label": "Button Text",
                    "default": "Shop Now"
                },
                {
                    "type": "url",
                    "id": "btnurl",
                    "label": "Button Link",
                    "default": "/"
                },   
              {
				"type": "select",
				"id": "btn-style",
				"label": "Select Button",
				"default": "btn1",
				"options": [
				  {
					"label": "Button 1",
					"value": "btn1"
				  },
				  {
					"label": "Button 2",
					"value": "btn2"
				  },
				  {
					"label": "Button 3",
					"value": "btn3"
				  },
				  {
					"label": "Button 4",
					"value": "btn4"
				  },
				 {
					"label": "Button 5",
					"value": "btn5"
				  },
                  {
                      "label": "Button 6",
                      "value": "btn6"
                  },
                  {
                      "label": "Button 7 Gradient",
                      "value": "btn7"
                  },
                  {
                      "label": "Button 8 Gradient",
                      "value": "btn8"
                  },
                  {
                      "label": "Link",
                      "value": "btnLink"
                    }  
				]
			  },
                {
                    "type": "select",
                    "id": "btn-size",
                    "label": "Button Size",
                    "default": "btn-md",
                    "options": [
                        {
                            "label": "Small",
                            "value": "btn-sm"
                        },
                        {
                            "label": "Medium",
                            "value": "btn-md"
                        },
                        {
                            "label": "Large",
                            "value": "btn-lg"
                        } 		  
                    ]
                },				 
                {
                    "type": "color",
                    "id": "clbg",
                    "label": "Background",
                    "default":"#f5f5f5"         
                },
                {
                    "type": "color",
                    "id": "cl",
                    "label": "Text",
                    "default":"#000"         
                },    
                {
                    "type": "text",
                    "id": "txtpad",
                    "label": "Padding(desktop)",
                    "info":"top/bottom right/left. (I.e. 50px 100px) Keep empty to use default.",
                    "default":"50px 100px"  
                },
              {
                    "type": "text",
                    "id": "txtpadt",
                    "label": "Padding(tablet)",  
                    "default":"40px 40px",
                    "info":"Keep empty to use default."
                },   
               {
                    "type": "text",
                    "id": "txtpadm",
                    "label": "Padding(mobile)",  
                    "default":"20px 20px",
                    "info":"Keep empty to use default."
                },   
                {
                    "type": "range",
                    "id": "brad",
                    "label": "Border Radius",
                    "default": 0,
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit":"px"		
                },	 
                {
                    "type": "select",
                    "id": "width",
                    "label": "Column width",
                    "default": "wd50",
                    "options": [
                       {
                            "value": "wd20",
                            "label": "20%"
                        },
                        {
                            "value": "wd25",
                            "label": "25%"
                        },
                        {
                            "value": "wd33",
                            "label": "33%"
                        },
                        {
                            "value": "wd50",
                            "label": "50%"
                        },
                        {
                            "value": "wd66",
                            "label": "66%"
                        },
                        {
                            "value": "wd75",
                            "label": "75%"
                        },
                        {
                            "value": "w_100",
                            "label": "100%"
                        }
                    ]
                }
            ]
        },
        {
            "type": "text",
            "name": "Image & Text",
            "settings": [
                 {
                    "type": "checkbox",
                    "id": "hidem",
                    "label": "Hide in mobile?",
                    "default": false			
                },	  
                {
                    "type": "checkbox",
                    "id": "dis_img",
                    "label": "Show Image?",
                    "default":true
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "textarea",
                    "id": "title",
                    "label": "Heading", 
                    "default":"TRENDING OUTFITS"
                },
                {
                    "type": "range",
                    "id": "fs",
                    "label": "Font Size",
                    "default": 16,
                    "min": 10,
                    "max": 100,
                    "step": 1,
                    "unit": "px"
                }, 
              {
                    "type": "range",
                    "id": "fsm",
                    "label": "Font Size (mobile)",
                    "default": 16,
                    "min": 10,
                    "max": 60,
                    "step": 1,
                    "unit": "px"
                },
                {
                    "type": "select",
                    "id": "ff",
                    "label": "Font Family",
                    "default": "ft1",
                    "options": [
                        {
                            "value": "ft1",
                            "label": "Font 1"
                        },
                        {
                            "value": "ft2",
                            "label": "Font 2"
                        },
                        {
                            "value": "ft3",
                            "label": "Font 3"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "fw",
                    "label": "Font Weight",
                    "default": "600",
                    "options": [
                        {
                            "value": "300",
                            "label": "Light"
                        },
                        {
                            "value": "400",
                            "label": "Regular"
                        },
                        {
                            "value": "500",
                            "label": "Medium"
                        },
                        {
                            "value": "600",
                            "label": "Semi Bold"
                        },
                        {
                            "value": "700",
                            "label": "Bold"
                        }
                    ]
                }, 	
                {
                    "type": "range",
                    "id": "lh",
                    "label": "Line Height",
                    "default": 1.2,
                    "min": 0.7,
                    "max": 2.0,
                    "step": 0.1,
                    "info": "Space between text lines. Default is set to 1.3"
                }, 	
                 {
					"type": "range",
					"id": "tbm",
					"label": "Margin Bottom",
					"default":14,
					"min": 0,
					"max": 30,
					"step": 1
      			 },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Follow the most popular trends and get  exclusive items<br/>from Avone shop. Fashion should be a form of escapism <br/>and not a form of imprisonment</p>"
                },
                {
                    "type": "text",
                    "id": "btntxt",
                    "label": "Button Text",
                    "default": "Shop Now"
                },
                {
                    "type": "url",
                    "id": "btnurl",
                    "label": "Button Link",
                    "default": "/"
                },   
              {
				"type": "select",
				"id": "btn-style",
				"label": "Select Button",
				"default": "btn1",
				"options": [
				  {
					"label": "Button 1",
					"value": "btn1"
				  },
				  {
					"label": "Button 2",
					"value": "btn2"
				  },
				  {
					"label": "Button 3",
					"value": "btn3"
				  },
				  {
					"label": "Button 4",
					"value": "btn4"
				  },
				 {
					"label": "Button 5",
					"value": "btn5"
				  },
                  {
                      "label": "Button 6",
                      "value": "btn6"
                  },
                   {
                      "label": "Button 7 Gradient",
                      "value": "btn7"
                  },
                  {
                      "label": "Button 8 Gradient",
                      "value": "btn8"
                  },
                  {
                      "label": "Link",
                      "value": "btnLink"
                    }  
				]
			  },
                {
                    "type": "select",
                    "id": "btn-size",
                    "label": "Button Size",
                    "default": "btn-md",
                    "options": [
                        {
                            "label": "Small",
                            "value": "btn-sm"
                        },
                        {
                            "label": "Medium",
                            "value": "btn-md"
                        },
                        {
                            "label": "Large",
                            "value": "btn-lg"
                        } 		  
                    ]
                },
				 {
                    "type": "checkbox",
                    "id": "bg",
                    "label": "Add Background?",
                    "default": false
                },
                {
                    "type": "color",
                    "id": "clbg",
                    "label": "Background",
                    "default":"#f5f5f5"         
                },
                {
                    "type": "color",
                    "id": "cl",
                    "label": "Text",
                    "default":"#000"         
                }, 
               {
                    "type": "range",
                    "id": "boxrad",
                    "label": "Box Border Radius",
                    "default": 0,
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit":"px"		
                  },	 
                 {
                          "type": "range",
                          "id": "brad",
                          "label": "Image Border Radius",
                          "default": 0,
                          "min": 0,
                          "max": 100,
                          "step": 1,
                          "unit":"px"		
                 },	 
                {
                    "type": "select",
                    "id": "align_text",
                    "label": "Text Alignment",
                    "default": "tc",
                    "options": [
                        {"value": "tl", "label": "Left"},
                        {"value": "tc", "label": "Center"},
                        {"value": "tr", "label": "Right"}
                    ]
                },                 
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Vertical Alignment",
                    "default": "f-ass",
                    "options": [             
                        {"value": "f-ass", "label": "Top"},
                        {"value": "f-asc", "label": "Middle"},
                        {"value": "f-ase", "label": "Bottom"}         
                    ]
               },               
                {
                    "type": "select",
                    "id": "width",
                    "label": "Column width",
                    "default": "wd50",
                    "options": [
                         {
                            "value": "wd20",
                            "label": "20%"
                        },
                        {
                            "value": "wd25",
                            "label": "25%"
                        },
                        {
                            "value": "wd33",
                            "label": "33%"
                        },
                        {
                            "value": "wd50",
                            "label": "50%"
                        },
                        {
                            "value": "wd66",
                            "label": "66%"
                        },
                        {
                            "value": "wd75",
                            "label": "75%"
                        },
                        {
                            "value": "w_100",
                            "label": "100%"
                        }
                    ]
                }
            ]
        },                
        {
            "type": "product",
            "name": "Product",
            "settings": [
                 {
                    "type": "checkbox",
                    "id": "hidem",
                    "label": "Hide in mobile?",
                    "default": false			
                },	  
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                },          
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Vertical Alignment",
                    "default": "f-ass",
                    "options": [             
                        {"value": "f-ass", "label": "Top"},
                        {"value": "f-asc", "label": "Middle"},
                        {"value": "f-ase", "label": "Bottom"}         
                    ]
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Column width",
                    "default": "wd50",
                    "options": [
                       {
                            "value": "wd20",
                            "label": "20%"
                        },
                        {
                            "value": "wd25",
                            "label": "25%"
                        },
                        {
                            "value": "wd33",
                            "label": "33%"
                        },
                        {
                            "value": "wd50",
                            "label": "50%"
                        },
                        {
                            "value": "wd66",
                            "label": "66%"
                        },
                        {
                            "value": "wd75",
                            "label": "75%"
                        },
                        {
                            "value": "w_100",
                            "label": "100%"
                        }
                    ]
                }
            ]
        },
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                 {
                    "type": "checkbox",
                    "id": "hidem",
                    "label": "Hide in mobile?",
                    "default": false			
                },	  
                {
                    "type":"image_picker",
                    "id":"image",
                    "label":"Upload Image"			
                },
                {
                  "type": "range",
                  "id": "brad",
                  "min": 0,
                  "max": 100,
                  "step": 1,
                  "label": "Image Border Radius",
                  "unit": "px",
                  "default": 0
                },    
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                },
                {
                    "type":"textarea",
                    "id":"title",
                    "label":"Custom Text",
                    "default":"SHOP WOMEN"                    
				},      
                {
                    "type": "url",
                    "id": "url",
                    "label": "Link (optional)",
                    "info": "Keep it empty to use 'collection url'."
                },
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Vertical Alignment",
                    "default": "f-ass",
                    "options": [             
                        {"value": "f-ass", "label": "Top"},
                        {"value": "f-asc", "label": "Middle"},
                        {"value": "f-ase", "label": "Bottom"}         
                    ]
                },
              {
        "type": "select",
        "id": "btn-style",
        "label": "Button Style",
        "default": "btn1",
        "options": [
          {
            "label": "Button 1",
            "value": "btn1"
          },
          {
            "label": "Button 2",
            "value": "btn2"
          },
		  {
            "label": "Button 3",
            "value": "btn3"
          },
 		  {
            "label": "Button 4",
            "value": "btn4"
          },
 		 {
            "label": "Button 5",
            "value": "btn5"
          },		
		  {
			"label": "Button 6",
			"value": "btn6"
		  },
          {
              "label": "Button 7 Gradient",
              "value": "btn7"
          },
          {
              "label": "Button 8 Gradient",
              "value": "btn8"
          },
		  {
			"label": "Link",
			"value": "btnLink"
		  }  
        ]
      },
          {
                    "type": "select",
                    "id": "btn-size",
                    "label": "Button Size",
                    "default": "btn-md",
                    "options": [
                        {
                            "label": "Small",
                            "value": "btn-sm"
                        },
                        {
                            "label": "Medium",
                            "value": "btn-md"
                        },
                        {
                            "label": "Large",
                            "value": "btn-lg"
                        } 		  
                    ]
                },	                 
                {
                    "type": "select",
                    "id": "width",
                    "label": "Column width",
                    "default": "wd50",
                    "options": [
                         {
                            "value": "wd20",
                            "label": "20%"
                        },
                        {
                            "value": "wd25",
                            "label": "25%"
                        },
                        {
                            "value": "wd33",
                            "label": "33%"
                        },
                        {
                            "value": "wd50",
                            "label": "50%"
                        },
                        {
                            "value": "wd66",
                            "label": "66%"
                        },
                        {
                            "value": "wd75",
                            "label": "75%"
                        },
                        {
                            "value": "w_100",
                            "label": "100%"
                        }
                    ]
                }
            ]
        },
      {
            "type": "video",
            "name": "Video",
            "settings": [
                 {
                    "type": "checkbox",
                    "id": "hidem",
                    "label": "Hide in mobile?",
                    "default": false			
                },	  
                {
                    "type": "header",       
                    "content": "YouTube or Vimeo ===="          
                },
                {
                    "type": "select",
                    "id": "video_style",
                    "label": "Select Style",
                    "default": "videopp",			
                    "options": [
                        {
                            "value": "videopp",
                            "label": "Popup - Youtube Or Vimeo"
                        },
                        {
                            "value": "bgvideo",
                            "label": "Background Video - MP4"
                        }			  
                    ]
                },
                {
                    "type": "image_picker",
                    "id": "poster",
                    "label": "Popup Poster"
                },
                {
                    "type": "video_url",
                    "id": "video_url",
                    "label": "Video Link",
                    "accept": ["youtube", "vimeo"]                   
                },		        		
                {
                    "type": "header",
                    "content": "MP4 Video ===="
                }, 
                {
                    "type": "video",
                    "id": "mp4video",
                    "label": "Select Video"                   
                },
                {
                    "type":"checkbox",
                    "id":"controls",
                    "label":"Enable Controls?",
                    "default": false,
                    "info":"Show video play/pause buttons"
                },
                {
                    "type":"checkbox",
                    "id":"is_autoplay",
                    "label":"Enable Autoplay?",
                    "default": false,
                    "info":"Autoplay will not work on Mobile with SOUND"
                },
                {
                    "type":"checkbox",
                    "id":"sound",
                    "label":"Enable Sound?",
                    "default": false,
                    "info":"Autoplay will not work on Mobile with SOUND"
                },
                {
                    "type": "range",
                    "id": "vbr",
                    "min": 0,
                    "max": 30,
                    "step": 1,
                    "label": "Video Border Radius",
                    "unit": "px",
                    "default": 0
                },
                {
                    "type": "header",
                    "content": "Background Video Caption"
                },
               {
                    "type": "range",
                    "id": "cntwd",
                    "min": 1000,
                    "max": 2000,
                    "step": 10,
                    "label": "Container Max Width (desktop)",
                    "unit": "px",
                    "default": 1200
                },
                {
                    "type": "textarea",
                    "id": "title",
                    "label": "Video Text",
                    "default": "VIDEO ENCOURAGE CUSTOMERS TO PURCHASE MORE"
                },  
                {	
                    "type": "checkbox",
                    "id": "hide_text",
                    "label": "Hide Text in Mobile?",
                    "default": false		  
                },
                {
                    "type": "range",
                    "id": "fs",
                    "label": "Font Size",
                    "default": 25,
                    "min": 10,
                    "max": 100,
                    "step": 1,
                    "unit": "px"
                }, 
              {
                    "type": "range",
                    "id": "fsm",
                    "label": "Font Size (mobile)",
                    "default": 20,
                    "min": 10,
                    "max": 60,
                    "step": 1,
                    "unit": "px"
                },
                {
                    "type": "select",
                    "id": "ff",
                    "label": "Font Family",
                    "default": "ft1",
                    "options": [
                        {
                            "value": "ft1",
                            "label": "Font 1"
                        },
                        {
                            "value": "ft2",
                            "label": "Font 2"
                        },
                        {
                            "value": "ft3",
                            "label": "Font 3"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "fw",
                    "label": "Font Weight",
                    "default": "600",
                    "options": [
                        {
                            "value": "300",
                            "label": "Light"
                        },
                        {
                            "value": "400",
                            "label": "Regular"
                        },
                        {
                            "value": "500",
                            "label": "Medium"
                        },
                        {
                            "value": "600",
                            "label": "Semi Bold"
                        },
                        {
                            "value": "700",
                            "label": "Bold"
                        }
                    ]
                }, 	
                {
                    "type": "range",
                    "id": "lh",
                    "label": "Line Height",
                    "default": 1.3,
                    "min": 0.7,
                    "max": 2.0,
                    "step": 0.1,
                    "info": "Space between text lines. Default is set to 1.3"
                }, 	
                {
                    "type": "color",
                    "id": "cl",
                    "label": "Text Color",
                    "default": "#fff"
                },
                {
                    "type": "checkbox",
                    "id": "text-align",
                    "label": "Text Align Left",
                    "default": false            
                },
                {
                  "type": "select",
                  "id": "text_align",
                  "label": "Position(desktop)",
                  "default": "f-jcc-md f-aie-md",			
                  "options": [
                      { "label": "Top Left",      "value": "f-ais-md f-jcs-md" },
                      { "label": "Top Center",    "value": "f-jcc-md f-ais-md" },
                      { "label": "Top Right",     "value": "f-jce-md f-ais-md" },             
                      { "label": "Left",  		  "value": "f-aic-md f-jcs-md" },
                      { "label": "Center", 		  "value": "f-jcc-md f-aic-md" },
                      { "label": "Right",  		  "value": "f-jce-md f-aic-md" },
                      { "label": "Bottom Left",   "value": "f-aie-md f-jcs-md" },						 
                      { "label": "Bottom Center", "value": "f-jcc-md f-aie-md" }, 						 
                      { "label": "Bottom Right",  "value": "f-jce-md f-aie-md" }
                  ]
              },
                {
                    "type": "text",
                    "id": "btntxt",
                    "label": "Button Text",
                    "default":"Shop Now"
                },
                {
                    "type": "url",
                    "id": "btnurl",
                    "label": "Button Url",
                    "default":"/"
                },
               {
					"type": "select",
					"id": "btn-style",
					"label": "Select Button",
					"default": "btn1",
					"options": [
					  {
						"label": "Button 1",
						"value": "btn1"
					  },
					  {
						"label": "Button 2",
						"value": "btn2"
					  },
					  {
						"label": "Button 3",
						"value": "btn3"
					  },
					  {
						"label": "Button 4",
						"value": "btn4"
					  },
					 {
						"label": "Button 5",
						"value": "btn5"
					  },
					  {
						"label": "Button 6",
						"value": "btn6"
					  },
                      {
                          "label": "Button 7 Gradient",
                          "value": "btn7"
                      },
                      {
                          "label": "Button 8 Gradient",
                          "value": "btn8"
                      },
					  {
						"label": "Link",
						"value": "btnLink"
					  }  
					]
			   },
                {
                    "type": "checkbox",
                    "id": "hide_btn",
                    "label": "Hide Button in Mobile?",
                    "default": true,	
                    "info":"Due to limited space on mobile, We advise either hide button or text."
                },          
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Vertical Alignment",
                    "default": "f-ass",
                    "options": [             
                        {"value": "f-ass", "label": "Top"},
                        {"value": "f-asc", "label": "Middle"},
                        {"value": "f-ase", "label": "Bottom"}         
                    ]
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Column width",
                    "default": "wd50",
                    "options": [
                         {
                            "value": "wd20",
                            "label": "20%"
                        },
                        {
                            "value": "wd25",
                            "label": "25%"
                        },
                        {
                            "value": "wd33",
                            "label": "33%"
                        },
                        {
                            "value": "wd50",
                            "label": "50%"
                        },
                        {
                            "value": "wd66",
                            "label": "66%"
                        },
                        {
                            "value": "wd75",
                            "label": "75%"
                        },
                        {
                            "value": "w_100",
                            "label": "100%"
                        }
                    ]
                }
            ]
        },
        {
            "type": "html",
            "name": "Custom HTML",
            "settings": [
                 {
                    "type": "checkbox",
                    "id": "hidem",
                    "label": "Hide in mobile?",
                    "default": false			
                },	  
                {
                    "type": "html",
                    "id": "code",
                    "label": "HTML"
                },          
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Vertical Alignment",
                    "default": "f-ass",
                    "options": [             
                        {"value": "f-ass", "label": "Top"},
                        {"value": "f-asc", "label": "Middle"},
                        {"value": "f-ase", "label": "Bottom"}         
                    ]
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Column width",
                    "default": "wd50",
                    "options": [
                       {
                            "value": "wd20",
                            "label": "20%"
                        },
                        {
                            "value": "wd25",
                            "label": "25%"
                        },
                        {
                            "value": "wd33",
                            "label": "33%"
                        },
                        {
                            "value": "wd50",
                            "label": "50%"
                        },
                        {
                            "value": "wd66",
                            "label": "66%"
                        },
                        {
                            "value": "wd75",
                            "label": "75%"
                        },
                        {
                            "value": "w_100",
                            "label": "100%"
                        }
                    ]
                }
            ]
        }       
    ],
    "presets": [
        {
            "name": "Custom Block",      
            "blocks": [
                {
                    "type": "text"
                },
                {
                    "type": "text"
                }
            ]
        }
    ]
}
{% endschema %}