{%- liquid
	assign product = section.settings.product
	assign secSt = section.settings
	assign current_variant = product.selected_or_first_available_variant
    assign product_form_id = 'product-form-' | append: section.id
	assign featured_img = current_variant.featured_media | default: product.featured_image

	assign zoomImg = '1800x1800'
	assign enable_zoom = secSt.przoom

	if secSt.image-col == "sm"
		assign pimgcol_wd = 'wd40-md'
		assign pdescol_wd = 'wd60-md'
		assign zoomImg = '1200x1200'
		assign pimgsize = '800x'
	elsif secSt.image-col == "md"
		assign pimgcol_wd = 'wd50-md'
		assign pdescol_wd = 'wd50-md'
		assign pimgsize = '1000x'
	else
		assign pimgcol_wd = 'wd60-md'
		assign pdescol_wd = 'wd40-md'
		assign pimgsize = '1100x'
	endif

	assign className = ""
	assign slidefade = true
	assign centermode = left
	assign watchCss = false
	assign slHeight = true
	assign dotNav = false

-%}
{% if secSt.prthumbs != "bottom" %}
    {% capture imgSt %}--imgw:calc(100% - 90px);{% if secSt.prthumbs == "left" %}--od:1;{% endif %}{% endcapture %}
{% else %}
    {% capture imgSt %}--imgw:100%;{% endcapture %}
{% endif %}
{%- if product.quantity_price_breaks_configured? -%}
    <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<div class="sec_cov{% if secSt.hidem %} hide-sm{% endif %}{% if secSt.hided %} hide-md hide-lg{% endif %}" style="--sbg:{% if secSt.bgg != blank %}{{ secSt.bgg }}{% else %}{{ secSt.bg }}{% endif %};--sst:{{ secSt.sst }}px;--ssb:{{ secSt.ssb }}px;--sstm:{{ secSt.sstm }}px;--ssbm:{{ secSt.ssbm }}px">
	 <div class="prstl1{% if secSt.sw %} fw-sec{% else %} page-width{% endif %}" data-style="1" id="ProductSection-{{ section.id }}" data-url="{{ product.url }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
	{% capture productImages %}
        {%- if product.title != blank -%}
        <media-gallery id="MediaGallery-{{ section.id }}{{ id_append }}" data-section="#pis{{ section.id }}" data-target="media{{ featured_img.id }}" class="fl f-jcsb f-col{% if secSt.prthumbs != "bottom" %} f-row-md{% endif %}">
    		<div class="pr_lg_img{% if product.media.size == 1 %} w_100{% endif %}" style="{{ imgSt }}">
    			<div id="pis{{ section.id }}" class="primgSlider swiper p{{ secSt.prstyle }}" 
                     data-slider-options='{ "lazy":true, "preloadImages":false, "slidesPerView":"auto", "loopedSlides":4, "loop":true, "centeredSlides":"center", "navigation":{ "nextEl":".swiper-button-next","prevEl":".swiper-button-prev" },
                        "thumbs":{ "swiper":{ "el":".pr_thumbs{{ section.id }}", "slidesPerView":"auto", "direction":"{% if secSt.prthumbs != "bottom" %}vertical{% else %}horizontal{% endif %}", "spaceBetween":15, "slideThumbActiveClass": "swiper-slide-thumb-active", "navigation":{ "nextEl":".swiper-button-next.thumb", "prevEl":".swiper-button-prev.thumb" }}}}'>
                    <div class="swiper-wrapper {{ className }}">
    			{% for media in product.media %}
    				{%- assign imgNo = forloop.index0 -%}
    				{% case media.media_type %}
    					{% when 'image' %}
    						<{% if secSt.prlightbox %}a href="{{ media | img_url: 'master' }}"{% else %}div{% endif %} data-id="media{{ media.id }}" data-pswp-width="{{ media.width }}" data-pswp-height="{{ media.height }}" class="swiper-slide pr_photo p{{ secSt.prstyle }}{% if secSt.prlightbox %} pswipe{% endif %}{% if enable_zoom %} przoom{{ section.id }}{% endif %}" {% if enable_zoom %}data-zoom="{{ media | img_url: zoomImg }}"{% endif %} data-slide="{{ imgNo }}">
    							<span class="imgWrapper" style="max-width:{% if settings.pimg_maxHt != blank %}{{ settings.pimg_maxHt | times: media.aspect_ratio }}{% else %}{{ media.width }}{% endif %}px;">
                                    {{ media | image_url: width: 1200 | image_tag: loading: lazy, sizes: sizes, widths: '350, 600, 900, 1200', class: 'imgFl swiper-lazy' }}
                                    <div class="swiper-lazy-preloader"></div>
    							</span>
    						</{% if secSt.prlightbox %}a{% else %}div{% endif %}>
    					{% when 'external_video' %}
    						<div class="swiper-slide pr_photo p{{ secSt.prstyle }} videoSlide" data-media-id="{{ media.id }}" data-slide="{{ imgNo }}">
    							<div class="vd-wrap">{{ media | external_video_tag }}</div>
    						</div>
    					{% when 'video' %}
    						<div class="swiper-slide pr_photo p{{ secSt.prstyle }} videoSlide" data-media-id="{{ media.id }}" data-slide="{{ imgNo }}">
    							{%- assign videoThumb = media | img_url: '700x' -%}
    							{{ media | video_tag: poster: videoThumb, controls: true, muted: true, loop: true, playsinline: true, webkit-playsinline: true }}
    						</div>
    					{% when 'model' %}
                            <product-model class="swiper-slide pr_photo p{{ secSt.prstyle }} pmd swiper-no-swiping deferred-media media media--transparent no-js-hidden" data-media-id="{{ media.id }}">
                                <div class="pr" style="padding-bottom:100%;">
                                    <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
                                      <span class="deferred-media__poster-button fl f-aic f-jcc">
                                          <span class="hidden_txt">{{ 'products.product.play_model' | t }}</span>
                                          <svg class="at-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M239.1 7.5l-208 78c-18.7 7-31.1 25-31.1 45v225.1c0 18.2 10.3 34.8 26.5 42.9l208 104c13.5 6.8 29.4 6.8 42.9 0l208-104c16.3-8.1 26.5-24.8 26.5-42.9V130.5c0-20-12.4-37.9-31.1-44.9l-208-78C262 3.4 250 3.4 239.1 7.5zm16.9 45l208 78v.3l-208 84.5-208-84.5v-.3l208-78zM48 182.6l184 74.8v190.2l-184-92v-173zm232 264.9V257.4l184-74.8v172.9l-184 92z"/></svg>
                                      </span>
                                      {{ media.preview_image | image_url: width: 1200 | image_tag: loading: lazy, sizes: sizes, widths: '350, 600, 900, 1200', class: 'imgFl' }}
                                    </button>
                                    <template>{{ media | media_tag: image_size: pimgsize, toggleable: true }}</template>
                                </div>
    						</product-model>
    					{% else %}
    						<div class="swiper-slide pr_photo p{{ secSt.prstyle }}" style="padding-top:100%;" data-media-id="{{ media.id }}">{{ media | media_tag }}</div>
    					{% endcase %}
    				{% endfor %}
                    </div>
                    <div class="swarw swiper-button-next"></div>
                    <div class="swarw swiper-button-prev"></div>
    			</div>
    
    			{% assign first_3d_model = product.media | where: "media_type", "model" | first %}
    			{%- if first_3d_model -%}
    		        <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
                    <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
    				<button aria-label="{{ 'products.product.view_in_space_label' | t }}" class="btn w_100 hide product-single__view-in-space" data-shopify-xr data-shopify-model3d-id="{{ first_3d_model.id }}" data-shopify-title="{{ product.title | escape }}" data-shopify-xr-hidden>
    					<span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
    				</button>
    			{%- endif -%}
    
    			{% if settings.pr_lbl %}
    				<span class="pr_lbl {{ settings.select_label_style }}">
    					{%- if settings.sale_lbl and product.compare_at_price > product.price and settings.sale_lbl -%}
                            <span class="lbl on-sale">
                                {% if settings.sale_label_style == "salelabel" %}
                                  {{ 'products.product.on_sale' | t}}
                                {% else %}
                                  -{{ product.compare_at_price_min | minus: product.price | times: 100 | divided_by: product.compare_at_price_min }}%
                                {% endif %}
                            </span>
                          {%- endif -%}
    					{%- if product.tags contains settings.pr_label1 -%}<span class="lbl pr_lbl1">{{ settings.pr_label1 }}</span>{%- endif -%}
    					{%- if product.tags contains settings.pr_label2 -%}<span class="lbl pr_lbl2">{{ settings.pr_label2 }}</span>{%- endif -%}
    					{%- if product.tags contains settings.pr_label3 -%}<span class="lbl pr_lbl3">{{ settings.pr_label3 }}</span>{%- endif -%}
                        {%- if product.tags contains settings.pr_label4 -%}<span class="lbl pr_lbl4">{{settings.pr_label4}}</span>{%- endif -%}
                        {%- if product.tags contains settings.pr_label5 -%}<span class="lbl pr_lbl5">{{settings.pr_label5}}</span>{%- endif -%}
    				</span>
    			{% endif %}
    		</div>
            <div class="thumbs_nav {{ secSt.prthumbs }} pr{% if secSt.prstyle == "2" or secSt.prstyle == "3" or secSt.prstyle == "4" or secSt.prstyle == "5" %} hide{% endif %}{% if product.media.size == 1 %} hide{% endif %}">
                <div class="pr_thumbs swiper pr_thumbs{{ section.id }}" data-view="{% if secSt.prthumbs == "bottom" %}7{% else %}4{% endif %}">
                    <div class="swiper-wrapper">
                    {% for media in product.media %}
                        {%- assign imgNo = forloop.index0 -%}
                        <div class="swiper-slide pr_thumbs_item{% if media.media_type == 'video' or media.media_type == 'external_video' or media.media_type == 'model' %} vd{% endif %}" data-slide="{{ imgNo }}">
                            <a data-img="{{ media.id }}" href="{{ media | img_url: '100x' }}" class="grid_img pr_thumb pr_thumb{{ section.id }} lazyload of_hidden{% if media.media_type == 'image' %} swipeImg{% endif %}">
                                <img class="imgFt swiper-lazy" src="{{ media | img_url: "150x" }}" width="150" height="{{ 150 | divided_by: media.aspect_ratio | times:100 | round }}" alt="{{ media.alt | default: shop.name | escape }}">
                                {% if media.media_type == 'video' or media.media_type == 'external_video'  %}<svg class="at-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6zM48 453.5v-395c0-4.6 5.1-7.5 9.1-5.2l334.2 197.5c3.9 2.3 3.9 8 0 10.3L57.1 458.7c-4 2.3-9.1-.6-9.1-5.2z"/></svg>{% endif %}
                                {% if media.media_type == 'model' or media.media_type == 'external_video'  %}<svg class="at-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M239.1 7.5l-208 78c-18.7 7-31.1 25-31.1 45v225.1c0 18.2 10.3 34.8 26.5 42.9l208 104c13.5 6.8 29.4 6.8 42.9 0l208-104c16.3-8.1 26.5-24.8 26.5-42.9V130.5c0-20-12.4-37.9-31.1-44.9l-208-78C262 3.4 250 3.4 239.1 7.5zm16.9 45l208 78v.3l-208 84.5-208-84.5v-.3l208-78zM48 182.6l184 74.8v190.2l-184-92v-173zm232 264.9V257.4l184-74.8v172.9l-184 92z"/></svg>{% endif %}
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </media-gallery>
        {%- else -%}
             <div class="w_100">{{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}</div>
        {%- endif -%}
	{% endcapture %}

	<div class="grid f-ais product-single">
		<div class="gitem {{ pimgcol_wd }} pr_photoes fl f-jcsb f-col{% if settings.thumbnail_pos != "bottom"%} f-row-md{% endif %}">{{ productImages | strip_newlines | remove: "  " | remove: "	" }}</div>
		<div class="gitem {{ pdescol_wd }} pr_meta pr{% if secSt.image-col == "lg" %} small_view{% endif %}">
			<product-info id="ProductInfo-{{ section.id }}" data-section="{{ section.id }}" data-url="{{ product.url }}" class="product__info-container wrap-product-info">
				{% for block in section.blocks %}
					{% assign blkst = block.settings %}
					{% case block.type %}
					{%  when 'hr' %}
						<hr class="mt0 mb{{ blkst.bm }}" style="border-color: {{ blkst.hrc }}" /> 
					{%  when 'title' %}
						<h2 class="pr_title {{ blkst.fw }} mb{{ blkst.bm }} {% if blkst.fcase %}ttu{% endif %}" style="--ptc:{{ blkst.cl }};--fs:{{ blkst.fs }}px;--fsm:{{ blkst.fsm }}px;" {{ block.shopify_attributes }}>
                            {%- if product.title != blank -%}<a href="{{ product.url }}">{{ product.title }}</a>{%- else -%}{{ 'homepage.onboarding.product_title' | t }}{%- endif -%}
                        </h2>
					{%  when 'price' %}
						{%- unless settings.hide-price or product.metafields.custom.product_group != blank -%}
							<div id="price-{{ section.id }}" role="status" class="priceSingle mb{{ blkst.bm }}" style="--pcl:{{ blkst.pcl }};--pcls:{{ blkst.pcls }};--fs:{{ blkst.fs }}px; --fsm:{{ blkst.fsm }}px;--pfw:{{ blkst.pfw }};--salet:{{ blkst.salet }};--salebg:{{ blkst.salebg }};" {{ block.shopify_attributes }}>
								{%- liquid
									assign compareprice = current_variant.compare_at_price
									assign price = current_variant.price | default: 1999
									assign money_price = price | money
									if settings.curCode
										assign money_price = price | money_with_currency
									endif
								-%}
								<p class="mb5 fl f-aic price__container">
									{%- if compareprice > price -%}
										<span class="hidden_txt">{{ 'products.product.regular_price' | t }}</span>
										<s class="pr_price cmpr">{{ compareprice | money }}</s>
										<span class="pr_price price-item orpr sale">{{ money_price }}</span>
									{%- else -%}
										<span class="hidden_txt">{{ 'products.product.regular_price' | t }}</span>
										<s class="pr_price cmpr hide">{{ compareprice | money }}</s>
										<span class="pr_price price-item orpr">{{ money_price }}</span>
									{%- endif -%}

                                    {%- if product.title != blank -%}
                                        {%- if blkst.saved -%}
                                            <span class="salebadge {{ blkst.fw }}{% unless current_variant.compare_at_price > current_variant.price %} hide{% endunless %}">			
                                                <span itemprop="name">{{ 'products.product.you_save' | t }} </span>
                                                <span id="save">{{ compareprice | minus: price | money }}</span>
                                                {% comment %}<span class="off">(<span>{{ current_variant.compare_at_price | minus: current_variant.price | times: 100 | divided_by: current_variant.compare_at_price }}</span>%)</span>{% endcomment %}
                                            </span>
                                        {%- endif -%}
                                    {%- else -%}
                                        <span class="salebadge {{ blkst.fw }}">
                                            <span itemprop="name">{{ 'products.product.sold_out' | t }} </span>
                                        </span>
                                    {%- endif -%}
								</p>
								<span class="price__unit{% unless current_variant.unit_price_measurement %} hide{% endunless %}">
									<br />
									<span data-unit-price>{{ current_variant.unit_price | money }}</span> /
									<span data-unit-base>
										{%- if current_variant.unit_price_measurement -%}
											{%- if current_variant.unit_price_measurement.reference_value != 1 -%}{{ current_variant.unit_price_measurement.reference_value }}{%- endif -%}
											{{ current_variant.unit_price_measurement.reference_unit }}
										{%- endif -%}
									</span>
								</span>
                                {%- if blkst.taxship and shop.taxes_included or shop.shipping_policy.body != blank -%}
                                    <div class="product__policies mb{{ blkst.bm }}" data-product-policies>
                                        {% if shop.taxes_included %}{{ 'products.product.include_taxes' | t }} &nbsp;{% endif %}
                                        {% if shop.shipping_policy.body != blank %}{{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}{% endif %}
                                    </div>
                                {%- endif -%}
                                {%- if product.title != blank -%}
                                <div {{ block.shopify_attributes }}>
                                  {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
                                  {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
                                    <input type="hidden" name="id" value="{{ current_variant.id }}">
                                    {{ form | payment_terms }}
                                  {%- endform -%}
                                </div>
                                {%- endif -%}
                            </div>
						{%- endunless -%}
					{%  when 'text' %}
						<div class="rgTxt mb{{ blkst.bm }}" style="--cl:{{ blkst.cl }};--fs:{{ blkst.fs }}px;--fsm:{{ blkst.fsm }}px;--fw:{{ blkst.fw }};" {{ block.shopify_attributes }}>
                            {{ blkst.text }}
                        </div>
					{%- when '@app' -%}
						{% render block %}
					{% when 'coltabs' %}
						<details class="sumtabs mb{{ blkst.bm }}">  
							<summary class="pr fl f-aic" {{ block.shopify_attributes }}>
								{% if blkst.tabicon != blank %}<span><img class="at-icon mr10" src="{{ blkst.tabicon }}" width="18" height="18" alt="{{ blkst.title | default: shop.name | escape }}" /></span>{% endif %}
								{{ blkst.title }} {% render 'icon-arrow', class: 'ml_auto' %}
							</summary>
							<div class="rte mb20{% if blkst.tabicon != blank %} pdside mb20{% endif %}" {{ block.shopify_attributes }}>
								{% if blkst.richtxt contains "metafield-multi_line_text_field" %}
									<div class="mtmltxt">{{ blkst.richtxt }}</div>
								{% else %}
									{{ blkst.richtxt }}
								{% endif %}

							</div>
						</details>
					{%  when 'rating' %}            
						<div class="mb{{ blkst.bm }}" {{ block.shopify_attributes }}><a class="reviewLink" href="#tab{{ reviewtabId }}">{% render 'ratings' %}</a></div>
                    {%- when 'variants' -%}
                        {% render 'variant-picker', product:product, block:block, sectionId:section.id, product_form_id:product_form_id, update_url:false %}
					{%  when 'cta' %}
                        <div class="ctabtn" {{ block.shopify_attributes }}>
                            <div class="fl f-aie f-jcsb">
                                <div id="Quantity-Form-{{ section.id }}" class="product-form__input product-form__quantity">
                                    {%- assign cart_qty = cart | item_count_for_variant: current_variant.id -%}
                                    <label class="quantity__label form__label{% if block.settings.qlbl %} hide{% endif %}" for="Quantity-{{ section.id }}">
                                        {{ 'products.product.quantity.label' | t }}
                                        <span class="quantity__rules-cart no-js-hidden{% if cart_qty == 0 %} hidden{% endif %}"><span class="loading__spinner hidden">{% render 'icon-loading' %}</span><span> ({{- 'products.product.quantity.in_cart_html' | t: quantity: cart_qty -}})</span></span>
                                    </label>
                                    <div class="price-per-item__container">
                                        <quantity-input class="qtyField quantity mb15" data-url="{{ product.url }}" data-section="{{ section.id }}">
                                            <button type="button" class="quantity__button qtyBtn minus" name="minus" aria-label="Decrease quantity">{% render 'icon-minus' %}</button>
                                            <input class="quantity__input pr_input qty mianQty" type="number" name="quantity" id="Quantity-{{ section.id }}" data-cart-quantity="{{ cart_qty }}"
                                                data-min="{{ current_variant.quantity_rule.min }}" min="{{ current_variant.quantity_rule.min }}"
                                                {% if current_variant.quantity_rule.max != null %}
                                                    data-max="{{ current_variant.quantity_rule.max }}" max="{{ current_variant.quantity_rule.max }}"
                                                {% endif %}
                                                step="{{ current_variant.quantity_rule.increment }}" value="{{ current_variant.quantity_rule.min | default: 1 }}" form="{{ product_form_id }}">
                                            <button type="button" class="quantity__button qtyBtn plus" name="plus" aria-label="Increase quantity">{% render 'icon-plus' %}</button>
                                        </quantity-input>
                                        {%- liquid
                                            assign volume_pricing_array = current_variant.quantity_price_breaks | sort: 'quantity' | reverse
                                            assign current_qty_for_volume_pricing = cart_qty | plus: current_variant.quantity_rule.min
                                            if cart_qty > 0
                                                assign current_qty_for_volume_pricing = cart_qty | plus: current_variant.quantity_rule.increment
                                            endif
                                        -%}
                                        {%- if product.quantity_price_breaks_configured? -%}
                                            <price-per-item class="no-js-hidden" id="Price-Per-Item-{{ section.id }}" data-section-id="{{ section.id }}" data-variant-id="{{ current_variant.id }}">
                                                {%- if current_variant.quantity_price_breaks.size > 0 -%}
                                                    {%- assign variant_price_compare = current_variant.compare_at_price -%}
                                                    <div class="price-per-item">
                                                        {%- if variant_price_compare -%}
                                                            <dl class="price-per-item--current">
                                                                <dt class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</dt>
                                                                <dd><s class="variant-item__old-price">{{ variant_price_compare | money_with_currency }}</s></dd>
                                                            </dl>
                                                        {%- endif -%}
                                                        {%- if current_qty_for_volume_pricing < volume_pricing_array.last.minimum_quantity -%}
                                                            {%- assign variant_price = current_variant.price | money_with_currency -%}
                                                            <span class="price-per-item--current">{{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}</span>
                                                        {%- else -%}
                                                            {%- for price_break in volume_pricing_array -%}
                                                                {%- if current_qty_for_volume_pricing >= price_break.minimum_quantity -%}
                                                                    {%- assign price_break_price = price_break.price | money_with_currency -%}
                                                                    <span class="price-per-item--current">{{- 'products.product.volume_pricing.price_at_each' | t: price: price_break_price -}}</span>
                                                                    {%- break -%}
                                                                {%- endif -%}
                                                            {%- endfor -%}
                                                        {%- endif -%}
                                                    </div>
                                                {%- else -%}
                                                    {%- assign variant_price = current_variant.price | money_with_currency -%}
                                                    {%- assign variant_price_compare = current_variant.compare_at_price -%}
                                                    <div class="price-per-item">
                                                        {%- if variant_price_compare -%}
                                                            <dl class="price-per-item--current">
                                                                <dt class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</dt>
                                                                <dd><s class="variant-item__old-price">{{ variant_price_compare | money_with_currency }}</s></dd>
                                                                <dt class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</dt>
                                                                <dd><span class="price-per-item--current">{{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}</span></dd>
                                                            </dl>
                                                        {%- else -%}
                                                            <span class="price-per-item--current">{{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}</span>
                                                        {%- endif -%}
                                                    </div>
                                                {%- endif -%}
                                            </price-per-item>
                                        {%- endif -%}
                                    </div>
                                    <div class="quantity__rules caption no-js-hidden" id="Quantity-Rules-{{ section.id }}">
                                        {%- if current_variant.quantity_rule.increment > 1 -%}
                                            <span class="divider">{{- 'products.product.quantity.multiples_of' | t: quantity: current_variant.quantity_rule.increment -}}</span>
                                        {%- endif -%}
                                        {%- if current_variant.quantity_rule.min > 1 -%}
                                            <span class="divider">{{- 'products.product.quantity.minimum_of' | t: quantity: current_variant.quantity_rule.min -}}</span>
                                        {%- endif -%}
                                        {%- if current_variant.quantity_rule.max != null -%}
                                            <span class="divider">{{- 'products.product.quantity.maximum_of' | t: quantity: current_variant.quantity_rule.max -}}</span>
                                        {%- endif -%}
                                    </div>
                                    {%- if product.quantity_price_breaks_configured? -%}
                                        <volume-pricing class="parent-display no-js-hidden" id="Volume-{{ section.id }}">
                                            {%- if current_variant.quantity_price_breaks.size > 0 -%}
                                                <span class="caption-large">{{ 'products.product.volume_pricing.title' | t }}</span>
                                                <ul class="list-unstyled no-js-hidden">
                                                    <li>
                                                        <span>{{ current_variant.quantity_rule.min }}+</span>
                                                        {%- assign price = current_variant.price | money_with_currency -%}
                                                        <span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: variant_price }}">{{- 'sections.quick_order_list.each' | t: money: price -}}</span>
                                                    </li>
                                                    {%- for price_break in current_variant.quantity_price_breaks -%}
                                                        {%- assign price_break_price = price_break.price | money_with_currency -%}
                                                        <li class="{%- if forloop.index >= 3 -%}show-more-item hidden{%- endif -%}">
                                                            <span>{{- price_break.minimum_quantity -}}<span aria-hidden="true">+</span></span>
                                                            <span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: price_break_price }}">{{- 'sections.quick_order_list.each' | t: money: price_break_price -}}</span>
                                                        </li>
                                                    {%- endfor -%}
                                                </ul>
                                                {%- if current_variant.quantity_price_breaks.size >= 3 -%}
                                                    <show-more-button>
                                                        <button class="button-show-more link underlined-link" id="Show-More-{{ section.id }}" type="button"><span class="label-show-more label-text"><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t }}</span></button>
                                                    </show-more-button>
                                                {%- endif -%}
                                            {%- endif -%}
                                        </volume-pricing>
                                    {%- endif -%}
                                </div>
                                {%- if blkst.askpr or settings.wishlist -%}
                                    <div class="infolinks mfp-link fl f-jcsb f-wrap mb20">
                                        {%- if settings.wishlist -%}<a class="wishlist addto-wishlist" href="{{ pages[settings.wishlist_page].url }}" rel="{{ product.handle | handleize }}">{% render 'icon-wishlist' %} <span class="msg">{{ 'products.wishlist.add_to_wishlist' | t }}</span></a>{%- endif -%}                             
                                        {%- if blkst.askpr and settings.catalog-mode == false -%}
                                            <a href="#inquiry" data-effect="mfp-zoom-in" class="ask-ques mfp ml15">
                                                <svg class="at-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 340c-15.464 0-28 12.536-28 28s12.536 28 28 28 28-12.536 28-28-12.536-28-28-28zm7.67-24h-16c-6.627 0-12-5.373-12-12v-.381c0-70.343 77.44-63.619 77.44-107.408 0-20.016-17.761-40.211-57.44-40.211-29.144 0-44.265 9.649-59.211 28.692-3.908 4.98-11.054 5.995-16.248 2.376l-13.134-9.15c-5.625-3.919-6.86-11.771-2.645-17.177C185.658 133.514 210.842 116 255.67 116c52.32 0 97.44 29.751 97.44 80.211 0 67.414-77.44 63.849-77.44 107.408V304c0 6.627-5.373 12-12 12zM256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8z"/></svg>
                                                {{ 'products.enquiry.link' | t }}
                                            </a>
                                        {%- endif -%}
                                    </div>
                                {%- endif -%}
                            </div>
                            {%- liquid
                                assign gift_card_recipient_feature_active = false
                                if block.settings.gift_recipient and product.gift_card?
                                    assign gift_card_recipient_feature_active = true
                                endif

                                assign show_dynamic_checkout = false
                                if blkst.dynamic_btn and gift_card_recipient_feature_active == false
                                    assign show_dynamic_checkout = true
                                endif
                            -%}
                            {%- if product != blank -%}

                                {% if product.metafields.custom.external_link_text != blank and product.metafields.custom.external_link != blank %} 
                                    <a href="{{ product.metafields.custom.external_link }}"  class="exlink btn pr_btn {{ settings.ext-btn }}" target="_blank">{{ product.metafields.custom.external_link_text }}</a>
                               {% else %}
                                <product-form class="db product-form" data-hide-errors="{{ gift_card_recipient_feature_active }}" data-section-id="{{ section.id }}">
                                    <div class="product-form__error-message-wrapper ermsg mb15" role="alert" hidden>
                                        {% render 'icon-error' %} <span class="product-form__error-message"></span>
                                    </div>
                                    {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                        <input type="hidden" name="id" value="{{ current_variant.id }}" {% if current_variant.available == false or quantity_rule_soldout %}disabled{% endif %} class="product-variant-id">

                                        {%- if gift_card_recipient_feature_active -%}
                                            {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
                                        {%- endif -%}

                                        <div class="product-form__buttons">
                                            {%- liquid
                                                assign check_against_inventory = true
                                                if current_variant.inventory_management != 'shopify' or current_variant.inventory_policy == 'continue'
                                                    assign check_against_inventory = false
                                                endif
                                                if current_variant.quantity_rule.min > current_variant.inventory_quantity and check_against_inventory
                                                    assign quantity_rule_soldout = true
                                                endif
                                            -%}
                                            <button id="ProductSubmitButton-{{ section.id }}" type="submit" name="add" class="btn {{ block.settings.atc-style }} pr_btn product-form__submit"
                                                {% if current_variant.available == false or quantity_rule_soldout %}disabled{% endif %}>
                                                <span class="txt">
                                                    {%- if current_variant.available == false or quantity_rule_soldout -%}
                                                        {{ 'products.product.sold_out' | t }}
                                                    {%- elsif current_variant.available and current_variant.inventory_quantity < 1 and current_variant.inventory_management == "shopify" -%}
                                                        {{ 'products.product.pre_order' | t }}
                                                    {%- else -%}
                                                        {{ 'products.product.add_to_cart' | t }}
                                                    {%- endif -%}
                                                </span>
                                                <div class="loading__spinner hidden">{% render 'icon-loading' %}</div>
                                            </button>

                                            {%- if show_dynamic_checkout -%}
                                                {%- if settings.terms_checkbox -%}
                                                    <label for="prTearm" class="cart_term mb20">
                                                        <input type="checkbox" name="tearm" id="prTearm" class="checkbox custCheck" value="tearm" />
                                                        <span class="checkbox"></span> {{ settings.terms_text }}
                                                    </label>
                                                {%- endif -%}
                                                <div style="--btnbg :{{ blkst.btnbg }};--btntext :{{ blkst.btntext }};--btnbdr :{{ blkst.btnbdr }};">{{ form | payment_button }}</div>
                                            {%- endif -%}
                                        </div>
                                    {%- endform -%}
                                </product-form>
                            {%- else -%}
                                <div class="product-form">
                                  <div class="product-form__buttons form">
                                    <button type="submit" name="add" class="btn btn1 pr_btn product-form__submit" disabled>{{ 'products.product.sold_out' | t }}</button>
                                  </div>
                                </div>
                            {%- endif -%}
                          {% endif %}  {%  comment  %}external_link_text {%  endcomment  %}                 
                        </div>
					{%  when 'countdown' %}    
						<div class="timerl stl{{ blkst.cds }} mb{{ blkst.bm }}" style="--countbg :{{ blkst.bg }};--counttxt :{{ blkst.tcl }};
							--countlbl :{{ blkst.cl }}; --timern:{{ blkst.nfs }}px;--timert:{{ blkst.tfs }}px;" {{ block.shopify_attributes }}>
							{%- if blkst.clbl != blank -%}<label>{{ blkst.clbl }}</label>{%- endif -%}
							<div id="countdown" class="atCounter fl {% if blkst.cds != '1' %} w_100{% endif %}" data-date="{{ product.metafields.custom.countdown }}">
								<span><span class="tm days">00</span>{{ 'date_formats.days' | t }}</span><span><span class="tm hours">00</span>{{ 'date_formats.hours' | t }}</span><span><span class="tm minutes">00</span>{{ 'date_formats.minuts' | t }}</span><span><span class="tm seconds">00</span>{{ 'date_formats.seconds' | t }}</span>
							</div>
						</div>                 
					{% when 'fakesold' %}
						{%- assign ordermsg = blkst.omsg | replace: '[orders]','<strong id="odItems"></strong>' | replace: '[hours]','<strong id="odTime"></strong>' -%}
						<div class="orderMsg mb{{ blkst.bm }}" data-user="{{ blkst.orders }}" data-time="{{ blkst.otime }}" {{ block.shopify_attributes }}>
							{% if blkst.icon %}
								<svg class="at-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 391.41 503.7"><path d="M269.77,309.75c11.73,9.79,25.45,16.65,39.59,16.65,22.79,0,41.54-9.08,52.81-25.55C369,290.8,372.68,278.75,373,265a125.71,125.71,0,0,1,13.79,16.43,159,159,0,0,1,25.88,60.86c7.46,39.15,2.47,95.62-63.74,142.36a13,13,0,1,0,15,21.27c32.47-22.92,55.07-50.54,67.19-82.09,10.31-26.85,12.77-56.73,7.11-86.42a183.14,183.14,0,0,0-30.21-71c-14.18-20-30.83-34.45-46.9-40.68-9.82-2.47-23.9-.23-17.27,15.54,9.54,22.71,1.8,37.62-3.23,45-6.26,9.16-17.38,14.21-31.31,14.21-7.48,0-15.34-3.43-21.56-9.4-5.84-5.6-9.32-12.61-9.32-18.77,0-12.9,5.27-24.15,19.44-41.5l.08-.1.08-.11c11.76-16.82,24.3-37.52,24.3-70.5,0-29.74-11.37-61.44-32-89.26A201.41,201.41,0,0,0,207.07,5.59a12.8,12.8,0,0,0-5.07-1,13,13,0,0,0-10.23,21.08c19,24.08,24,47.5,15.81,73.71-8.34,26.59-29.78,53.55-49.65,76.41-6.87,7.91-14,15.79-21.52,24.13-17,18.82-34.52,38.25-49,57.91-25.61,34.69-37.54,64.53-37.54,93.92A178.37,178.37,0,0,0,83.07,455.93c22.9,32.1,48.61,47,56,50.86a13,13,0,0,0,12-23.11c-12.46-6.48-31.29-21.14-46.75-42.86a150.75,150.75,0,0,1-28.4-89.1c0-23.54,10.31-48.47,32.44-78.45C122.06,254.66,138.05,237,155,218.21c7.47-8.27,15.17-16.8,22.62-25.36,21.63-24.9,45.07-54.54,54.84-85.71C238.47,87.85,239,69,234,50.82c38.17,28.45,62.35,70.34,62.35,109.16,0,25.43-9.27,40.8-19.6,55.58C276.74,215.56,224.11,271.67,269.77,309.75Z" transform="translate(-49.84 -4.56)"/><path d="M321.56,384c-.38,0-.75,0-1.13.05a13,13,0,0,0-11.62,10.28c-5.89,27.86-24.27,39.14-39.5,40.4-1,.08-1.95.13-2.91.13-6.35,0-12.18-1.77-16.4-5-4.8-3.65-7.24-8.91-7.24-15.63,0-21-4.8-42-13.53-59.15-10-19.75-25.08-34.31-43.51-42.1a12.8,12.8,0,0,0-5.07-1,13,13,0,0,0-12.38,17c6.42,19.81,2.38,35.44-5.66,52.81-5.15,11.14-11.56,25-11.56,41.36,0,17.12,6,34.53,17.83,51.75,9.53,13.88,20.36,24.06,26.2,29.55A13,13,0,0,0,213.45,486l0,0,0,0c-11.78-11.29-36.29-34.79-36.29-62.78,0-10.26,3.69-18.34,8.36-28.56,4.18-9.15,10.63-25.34,12-40.83,12.15,15,19.22,36.89,19.22,60.47,0,14.85,6.22,27.77,17.51,36.36,8.72,6.64,20.16,10.29,32.19,10.29,1.67,0,3.37-.07,5-.21a66.37,66.37,0,0,0,42-20.21c-.25,2.24-.57,4.45-1,6.61-2.36,12.68-8.4,29.27-23.77,36.28a13,13,0,1,0,10.81,23.69c19.94-9.09,33.63-28.7,38.56-55.21,3.8-20.43,2.09-43.28-4.46-59.65A13,13,0,0,0,321.56,384Z" transform="translate(-49.84 -4.56)"/></svg>
							{% endif %}
							{{ ordermsg }}
						</div>
						<script>document.getElementById("odItems").innerHTML = Math.floor(Math.random() * {{ blkst.orders }}) + 1;document.getElementById("odTime").innerHTML = Math.floor(Math.random() * {{ blkst.otime }}) + 1;</script>
					{% when 'fakevisitor' %} 
						{%- assign visitormsg = blkst.visitors_msg | replace: '[visitors]','<strong id="uersView"></strong>' -%}
						<div class="user_view mb{{ blkst.bm }}" data-user="{{ settings.visitors }}" data-time="{{ blkst.visitors_time | times:1000 }}" {{ block.shopify_attributes }}>
							{% if blkst.fakeview_ico %}<svg class="at-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M569.354 231.631C512.969 135.948 407.808 72 288 72 168.14 72 63.004 135.994 6.646 231.63a47.999 47.999 0 0 0 0 48.739C63.032 376.053 168.192 440 288 440c119.86 0 224.996-63.994 281.354-159.631a48.002 48.002 0 0 0 0-48.738zM416 228c0 68.483-57.308 124-128 124s-128-55.517-128-124 57.308-124 128-124 128 55.517 128 124zm125.784 36.123C489.837 352.277 393.865 408 288 408c-106.291 0-202.061-56.105-253.784-143.876a16.006 16.006 0 0 1 0-16.247c29.072-49.333 73.341-90.435 127.66-115.887C140.845 158.191 128 191.568 128 228c0 85.818 71.221 156 160 156 88.77 0 160-70.178 160-156 0-36.411-12.833-69.794-33.875-96.01 53.76 25.189 98.274 66.021 127.66 115.887a16.006 16.006 0 0 1-.001 16.246zM224 224c0-10.897 2.727-21.156 7.53-30.137v.02c0 14.554 11.799 26.353 26.353 26.353 14.554 0 26.353-11.799 26.353-26.353s-11.799-26.353-26.353-26.353h-.02c8.981-4.803 19.24-7.53 30.137-7.53 35.346 0 64 28.654 64 64s-28.654 64-64 64-64-28.654-64-64z"/></svg>{% endif %}
							{{ visitormsg }}
						</div>
						<script>document.getElementById("uersView").innerHTML = Math.floor(Math.random() * {{ blkst.visitors }}) + 1;setInterval(function(){ document.getElementById("uersView").innerHTML = Math.floor(Math.random() * {{ blkst.visitors }}) + 1 }, {{ blkst.visitors_time | times:1000 }});</script>
					{% when 'inventory' %}
						{%- liquid
							if current_variant.available and current_variant.inventory_quantity < 1 and current_variant.inventory_management == "shopify"
								assign classes = 'preorder'
								assign clr = blkst.instock
								assign qmsg = 'products.product.pre_order' | t
							elsif current_variant.available and current_variant.inventory_quantity < blkst.maxqty and current_variant.inventory_quantity > 0
								assign classes = 'lowstock'
								assign clr = blkst.lstock
								assign qmsg = 'products.product.quantity_message' | t: items: current_variant.inventory_quantity
							elsif current_variant.available
								assign classes = 'instock'
								assign clr = blkst.instock
								assign qmsg = 'products.product.available' | t
							else
								assign classes = 'outstock'
                                assign clr = blkst.ostock
								assign qmsg = 'products.product.unavailable' | t
							endif
						-%}
						<div id="Inventory-{{ section.id }}" class="fl f-aic stockLbl {{ classes }} mb{{ blkst.bm }}{% if blkst.fcase %} ttu{% endif %}" role="status" style="--stockcl:{{ clr }};--stockf :{{ blkst.fs }}px;--cl:{{ blkst.cl }};" {{ block.shopify_attributes }}>
            				{% if blkst.anim %}<span class="animcir pr" style="--stockcl:{{ clr }};"></span>{% endif %}
                            <span>{{ qmsg }}</span>
						</div>
					{% when 'shortdes' %}  
						<div class="pr_desc rte mb{{ blkst.bm }}" {{ block.shopify_attributes }}>
							{% if blkst.des_type == 'shortd' %}{{ product.metafields.custom.short_des }}{% else %}{{ product.description }}{% endif %}
						</div>

					{% when 'sku' %} 
						<p class="product-sku mb{{ blkst.bm }}{% if product.selected_or_first_available_variant.sku.size == 0 %} hidden{% endif %}" id="Sku-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                          <span class="lbl">{{ 'products.product.sku' | t }}</span> <span class="variant-sku">{{ current_variant.sku }}</span>
                        </p>
					{% when 'customc' %}
						<div class="mb{{ blkst.bm }}" {{ block.shopify_attributes }}>{{ blkst.custom_liquid }}</div>
					{% endcase %}
				{% endfor %}    
				<a {% if product == blank %}role="link" aria-disabled="true"{% else %}href="{{ product.url }}"{% endif %} class="link view-det">{{ 'products.product.view_full_details' | t }} <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" style="height:10px" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path></svg></a>
			</product-info>
		</div>
	</div>
        </div>
	
	</div>
	{%- unless product.empty? -%}
	<script type="application/json" id="ProductJson-{{ section.id }}">{{ product | json }}</script>
	{% if first_3d_model %}
		<script type="application/json" id="ModelJson-{{ section.id }}">{{ product.media | where: 'media_type', 'model' | json }}</script>
		<link id="shopify-model-viewer-ui-styles" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'" />
	{% endif %}
	{%- endunless -%}
	<div class="hide">
	<span class="prvQty" {%- for variant in product.variants -%}data-v{{ variant.id }}="{{ variant.inventory_quantity }}"{%- endfor -%}></span>
	</div>
	<script type="text/javascript">
	theme.productStrings = {
		prStyle: '1'
	}
	window.addEventListener('DOMContentLoaded',function(){
	{%- if settings.terms_checkbox -%}
		var $buyinoneclick = $('.shopify-payment-button');
		if($buyinoneclick.length){
			$buyinoneclick.first().bind('DOMNodeInserted', function(){
				setTimeout(function(){
					var $shopifypaymentbutton = $('.shopify-payment-button').find(".shopify-payment-button__button");
					if($shopifypaymentbutton.length){
						$buyinoneclick.hide();
						setTimeout(function(){
							$(".shopify-payment-button__button").attr('disabled', true);
							$buyinoneclick.fadeIn()
						}, 300);
					}
				}, 0);
			});
		}
		{%- if settings.terms_checkbox -%}
			$('#prTearm').change(function(){
			if(this.checked == true){
				$('.shopify-payment-button__button').removeAttr("disabled");
			} else {
				$('.shopify-payment-button__button').attr("disabled", "disabled");
			}
		});
		{%- endif -%}
	{%- endif -%}
	});

	{% capture variantImg %}
	{%- if product.variants.size > 1 -%}
		var variantImages={},thumbnails,variant,variantImage,optionValue,productOptions = [];
		{%- for variant in product.variants -%}
			variant = {{ variant.featured_image.src | json }};
			if(typeof variant !== 'undefined' && variant !== null){
				variantImage =  variant.split('?')[0].replace(/http(s)?:/,'');
				variantImages[variantImage] = variantImages[variantImage] || {};
				{%- for option in product.options -%}
					{%- assign option_value = variant.options[forloop.index0] -%}
					{%- assign option_key = 'option-' | append: forloop.index0 -%}
					if(typeof variantImages[variantImage][{{ option_key | json }}] === 'undefined'){
						variantImages[variantImage][{{ option_key | json }}] = {{ option_value | json }};
					} else {
						var oldValue = variantImages[variantImage][{{ option_key | json }}];
						if(oldValue !== null && oldValue !== {{ option_value | json }}){variantImages[variantImage][{{ option_key | json }}] = null;}
					}
				{%- endfor -%}
			}
			productOptions.push(variant);
		{%- endfor -%}
	{% else %}
		var variantImages = "";
	{%- endif -%}
	{% endcapture %}
	{{ variantImg | strip_newlines | remove: "  " | remove: "	" }}
</script>

	{%- if secSt.prlightbox -%}
	<link rel="preload" as="style" href="{{ 'photoswipe.css' | asset_url }}" onload="this.rel='stylesheet'">
	<script type="module">
		import PhotoSwipeLightbox from '{{ 'photoswipe-lightbox.min.js' | asset_url }}';
		const lightbox = new PhotoSwipeLightbox({
			gallery: '.primgSlider',
			children: '.pswipe',
			pswpModule: () => import('{{ 'photoswipe.min.js' | asset_url }}')
		});
		lightbox.init();
	</script>
	{%- endif -%}
	{% capture schemaData %}
	<script type="application/ld+json">
		{
			"@context": "http://schema.org/",
			"@type": "Product",
			"name": "{{ product.title | escape }}",
			"url": "{{ shop.url }}{{ product.url }}",
			{%- if product.featured_image -%}
				{%- assign image_size = product.featured_image.width | append: 'x' -%}
				"image": [
					"https:{{ product.featured_image.src | img_url: image_size }}"
				],
			{%- endif -%}
			"description": "{{ product.description | strip_html | escape }}",
			{%- if current_variant.sku != blank -%}"sku": "{{ current_variant.sku }}",{%- endif -%}
			{%- if current_variant.barcode != blank -%}"mpn": "{{ current_variant.barcode }}",{%- endif -%}
			"brand": {
				"@type": "Brand",
				"name": "{{ product.vendor | escape }}"
			},
			{% comment %} "offers": [
				{%- for variant in product.variants -%}
					{
						"@type" : "Offer",
						{%- if variant.sku != blank -%}
							"sku": "{{ variant.sku }}",
						{%- endif -%}
						"availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
						"price" : "{{ variant.price | divided_by: 100.00 }}",
						"priceValidUntil": "{{ "now" | date: '%s' | plus: "86400" | date: "%Y-%m-%d %H:%M" }}",
						"priceCurrency" : "{{ shop.currency }}",
						"url" : "{{ shop.url }}{{ variant.url }}"
					}{% unless forloop.last %},{% endunless %}
				{%- endfor -%}
			] {% endcomment %}
			{% if settings.reviews == 'shopify' %}
				{%- assign ratingCount = product.metafields.spr.reviews | split: '"reviewCount": "' | last | split: '"' | first | plus: 0 -%}
				{%- assign ratingValue = product.metafields.spr.reviews | split: '"ratingValue": "' | last | split: '"' | first | plus: 0  -%}
				{% if ratingCount > 0 and ratingValue > 0 %}
					,"aggregateRating":{
						"@type": "AggregateRating",
						"ratingValue": "{{ ratingValue }}",
						"ratingCount": "{{ ratingCount }}"
					}
				{%- endif -%}
			{% elsif settings.reviews == 'loox' %}
				,"aggregateRating":{
					"@type": "AggregateRating",      
					"ratingValue": "{{ product.metafields.loox.avg_rating }}",      
					"reviewCount": "{{ product.metafields.loox.num_reviews }}"   
				}
			{% elsif settings.reviews == 'yotpo' %}
				,"aggregateRating":{
					"@type": "AggregateRating",      
					"ratingValue": "{{ product.metafields.yotpo.reviews_average }}",      
					"reviewCount": "{{ product.metafields.yotpo.reviews_count }}"   
				}
			{%- endif -%}
		}
	</script>
	{% endcapture %}
	{{ schemaData | strip_newlines | remove: "  " | remove: "	" }}

	{% schema %}
	{
	"name": "Featured Product",
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "class": "featuredPr",
	"settings": [
		{
			"type": "product",
			"id": "product",
			"label": "Select Product"
		},
		{
			"type": "select",
			"id": "image-col",
			"label": "Image Width",
			"default": "md",
			"options": [
				{
					"value": "sm",
					"label": "Small"
				},
				{
					"value": "md",
					"label": "Medium"
				},
				{
					"value": "lg",
					"label": "Large"
				}
			]
		},
		{
			"type": "checkbox",
			"id": "przoom",
			"label": "Enable Image Zoom",
			"default": false,
			"info":"work for desktop"
		},
		{
			"type": "checkbox",
			"id": "prlightbox",
			"label": "Enable Lightbox Image Gallery",
			"default": true
		},
		{
			"type": "select",
			"id": "prthumbs",
			"label": "Thumbnail Position",
			"default": "left",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "right",
					"label": "Right"
				},
				{
					"value": "bottom",
					"label": "Bottom"
				}
			]
		},	
		{
			"type": "color",
			"id": "play_ico",
			"label": "Thumbnail Video Play Icon",
			"default": "#fff"
		},
		{
				"type": "header",
				"content": "Section"
			},
			{
				"type": "paragraph",
				"content": "Spacing ===="
			},
			{
				"type": "range",
				"id": "sst",
				"min": 0,
				"max": 100,
				"step": 5,
				"label": "Top",
				"unit": "px",
				"default":30
			},
			{
				"type": "range",
				"id": "ssb",
				"min": 0,
				"max": 100,
				"step": 5,
				"label": "Bottom",
				"unit": "px",
				"default":30
			},
			{
				"type": "paragraph",
				"content": "Spacing (mobile) ===="
			},
			{
				"type": "range",
				"id": "sstm",
				"min": 0,
				"max": 100,
				"step": 5,
				"label": "Top",
				"unit": "px",
				"default":15
			},
			{
				"type": "range",
				"id": "ssbm",
				"min": 0,
				"max": 100,
				"step": 5,
				"label": "Bottom",
				"unit": "px",
				"default":15
			},       
			{
				"type": "color",
				"id": "bg",
				"label": "Background",
				"default":"#f5f5f5"	         
			},
            {
                "type": "color_background",
                "id": "bgg",
                "label": "Gradient Background"
            },	
			{
				"type":"checkbox",
				"id":"sw",
				"label":"Fullwidth?",
				"default": false            
			},
           {
            "type": "checkbox",
            "id": "hidem",
            "label": "Hide on Mobile?",
            "default": false
          },
          {
              "type": "checkbox",
              "id": "hided",
              "label": "Hide on Desktop?",
              "default": false
           } 	 
	],
	"blocks": [
		{
			"type": "hr",
			"name": "Divider",   
			"settings": [
				{ 
					"type":"color",
					"id":"hrc",
					"label":"Color",
					"default":"#222"	 
				},	
				{
					"type": "range",
					"id": "bm",
					"min": 0,
					"max": 50,
					"step": 5,
					"label": "Bottom Margin",
					"unit": "px",
					"default": 20,
					"info":"You can also use this block to add more space between 2 blocks"
				}          
			]
		}, 
		{
			"type": "title",
			"name": "Title",
			"limit": 1,
			"settings": [
				{
					"type": "color",
					"id": "cl",
					"label": "Color",
					"default": "#000"
				},
				{
					"type": "range",
					"id": "fs",
					"min": 10,
					"max": 60,
					"step": 1,
					"label": "Font Size",
					"unit": "px",
					"default": 22
				},
				{
					"type": "range",
					"id": "fsm",
					"min": 10,
					"max": 60,
					"step": 1,
					"label": "Font Size(mobile)",
					"unit": "px",
					"default": 16
				},
				{
					"type": "select",
					"id": "fw",
					"label": "Font Weight",
					"default": "fwsb",
					"options": [
						{
							"value": "fwl",
							"label": "Light"
						},
						{
							"value": "fwr",
							"label": "Regular"
						},
						{
							"value": "fwm",
							"label": "Medium"
						},
						{
							"value": "fwsb",
							"label": "Semi Bold"
						},
						{
							"value": "fwb",
							"label": "Bold"
						}
					]
				},
				{
					"type": "checkbox",
					"id": "fcase",
					"label": "Use Uppercase?"       
				},
				{
					"type": "range",
					"id": "bm",
					"min": 0,
					"max": 30,
					"step": 5,
					"label": "Bottom Margin",
					"unit": "px",
					"default": 20
				}          
			]   
		},
		{
			"type": "price",
			"name": "Price",
			"limit": 1,
			"settings": [
				{
					"type": "color",
					"id": "pcl",
					"label": "Price",
					"default": "#000"
				},
				{
					"type": "color",
					"id": "pcls",
					"label": "Sale Price",
					"default": "#e95144"
				},
				{
					"type": "range",
					"id": "fs",
					"min": 10,
					"max": 60,
					"step": 1,
					"label": "Font Size",
					"unit": "px",
					"default": 25
				},
				{
					"type": "range",
					"id": "fsm",
					"min": 10,
					"max": 60,
					"step": 1,
					"label": "Font Size(mobile)",
					"unit": "px",
					"default": 16
				},
				 {
				  "type": "select",
				  "id": "pfw",
				  "label": "Font Weight",
				  "default": "600",
				  "options": [
					{
					  "value": "300",
					  "label": "Light"
					},
					{
					  "value": "400",
					  "label": "Regular"
					},
					{
					  "value": "500",
					  "label": "Medium"
					},
					{
					  "value": "600",
					  "label": "Semi Bold"
					},
					{
					  "value": "700",
					  "label": "Bold"
					}
				  ]
				},
				{
					"type": "checkbox",
					"id": "saved",
					"label": "Show Discount Saved Badge?",
					"default": true,
					"info": "Display right after price if product have discount"
				},
				{
					"type": "color",
					"id": "salet",
					"label": "Badge Text",
					"default": "#fff"
				},
				{
					"type": "color",
					"id": "salebg",
					"label": "Badge Background",
					"default": "#e95144"
				},
				{
					"type": "select",
					"id": "fw",
					"label": "Font Weight",
					"default": "fwm",
					"options": [
						{
							"value": "fwl",
							"label": "Light"
						},
						{
							"value": "fwr",
							"label": "Regular"
						},
						{
							"value": "fwm",
							"label": "Medium"
						},
						{
							"value": "fwsb",
							"label": "Semi Bold"
						},
						{
							"value": "fwb",
							"label": "Bold"
						}
					]
				},
				{
					"type": "checkbox",
					"id": "taxship",
					"label": "Show tax and shipping information label?",
					"default": false
				},
				{
					"type": "range",
					"id": "bm",
					"min": 0,
					"max": 30,
					"step": 5,
					"label": "Bottom Margin",
					"unit": "px",
					"default": 20
				}          
			]    
		},
		{
			"type": "rating",
			"name": "Rating",
			"limit": 1,
			"settings": [
				{
					"type":"paragraph",    
					"content":"Please select app from General Settings -> Products Reviews"      
				},
				{
					"type": "range",
					"id": "bm",
					"min": 0,
					"max": 30,
					"step": 5,
					"label": "Bottom Margin",
					"unit": "px",
					"default": 20
				}                
			]   
		},
		{
			"type": "shortdes",
			"name": "Product Description",
			"limit": 1,
			"settings": [  
				{
					"type": "select",
					"id": "des_type",
					"label": "Show",
					"default": "shortd",
					"info":"[how to add short description?](https://www.adornthemes.com/knowledge-base/vogal-product-metafields/)",
					"options": [
						{
							"value": "shortd",
							"label": "Short Description"
						},
						{
							"value": "fulld",
							"label": "Full Description"
						}				  
					]
				},         
				{
					"type": "range",
					"id": "bm",
					"min": 0,
					"max": 30,
					"step": 5,
					"label": "Bottom Margin",
					"unit": "px",
					"default": 20
				}          
			]
		},
        {
          "type": "variants",
          "name": "Variant picker",
          "limit": 1,
          "settings": [
            {
				"type": "checkbox",
				"id": "sold",
				"label": "Hide Soldout variants?",
				"default": false
			},
            {
              "type": "select",
              "id": "cltype",
              "label": "Color Variant Style",
              "default": "cs",
              "options": [
                {
                  "value": "cs",
                  "label": "Color Swatch"
                },
                {
                  "value": "vi",
                  "label": "Variant Image"
                },
                {
                  "value": "ts",
                  "label": "Text Swatch"
                },
                {
                  "value": "tc",
                  "label": "Text with Color"
                },
                {
                  "value": "dd",
                  "label": "Dropdown"
                }
              ]
            },
            {
              "type": "select",
              "id": "othervr",
              "label": "Other Variant Style",
              "default": "sw",              
              "options": [
                {
                  "value": "sw",
                  "label": "Swatch"
                },
                {
                  "value": "dd",
                  "label": "Dropdown"
                }
              ]
            },
            {
                "type": "paragraph",
                "content": "Manage swatch style from Theme Settings-> Product Page"
            },
			{
                "type": "range",
                "id": "bm",
                "min": 0,
                "max": 30,
                "step": 5,
                "label": "Bottom Margin",
                "unit": "px",
                "default": 15
			}
          ]
        },   
		{
			"type": "cta",
			"name": "Quantity & Cart Button",
			"limit": 1,
			"settings":[
				{
					"type": "checkbox",
					"id": "qty_sel",
					"label": "Show Quantity Selector?",
					"default": true
				},
                {
					"type": "checkbox",
					"id": "qlbl",
					"label": "Hide Quantity Label?",
					"default": false
				},
				{
					"type": "select",
					"id": "atc-style",
					"label": "Add to Cart Button ====",
					"default": "btn1",
					"options": [
						{
							"label": "Button 1",
							"value": "btn1"
						},
						{
							"label": "Button 2",
							"value": "btn2"
						},
						{
							"label": "Button 3",
							"value": "btn3"
						},
						{
							"label": "Button 4",
							"value": "btn4"
						},
						{
							"label": "Button 5",
							"value": "btn5"
						},
						 {
							"label": "Button 6",
							"value": "btn6"
						  },
                          {
                              "label": "Button 7 Gradient",
                              "value": "btn7"
                          },
                          {
                              "label": "Button 8 Gradient",
                              "value": "btn8"
                          },
						  {
							"label": "Link",
							"value": "btnLink"
						  }  
					]
				},     
				{
					"type": "checkbox",
					"id": "dynamic_btn",
					"label": "Show Dynamic Checkout Button?",
					"info": "Lets customers checkout directly using a familiar payment method. [Learn more](https:\/\/help.shopify.com\/manual\/using-themes\/change-the-layout\/dynamic-checkout)",
					"default": false
				},  
				{
					"type": "color",
					"id": "btnbg",
					"label": "Button Background",
					"default": "#F4857B"
				},
				{
					"type": "color",
					"id": "btntext",
					"label": "Button Text",
					"default": "#fff"
				},
				{
					"type": "color",
					"id": "btnbdr",
					"label": "Button Border",
					"default": "#F4857B"
				},
				{
					"type": "range",
					"id": "btns_font",
					"min": 10,
					"max": 16,
					"step": 1,
					"label": "Buttons Font size",
					"unit": "px",
					"default": 13
				},
				{
					"type": "select",
					"id": "btns_case",
					"label": "Button Text",
					"default": "uppercase",
					"options": [
						{
							"label": "Uppercase",
							"value": "uppercase"
						},
						{
							"label": "Capitalized",
							"value": "capitalized"
						},
						{
							"label": "none",
							"value": "none"
						}         
					]   
				},
				{
					"type": "select",
					"id": "btns_width",
					"label": "Button Size",
					"default": "100%",
					"options": [
						{
							"label": "Stretched",
							"value": "100%"
						},
						{
							"label": "Small",
							"value": "auto"
						}
					]
				},
				{
					"type": "range",
					"id": "bm",
					"min": 0,
					"max": 30,
					"step": 5,
					"label": "Bottom Margin",
					"unit": "px",
					"default": 15
				}                                           
			]   
		},
		{
			"type": "countdown",
			"name": "Countdown",
			"limit": 1,
			"settings": [
				{       
					"type": "paragraph",       
					"content": "[How to set Countdown timer for each products?](https://www.adornthemes.com/knowledge-base/vogal-product-metafields/)"      
				},
				{
					"type": "select",
					"id": "cds",
					"label": "Style",
					"default": "1",
					"options": [
						{
							"value": "1",
							"label": "Style 1"
						},
						{
							"value": "2",
							"label": "Style 2"
						},
						{
							"value": "3",
							"label": "Style 3"
						}        
					]
				},
				{
					"type": "text",
					"id": "clbl",
					"label": "Label",
					"default": "Hurry up! Sales End In"
				},    
				{
					"type": "color",
					"id": "cl",
					"label": "Label Text",
					"default": "#000"
				},
				{
					"type": "color",
					"id": "tcl",
					"label": "Timer Text",
					"default": "#000"
				},     
				{
					"type": "color",
					"id": "bg",
					"label": "Background",
					"default": "#f5f5f5"
				},
				{
					"type": "range",
					"id": "nfs",
					"label": "Timer number size",
					"min": 12,
					"max": 30,
					"step": 1,
					"default": 13,
					"info":"keep size small for style 1"
				},
				{
					"type": "range",
					"id": "tfs",
					"label": "Timer text size",
					"min": 12,
					"max": 20,
					"step": 1,
					"default": 13
				},     
				{
					"type": "range",
					"id": "bm",
					"min": 0,
					"max": 30,
					"step": 5,
					"label": "Bottom Margin",
					"unit": "px",
					"default": 20
				}          
			]   
		},
		{
			"type": "inventory",
			"name": "Inventory",
			"limit": 1,
			"settings": [
				{
					"type": "range",
					"id": "maxqty",
					"label": "Low inventory threshold",
					"min": 0,
					"max": 50,
					"step": 1,
					"default": 14,
					"info": "Show low stock quantity when quantity is below the threshold. Choose 0 to always show 'in stock' message."
				},
				{
					"type": "range",
					"id": "fs",
					"min": 10,
					"max": 50,
					"step": 1,
					"label": "Font Size",
					"unit": "px",
					"default": 13
				},
               {
					"type": "color",
					"id": "cl",
					"label": "Color",
					"default": "#111"
				},
				{
					"type": "checkbox",
					"id": "fcase",
					"label": "Text Uppercase?",
					"default": false       
				}, 
				{
					"type": "checkbox",
					"id": "anim",
					"label": "Show Animation?",
					"default": true       
				},  
				{
					"type": "color",
					"id": "instock",
					"label": "In Stock",
					"default": "#54c63a"
				},      
				{
					"type": "color",
					"id": "lstock",
					"label": "Low Stock",
					"default": "#f4af29"
				},      
				{
					"type": "color",
					"id": "ostock",
					"label": "Out of Stock",
					"default": "#ee1111"
				},
				{
					"type": "range",
					"id": "bm",
					"min": 0,
					"max": 50,
					"step": 5,
					"label": "Bottom Margin",
					"unit": "px",
					"default": 15,
					"info":"Change message from theme language"
				}		
			]   
		}, 
		{
			"type": "text",
			"name": "Text",   
			"settings": [
				{ 
					"type":"text",
					"id":"text",
					"label":"Text",
					"default":"Text block"
				},
                {
					"type": "color",
					"id": "cl",
					"label": "Color",
					"default": "#000"
				},
				{
					"type": "range",
					"id": "fs",
					"min": 10,
					"max": 60,
					"step": 1,
					"label": "Font Size",
					"unit": "px",
					"default": 16
				},
				{
					"type": "range",
					"id": "fsm",
					"min": 10,
					"max": 60,
					"step": 1,
					"label": "Font Size(mobile)",
					"unit": "px",
					"default": 14
				},
				{
					"type": "select",
					"id": "fw",
					"label": "Font Weight",
					"default": "400",
					"options": [
						{
							"value": "300",
							"label": "Light"
						},
						{
							"value": "400",
							"label": "Regular"
						},
						{
							"value": "500",
							"label": "Medium"
						},
						{
							"value": "600",
							"label": "Semi Bold"
						},
						{
							"value": "700",
							"label": "Bold"
						}
					]
				},      
				{
					"type": "range",
					"id": "bm",
					"min": 0,
					"max": 30,
					"step": 5,
					"label": "Bottom Margin",
					"unit": "px",
					"default": 20
				}          
			]
		},
		{
			"type": "coltabs",
			"name": "Collapsible Tab",
			"settings": [
				{ 
					"type":"text",
					"id":"title",
					"label":"Heading",
					"default":"Care Instructions"
				},  
				{
					"type": "text",
					"id": "tabicon",
					"label": "Icon Link",
					"info":"Upload icon file to settings>files, copy link and paste here."
				},
				{
					"type": "richtext",
					"id": "richtxt",
					"label": "Tab text",       
					"default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>"
				},
				{
					"type": "range",
					"id": "bm",
					"min": 0,
					"max": 30,
					"step": 5,
					"label": "Bottom Margin",
					"unit": "px",
					"default": 0
				}    
			]
		},
		{
			"type": "sku",
			"name": "Product SKU",
			"limit": 1,
			"settings":[
				{
					"type": "range",
					"id": "bm",
					"min": 0,
					"max": 30,
					"step": 5,
					"label": "Bottom Margin",
					"unit": "px",
					"default": 20
				}          
			]
		},
		{
			"type": "fakesold",
			"name": "Fake Order",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "icon",
					"label": "Show Icon",
					"default": true
				},
				{
					"type": "range",
					"id": "orders",
					"label": "Max Items",
					"min": 1,
					"max": 50,
					"step": 1,
					"default": 20,
					"unit": "qty"
				},
				{
					"type": "range",
					"id": "otime",
					"label": "Order time",
					"min": 5,
					"max": 48,
					"step": 1,
					"default": 24,
					"unit": "h"
				},
				{
					"type": "textarea",
					"id": "omsg",
					"label": "Orders Message",
					"default": "[orders] sold in last [hours] hours",
					"info": "Use '[orders]' for items counts and '[hours]' for hours counts"
				},
				{
					"type": "range",
					"id": "bm",
					"min": 0,
					"max": 30,
					"step": 5,
					"label": "Bottom Margin",
					"unit": "px",
					"default": 15
				}          
			]   
		},
		{
			"type": "fakevisitor",
			"name": "Fake Visitor",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "fakeview_ico",
					"label": "Show Icon?",
					"default": true
				},
				{
					"type": "range",
					"id": "visitors",
					"label": "Max Visitors",
					"min": 10,
					"max": 500,
					"step": 10,
					"default": 50
				},
				{
					"type": "range",
					"id": "visitors_time",
					"label": "Interval time",
					"min": 1,
					"max": 20,
					"step": 1,
					"unit": "sec",
					"default": 5
				},
				{
					"type": "textarea",
					"id": "visitors_msg",
					"label": "Visitors Message",
					"default": "[visitors] People looking for this product",
					"info": "Use '[visitors]' to show user counts"
				},
				{
					"type": "range",
					"id": "bm",
					"min": 0,
					"max": 30,
					"step": 5,
					"label": "Bottom Margin",
					"unit": "px",
					"default": 15
				}          
			]   
		},      
		{
			"type": "customc",
			"name": "HTML/Liquid",
			"limit": 2,
			"settings":[
				{
					"type": "liquid",
					"id": "custom_liquid",
					"label": "HTML",
					"info": "Add app snippets or other Liquid code to create advanced customizations.",
					"default":"<h4>Custom code block</h4><p>Use this advance section to add custom HTML, app scripts, or liquid.</p>"
				},
				{
					"type": "range",
					"id": "bm",
					"min": 0,
					"max": 30,
					"step": 5,
					"label": "Bottom Margin",
					"unit": "px",
					"default": 15
				}          
			]
		},
		{
			"type": "@app"
		}
	],
		"presets": [
		  {
			"name": "Featured Product",
			"category": "Products",
			"blocks": [                    
				{
					"type": "title"
				},        
				{
					"type": "price"
				},        
				{
					"type": "variants"
				},
				{
					"type": "cta"
				}
			]
		  }
		]
	}
{% endschema %}