{% capture siteFooter %}
{% assign secSt = section.settings %}
	{% capture ftstyle %}
		--cl:{{ secSt.cl }};--clh:{{ secSt.clh }};--fs:{{ secSt.fs }}px;--fsm:{{ secSt.fsm }}px;
		--tcl:{{ secSt.tcl }};--ff:var(--{{ secSt.ff }});--tfs:{{ secSt.tfs }}px;--tfsm:{{ secSt.tfsm }}px;
		--icn:{{ secSt.icn }};--ifs:{{ secSt.ifs }}px;--bg:{% if secSt.bgg != blank %}{{ secSt.bgg }}{% else %}{{ secSt.bg }}{% endif %};--bdr:{{ secSt.bdr }};--bdrm:{{ secSt.bdrm }};--tfw:{{ secSt.tfw }}
		{% if secSt.bgimg != blank %}
			  background-image:url({{ secSt.bgimg | img_url:'100x' }});
			  background-repeat:{{ secSt.bgrep }};
			  background-size:{{ secSt.bgsz }};
			  background-position:{{ secSt.bgpos | replace:"_", " " }};
			  background-attachment:{{ secSt.bgat }};
		{% endif %}
	{% endcapture %}

<footer class="o_ft lazyload{% if secSt.mobcenter %} mobcenter{% endif %}" role="contentinfo" style="{{ ftstyle }}"
    {% if secSt.bgimg != blank %}data-bgset="{% render 'bgset', image: secSt.bgimg %}" data-sizes="auto" data-parent-fit="contain"{% endif %}>
    {%- if section.blocks.size != 0 -%}
        <div class="{% if secSt.sw %}fw-sec{% else %}page-width{% endif %}">
            <div class="grid {% if secSt.space %}f-jcsb{% endif %}">
                {%- for block in section.blocks -%}
                    {% assign blkSt = block.settings %}
                    {%- capture blockTtl -%}
                        {%- if block.settings.title != blank -%}<p class="h4 fl f-aic f-jcsb">{{ block.settings.title }}</p>{%- endif -%}
                    {%- endcapture -%}
                    {%- case block.type -%}
                    {% when 'custom' %}
                        <div class="gitem ft_block wd50-md {{ block.settings.width }}-lg{% if block.settings.hidem %} hide-sm{% endif %}{% if blkSt.center %} tc{% endif %}{% if blkSt.issep %} sp{% endif %}" {{ block.shopify_attributes }}>
                            {{ blockTtl }}
                            {% if block.settings.logo %}
                                {% capture logoWd %}{{ block.settings.logo-wd }}x{% endcapture %}
                                <p class="fimg{% if blkSt.center %} m_auto{% endif %}" style="max-width:{{ block.settings.logo-wd }}px" {% if block.settings.center %}class="m_auto"{% endif %}>
                                    <img class="imgFl" src="{{ block.settings.logo | img_url: logoWd }}" width="{{ block.settings.logo-wd }}" height="{{ block.settings.logo-wd | divided_by: block.settings.logo.aspect_ratio | floor }}"
                                        srcset="{{ block.settings.logo | img_url: logoWd }} 1x, {{ block.settings.logo | img_url: logoWd, scale: 2 }} 2x"
                                        alt="{{ block.settings.logo.alt | default: shop.name }}">
                                </p>
                            {% endif %}
                            {% if block.settings.txt != blank %}<div class="text txt mb20">{{ block.settings.txt }}</div>{% endif %}
                            {% if block.settings.socials %}
                                {% if block.settings.socttl != blank %}<p class="h4">{{ block.settings.socttl }}</p>{% endif %}
                                <div class="mb15">{% render 'social-media' %}</div>
                            {% endif %}
                            {% if block.settings.payicon %}
                                {% for type in shop.enabled_payment_types %}{{ type | payment_type_svg_tag: class: 'payment_item' }}{% endfor %}          
                            {% endif %}
                        </div>
                    {% when 'image' %}
                        <div class="gitem ft_block wd50-md {{ block.settings.width }}-lg{% if block.settings.hidem %} hide-sm{% endif %}{% if blkSt.issep %} sp{% endif %}" {{ block.shopify_attributes }}>
                            {{ blockTtl }}
                            {% if block.settings.txt != blank %}<div class="text txt mb15">{{ block.settings.txt }}</div>{% endif %}
                            <div class="fl f-wrap">
                                {% if block.settings.logo %}
                                    <p style="max-width:{{ block.settings.logo-wd }}px" class="mb10{% if block.settings.logomr %} mr15{% endif %}" >
                                        <a target="_blank" href="{{ block.settings.url1 }}">
                                            {% capture logoWd %}{{ block.settings.logo-wd }}x{% endcapture %}
                                            <img class="imgFl" src="{{ block.settings.logo | img_url: logoWd }}" width="{{ block.settings.logo-wd }}" height="{{ block.settings.logo-wd | divided_by: block.settings.logo.aspect_ratio | floor }}"
                                                srcset="{{ block.settings.logo | img_url: logoWd }} 1x, {{ block.settings.logo | img_url: logoWd, scale: 2 }} 2x" alt="{{ block.settings.logo.alt | default: shop.name }}">
                                        </a>
                                    </p>
                                {% endif %}
                                {% if block.settings.logo2 %}
                                    <p style="max-width:{{ block.settings.logo-wd2 }}px">
                                        <a target="_blank" href="{{ block.settings.url2 }}">
                                            {% capture logoWd2 %}{{ block.settings.logo-wd2 }}x{% endcapture %}
                                            <img class="imgFl" src="{{ block.settings.logo2 | img_url: logoWd2 }}" width="{{ block.settings.logo-wd2 }}" height="{{ block.settings.logo-wd2 | divided_by: block.settings.logo2.aspect_ratio | floor }}"
                                                srcset="{{ block.settings.logo2 | img_url: logoWd2 }} 1x, {{ block.settings.logo2 | img_url: logoWd2, scale: 2 }} 2x" alt="{{ block.settings.logo2.alt | default: shop.name }}">
                                        </a>
                                    </p>
                                {% endif %}
                            </div>                  
                        </div>
                    {% when 'menu' %}
                        <div class="gitem ft_block wd50-md {{ block.settings.width }}-lg f_links{% if block.settings.hidem %} hide-sm{% endif %}{% if blkSt.issep %} sp{% endif %}" {{ block.shopify_attributes }}>
                            {%- if block.settings.title != blank -%}<h4 class="h4 fl f-aic f-jcsb">{{ block.settings.title }} {% render 'icon-arrow', class: 'arw ml_auto hide-md hide-lg' %}</h4>{%- endif -%}
                            <ul>
                                {% for link in linklists[block.settings.menu].links %}
                                    <li><a href="{{ link.url }}" {% if link.title contains '[new]' %} target="_blank" {% endif %}>{{ link.title | split: '[' | first }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% when 'hmenu' %}
                        <div class="gitem ft_block {{ block.settings.width }}-lg {{ block.settings.talign }}{% if block.settings.hidem %} hide-sm{% endif %}{% if block.settings.btmmr %} mb0{% endif %}"  {{ block.shopify_attributes }}>
                            {% if block.settings.bdr_top %}<hr class="hide-sm mt0" style="border-bottom-color:{{ block.settings.bdr }}" />{% endif %}
                            {%- if block.settings.title != blank -%}<h4 class="h4 fl f-aic f-jcsb">{{ block.settings.title }} {% render 'icon-arrow', class: 'arw ml_auto' %}</h4>{%- endif -%}
                            <ul class="horLinks">
                                {% for link in linklists[block.settings.menu].links %}
                                    <li><a href="{{ link.url }}"{% if link.title contains '[new]' %} target="_blank" {% endif %}>{{ link.title | split: '[' | first }}</a></li>
                                {% endfor %}
                            </ul>
                            {% if block.settings.bdr_btm %}<hr class="hide-sm mb0" style="border-bottom-color:{{ block.settings.bdr }}" />{% endif %}
                        </div>
                    {% when 'contact' %}
                        <div class="gitem ft_block wd50-md {{ block.settings.width }}-lg{% if block.settings.hidem %} hide-sm{% endif %}{% if blkSt.issep %} sp{% endif %}" {{ block.shopify_attributes }}>
                            {{ blockTtl }}
                            {% if block.settings.logo %}
                                <p style="max-width:{{ block.settings.logo-wd }}px">
                                    {% capture logoWd %}{{ block.settings.logo-wd }}x{% endcapture %}
                                    <img src="{{ block.settings.logo | img_url: logoWd }}" width="{{ block.settings.logo.width }}"
                                        srcset="{{ block.settings.logo | img_url: logoWd }} 1x, {{ block.settings.logo | img_url: logoWd, scale: 2 }} 2x" alt="{{ block.settings.logo.alt | default: shop.name }}">
                                </p>
                            {% endif %}
                            <ul class="f_addr mb20">
                                {% if block.settings.address  != blank  %}
                                    <li>
                                        {% if block.settings.icons %}<svg class="at-icon mr5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M341.476,338.285c54.483-85.493,47.634-74.827,49.204-77.056C410.516,233.251,421,200.322,421,166 C421,74.98,347.139,0,256,0C165.158,0,91,74.832,91,166c0,34.3,10.704,68.091,31.19,96.446l48.332,75.84 C118.847,346.227,31,369.892,31,422c0,18.995,12.398,46.065,71.462,67.159C143.704,503.888,198.231,512,256,512 c108.025,0,225-30.472,225-90C481,369.883,393.256,346.243,341.476,338.285z M147.249,245.945 c-0.165-0.258-0.337-0.51-0.517-0.758C129.685,221.735,121,193.941,121,166c0-75.018,60.406-136,135-136 c74.439,0,135,61.009,135,136c0,27.986-8.521,54.837-24.646,77.671c-1.445,1.906,6.094-9.806-110.354,172.918L147.249,245.945z M256,482c-117.994,0-195-34.683-195-60c0-17.016,39.568-44.995,127.248-55.901l55.102,86.463 c2.754,4.322,7.524,6.938,12.649,6.938s9.896-2.617,12.649-6.938l55.101-86.463C411.431,377.005,451,404.984,451,422 C451,447.102,374.687,482,256,482z"/><path d="M256,91c-41.355,0-75,33.645-75,75s33.645,75,75,75c41.355,0,75-33.645,75-75S297.355,91,256,91z M256,211 c-24.813,0-45-20.187-45-45s20.187-45,45-45s45,20.187,45,45S280.813,211,256,211z"/></svg>{% endif %}
                                        {{ block.settings.address }}
                                    </li>
                                {% endif %}
                                {% if block.settings.phone  != blank  %}
                                    <li class="phone">
                                        {% if block.settings.icons %}<svg class="at-icon mr5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="m30.035 22.594c-.053-.044-6.042-4.33-7.667-4.049-.781.138-1.228.67-2.123 1.737-.144.172-.491.583-.759.876a12.458 12.458 0 0 1 -1.651-.672 13.7 13.7 0 0 1 -6.321-6.321 12.458 12.458 0 0 1 -.672-1.651c.294-.269.706-.616.882-.764 1.061-.89 1.593-1.337 1.731-2.119.283-1.619-4.005-7.613-4.049-7.667a2.289 2.289 0 0 0 -1.706-.964c-1.738 0-6.7 6.436-6.7 7.521 0 .063.091 6.467 7.988 14.5 8.024 7.888 14.428 7.979 14.491 7.979 1.085 0 7.521-4.962 7.521-6.7a2.287 2.287 0 0 0 -.965-1.706zm-6.666 6.4c-.874-.072-6.248-.781-12.967-7.382-6.635-6.755-7.326-12.144-7.395-12.979a27.054 27.054 0 0 1 4.706-5.561c.04.04.093.1.161.178a35.391 35.391 0 0 1 3.574 6.063 11.886 11.886 0 0 1 -1.016.911 10.033 10.033 0 0 0 -1.512 1.422l-.243.34.072.411a11.418 11.418 0 0 0 .965 2.641 15.71 15.71 0 0 0 7.248 7.247 11.389 11.389 0 0 0 2.641.966l.411.072.34-.243a10.117 10.117 0 0 0 1.428-1.518c.313-.374.732-.873.89-1.014a35.163 35.163 0 0 1 6.078 3.578c.083.07.141.124.18.159a27.031 27.031 0 0 1 -5.561 4.707z"/></svg>{% endif %}
                                        <a href="tel:{{ block.settings.phone }}">{{ block.settings.phone }}</a>
                                    </li>
                                {% endif %}
                                {% if block.settings.email  != blank  %}
                                    <li class="email">
                                        {% if block.settings.icons %}<svg class="at-icon mr5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M467,61H45C20.218,61,0,81.196,0,106v300c0,24.72,20.128,45,45,45h422c24.72,0,45-20.128,45-45V106 C512,81.28,491.872,61,467,61z M460.786,91L256.954,294.833L51.359,91H460.786z M30,399.788V112.069l144.479,143.24L30,399.788z M51.213,421l144.57-144.57l50.657,50.222c5.864,5.814,15.327,5.795,21.167-0.046L317,277.213L460.787,421H51.213z M482,399.787 L338.213,256L482,112.212V399.787z"/></svg>{% endif %}
                                        <a href="mailto:{{ block.settings.email }}">{{ block.settings.email }}</a>
                                    </li>
                                {% endif %}
                            </ul>
                            {% if block.settings.socials %}
                                {% if block.settings.socttl != blank %}<p class="h4">{{ block.settings.socttl }}</p>{% endif %} 
                                {% render 'social-media' %}
                            {% endif %}
                        </div>
                    {% when 'newsletter' %}
                        <div class="gitem ft_block wd50-md {{ block.settings.width }}-lg ft_newsltr{% if block.settings.center %} tc{% endif %}{% if block.settings.hidem %} hide-sm{% endif %}{% if blkSt.issep %} sp{% endif %}" {{ block.shopify_attributes }}>
                            <div class="wrap-newsletter" style="--incl:{{ block.settings.incl }};--inbg:{{ block.settings.inbg }};--inbdr:{{ block.settings.inbdr }};--btncl:{{ block.settings.btncl }};--btnbg:{{ block.settings.btnbg }};--btnclh:{{ block.settings.btnclh }};--btnbgh:{{ block.settings.btnbgh }};">
                                {{ blockTtl }}
                                {% if block.settings.txt != blank %}<p>{{ block.settings.txt }}</p>{% endif %}
                                {% render 'newsletter-form', formId: 'footerNw', isicon: block.settings.icon %}
                                {% if block.settings.socials %}
                                    <div class="socials">
                                        {%- if block.settings.socttl != blank -%}<h3 class="h4">{{ block.settings.socttl }}</h3>{%- endif -%}
                                        {% render 'social-media' %}
                                    </div>
                                {% endif %}
                            </div>                  
                        </div>
                    {% when 'socialicons' %}
                        <div class="gitem ft_block wd50-md {{ block.settings.width }}-lg{% if block.settings.hidem %} hide-sm{% endif %}{% if blkSt.issep %} sp{% endif %}" {{ block.shopify_attributes }}>
                            {{ blockTtl }}
                            {% render 'social-media' %}
                        </div>
                    {% when 'hrline' %}						
                        <div class="gitem ft_block w_100 {% if block.settings.hidem %}hide-sm{% endif %}"><hr class="hide-sm" style="border-bottom:1px solid {{ block.settings.lineclr }}; margin:{{ block.settings.mar }}px 0;" {{ block.shopify_attributes }} /></div>
                    {%- endcase -%}                
                {%- endfor -%}
            </div>        
        </div>
    {%- endif -%}

    {%- if secSt.copyright_text != blank or secSt.show_payment -%}
        <div class="ft_bottom">
            <div class="{% if secSt.sw %}fw-sec{% else %}page-width{% endif %} fl f-aic f-col f-row-md">
            
            {% if secSt.copyright_text != blank %}
                <div class="fl1{% if secSt.show_payment %} wd50-md mb10 mb0-sm tl-md{% endif %} tc">
                    {{ secSt.copyright_text }}
                    {% if secSt.show_designby %}<span class="designBy">{% if secSt.copyright_text != blank %}<br />{% endif %}Designed by <a href="https://www.adornthemes.com" target="_blank">AdornThemes</a></span>{% endif %}
                </div>
            {% endif %}
            {% if secSt.show_payment %}
                <div class="fl1{% if secSt.copyright_text != blank %} wd50-md tr-md{% endif %} tc">
                    {%- if secSt.payimg != blank -%}
                        <p class="footer-img"><img src="{{ secSt.payimg | img_url: '600x' }}" alt="{{ secSt.logo.alt }}" style="max-width:{{ secSt.payimgwd }}px" /></p>
                    {%- else -%}
                        {% for type in shop.enabled_payment_types %}{{ type | payment_type_svg_tag: class: 'payment_item' }}{% endfor %}
                    {%- endif -%}
                </div>
            {% endif %}
        </div>
    </div>
{%- endif -%}
</footer>
{% endcapture %}{{ siteFooter | strip_newlines | remove: "  " | remove: "	" }}
{%- schema -%}
  {
    "name": "Footer",
    "settings": [
	 {
        "type": "paragraph",
        "content": "[preview footer style](https://optimal-demos.myshopify.com/pages/footer-style)"
      },
	  {
		"type":"checkbox",
		"id":"sw",
		"label":"Fullwidth?",
		"default": false
	  },
	  {
		"type":"checkbox",
		"id":"space",
		"label":"Space Around Blocks",
		"default": false
	  },
      {
		"type":"checkbox",
		"id":"mobcenter",
		"label":"Mobile Align Center?",
		"default": false
	  },
 	  {
        	"type": "textarea",
        	"id": "copyright_text",
        	"label": "Copyright Text",
        	"default": "© 2023,Vogal. All Rights Reserved."
      	},
        {
          "type": "checkbox",
          "id": "show_designby",
          "label": "Give credit to theme developer?",
          "default": true,
		  "info":"Show design by in footer"
        },
		{
			"type":"header",
        	"content":"Payment Options"
		},
      	{
        	"type": "checkbox",
        	"id": "show_payment",
        	"label": "Show Payment Icons?",
        	"default": true
        },
		{
          "type": "image_picker",
          "id": "payimg",
          "label": "Payment Icon Image",
          "info": "Use image instead of Payment icons"
        },
		{
            "type": "range",
            "id": "payimgwd",
            "label": "Image Max Width",
            "default": 300,
            "min": 100,
            "max": 600,
            "step": 5,
            "unit": "px"
        },
        {
            "type": "header",
            "content": "Appearance ==="
        },      
      {
        "type": "color",
        "id": "tcl",
        "label": "Title",
        "default": "#000"
      },
      {
        "type": "select",
        "id": "ff",
        "label": "Title Font",
        "default": "ft1",
        "options": [
          {
            "value": "ft1",
            "label": "Font 1"
          },
          {
            "value": "ft2",
            "label": "Font 2"
          },
          {
            "value": "ft3",
            "label": "Font 3"
          }
        ]
      },
      {
        "type": "range",
        "id": "tfs",
        "label": "Title Font Size",
        "min": 10,
        "max": 50,
        "step": 1,
        "default": 14,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "tfsm",
        "label": "Title Font Size (Mobile)",
        "min": 10,
        "max": 50,
        "step": 1,
        "default": 13,
        "unit": "px"
      },
      {
        "type": "select",
        "id": "tfw",
        "label": "Title Font Weight",
        "default": "500",
        "options": [
          {
            "value": "300",
            "label": "Light"
          },
          {
            "value": "400",
            "label": "Regular"
          },
          {
            "value": "500",
            "label": "Medium"
          },
          {
            "value": "600",
            "label": "Semi Bold"
          },
          {
            "value": "700",
            "label": "Bold"
          }
        ]
      },
      {
        "type": "color",
        "id": "cl",
        "label": "Text & Link",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "clh",
        "label": "Link Hover",
        "default": "#666"
      },
      {
        "type": "range",
        "id": "fs",
        "label": "Font Size",
        "min": 10,
        "max": 30,
        "step": 1,
        "default": 13,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "fsm",
        "label": "Font Size (Mobile)",
        "min": 10,
        "max": 30,
        "step": 1,
        "default": 13,
        "unit": "px"
      },
      {
        "type": "color",
        "id": "icn",
        "label": "Icon",
        "default": "#000"
      },
      {
        "type": "range",
        "id": "ifs",
        "label": "Icon Size",
        "min": 10,
        "max": 50,
        "step": 1,
        "default": 13,
        "unit": "px"
      },
      {
        "type": "color",
        "id": "bg",
        "label": "Background",
        "default": "#f5f5f5"
      },
      {
        "type": "color_background",
        "id": "bgg",
        "label": "Gradient Background"
      },
      {
        "type": "image_picker",
        "id": "bgimg",
        "label": "Background image",
        "info": "This is optional"
      },
      {
        "type": "select",
        "id": "bgrep",
        "label": "Background Repeat",
        "default": "inherit",
        "info": "[how to repeat the background image](https:\/\/w3schools.com\/cssref\/pr_background-repeat.asp)",
        "options": [
          {
            "value": "no-repeat",
            "label": "No Repeat"
          },
          {
            "value": "repeat",
            "label": "All Sides"
          },
          {
            "value": "repeat-x",
            "label": "Horizontally"
          },
          {
            "value": "repeat-y",
            "label": "Vertically"
          },
          {
            "value": "inherit",
            "label": "Inherit"
          }
        ]
      },
      {
        "type": "select",
        "id": "bgpos",
        "label": "Background Position",
        "default": "center_center",
        "info": "[position of the background images](https:\/\/w3schools.com\/cssref\/pr_background-position.asp)",
        "options": [
          {
            "value": "left_top",
            "label": "Left Top"
          },
          {
            "value": "left_center",
            "label": "Left Center"
          },
          {
            "value": "left_bottom",
            "label": "Left Bottom"
          },
          {
            "value": "center_top",
            "label": "Center Top"
          },
          {
            "value": "center_center",
            "label": "Center Center"
          },
          {
            "value": "center_bottom",
            "label": "Center Bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "bgsz",
        "label": "Background Size",
        "default": "auto",
        "info": "[Specifies the size of the background image](https:\/\/w3schools.com\/cssref\/css3_pr_background-size.asp)",
        "options": [
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "value": "cover",
            "label": "Cover"
          },
          {
            "value": "contain",
            "label": "Contain"
          }
        ]
      },
      {
        "type": "select",
        "id": "bgat",
        "label": "Background Attachment",
        "default": "inherit",
        "info": "[Specifies background image is fixed or scrolls with page](https:\/\/w3schools.com\/cssref\/pr_background-attachment.asp)",
        "options": [
          {
            "value": "fixed",
            "label": "Fixed"
          },
          {
            "value": "scroll",
            "label": "Scroll"
          },
          {
            "value": "inherit",
            "label": "Inherit"
          }
        ]
      },
      {
        "type": "color",
        "id": "bdr",
        "label": "Top Border",
        "default": "#eee"
      },
      {
        "type": "color",
        "id": "bdrm",
        "label": "Sepration Border",
        "default": "#f9f9f9"
      }
    ],
	"blocks": [
	  {
        "type": "menu",
        "name": "Menu",
        "settings": [
		 {
            "type": "checkbox",
            "id": "hidem",
            "label": "Hide in mobile?",
			"default": false
          },
          {
            "type": "text",
            "id": "title",
            "label": "Navigation Title",
			"default": "Informations"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Select Navigation",
            "default": "main-menu"
          },
          {
              "type": "checkbox",
              "id": "issep",
              "label": "Show Sepration Border Desktop?",
              "default": false
          },
		  {
            "type": "select",
            "id": "width",
            "label": "Block width",
            "default": "wd25",
			"info":"Total width of all block must not exceed 100%",
            "options": [  			 
			  { "value": "wd20", "label": "20%" },
              { "value": "wd25", "label": "25%" },
			  { "value": "wd30", "label": "30%" },
              { "value": "wd33", "label": "33%" },
			  { "value": "wd40", "label": "40%" },
              { "value": "wd50", "label": "50%" },
			  { "value": "wd60", "label": "60%" },
              { "value": "wd66", "label": "66%" },
              { "value": "wd75", "label": "75%" },
              { "value": "wd100", "label": "100%" }
            ]
          }
        ]
      },
	  {
        "type": "hmenu",
        "name": "Horizontal Menu",
        "settings": [
		 {
            "type": "checkbox",
            "id": "hidem",
            "label": "Hide in mobile?",
			"default": false
          },         
          {
            "type": "link_list",
            "id": "menu",
            "label": "Select Navigation",
            "default": "main-menu"
          },
 	      {
            "type": "select",
            "id": "talign",
            "label": "Text Align",
            "default": "tc",
            "options": [		    
			 { "value": "tl", "label": "Left" },
              { "value": "tc", "label": "Center" },
			  { "value": "tr", "label": "right" }
            ]
          },
 		  {
			"type":"checkbox",
			"id":"bdr_top",
			"label":"Show Top Border",
			"default":false
		  },
 		  {
			"type":"checkbox",
			"id":"bdr_btm",
			"label":"Show bottom Border",
			"default":false
		  },
          {
            "type": "color",
            "id": "bdr",
            "label": "Border Color",
            "default": "#000"
          },
 		  {
			"type":"checkbox",
			"id":"btmmr",
			"label":"Remove bottom space",
			"default":false
		  },
		  {
            "type": "select",
            "id": "width",
            "label": "Block width",
            "default": "wd100",
			"info":"Total width of all block must not exceed 100%",
            "options": [  			 
			  { "value": "wd20", "label": "20%" },
              { "value": "wd25", "label": "25%" },
			  { "value": "wd30", "label": "30%" },
              { "value": "wd33", "label": "33%" },
			  { "value": "wd40", "label": "40%" },
              { "value": "wd50", "label": "50%" },
			  { "value": "wd60", "label": "60%" },
              { "value": "wd66", "label": "66%" },
              { "value": "wd75", "label": "75%" },
              { "value": "wd100", "label": "100%" }
            ]
          }
        ]
      },
	  {
        "type": "contact",
        "name": "Contact Details",
		"limit": 1,
        "settings": [
		 {
            "type": "checkbox",
            "id": "hidem",
            "label": "Hide in mobile?",
			"default": false
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "Contact Us"
          },
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo Image"
          },
          {
              "type": "range",
              "id": "logo-wd",
              "label": "Logo Max Width",
              "default": 200,
              "min": 100,
              "max": 300,
              "step": 5,
              "unit": "px"
          },
		  {
            "type": "textarea",
            "id": "address",
            "label": "Address",
			"default": "55 Gallaxy Enque,<br />2568 steet, 23568 NY"
          },
		  {
            "type": "text",
            "id": "phone",
            "label": "Phone",
			"default": "(440) 000 000 0000"
          },
		  {
            "type": "text",
            "id": "email",
            "label": "Email",
			"default": "sales@yousite.com"
          },
 		  {
			"type":"checkbox",
			"id":"icons",
			"label":"Show Icons?",
			"default":false
		  },
      	  {
			"type":"checkbox",
			"id":"socials",
			"label":"Show Socials?",
			"default":true
		  },
      	  {
			"type":"text",
			"id":"socttl",
			"label":"Socials Title",
			"default":"Stay Connected"
		  },
          {
              "type": "checkbox",
              "id": "issep",
              "label": "Show Sepration Border Desktop?",
              "default": true
          },
		  {
            "type": "select",
            "id": "width",
            "label": "Block Width",
            "default": "wd25",
             "info":"Total width of all block must not exceed 100%",
            "options": [ 			
			  { "value": "wd20", "label": "20%" },
              { "value": "wd25", "label": "25%" },
			  { "value": "wd30", "label": "30%" },
              { "value": "wd33", "label": "33%" },
			  { "value": "wd40", "label": "40%" },
              { "value": "wd50", "label": "50%" },
			  { "value": "wd60", "label": "60%" },
              { "value": "wd66", "label": "66%" },
              { "value": "wd75", "label": "75%" },
              { "value": "wd100", "label": "100%" }
            ]
          }
        ]
      },
	  {
        "type": "custom",
        "name": "Custom Block",
        "settings": [
		  {
            "type": "checkbox",
            "id": "hidem",
            "label": "Hide in mobile?",
			"default": false
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "About Us"
          },
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Upload Image"
          },
          {
              "type": "range",
              "id": "logo-wd",
              "label": "Logo Max Width",
              "default": 200,
              "min": 100,
              "max": 300,
              "step": 5,
              "unit": "px"
          },
		  {
            "type": "textarea",
            "id": "txt",
            "label": "Text",
			"default": "Ut enim ad minim veniam, quis nostrud <br/> exercitation laboris nisi ut aliquip ex ea  <br/>commodo consequat.Ut enim ad minim <br/>veniam,  quis nostrud exercitation "
          },         
		 {
			"type":"checkbox",
			"id":"socials",
			"label":"Show Socials?",
			"default":true
		  },
      	  {
			"type":"text",
			"id":"socttl",
			"label":"Socials Title",
			"default":"Stay Connected"
		  },
			{
			"type":"checkbox",
			"id":"payicon",
			"label":"Show Payment Icons?",
			"default":false
		  },
          {
			"type":"checkbox",
			"id":"center",
			"label":"Text Align Center?",
			"default":false
		  },
          {
              "type": "checkbox",
              "id": "issep",
              "label": "Show Sepration Border Desktop?",
              "default": true
          },
 	     {
            "type": "select",
            "id": "width",
            "label": "Block Width",
            "default": "wd25",
             "info":"Total width of all block must not exceed 100%",
            "options": [		    
			 { "value": "wd20", "label": "20%" },
              { "value": "wd25", "label": "25%" },
			  { "value": "wd30", "label": "30%" },
              { "value": "wd33", "label": "33%" },
			  { "value": "wd40", "label": "40%" },
              { "value": "wd50", "label": "50%" },
			  { "value": "wd60", "label": "60%" },
              { "value": "wd66", "label": "66%" },
              { "value": "wd75", "label": "75%" },
              { "value": "wd100", "label": "100%" }
            ]
          }
        ]
      },
	  {
        "type": "image",
        "name": "Image Block",
        "settings": [ 	
		 {
            "type": "checkbox",
            "id": "hidem",
            "label": "Hide in mobile?",
			"default": false
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "Download App"
          },
			{
            "type": "textarea",
            "id": "txt",
            "label": "Text",
			"default": "Vogal App is now available on App Store & Google Play. Get it now. "
          },	
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Upload Image"
          },
		 {
            "type": "text",
            "id": "url1",
            "label": "Image Url"
          },
          {
              "type": "range",
              "id": "logo-wd",
              "label": "Image Max Width",
              "default": 200,
              "min": 100,
              "max": 300,
              "step": 5,
              "unit": "px"
          },
			{
            "type": "checkbox",
            "id": "logomr",
            "label": "Enable image right padding",
			"default":true
          },
				{
            "type": "image_picker",
            "id": "logo2",
            "label": "Upload Image"
          },
		{
            "type": "text",
            "id": "url2",
            "label": "Image Url"
          },
          {
              "type": "range",
              "id": "logo-wd2",
              "label": "Image Max Width",
              "default": 200,
              "min": 100,
              "max": 300,
              "step": 5,
              "unit": "px"
          },
          {
              "type": "checkbox",
              "id": "issep",
              "label": "Show Sepration Border Desktop?",
              "default": true
          },
 	     {
            "type": "select",
            "id": "width",
            "label": "Block Width",
            "default": "wd25",
             "info":"Total width of all block must not exceed 100%",
            "options": [		    
			 { "value": "wd20", "label": "20%" },
              { "value": "wd25", "label": "25%" },
			  { "value": "wd30", "label": "30%" },
              { "value": "wd33", "label": "33%" },
			  { "value": "wd40", "label": "40%" },
              { "value": "wd50", "label": "50%" },
			  { "value": "wd60", "label": "60%" },
              { "value": "wd66", "label": "66%" },
              { "value": "wd75", "label": "75%" },
              { "value": "wd100", "label": "100%" }
            ]
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter Signup",
        "limit": 1,
        "settings": [
		 {
            "type": "checkbox",
            "id": "hidem",
            "label": "Hide in mobile?",
			"default": false
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Newsletter"
          },
		  {
            "type": "text",
            "id": "txt",
            "label": "Text",
			"default": "Enter your email to receive daily news and get 20% off coupon for all items. NO spam, we promise"
          },
 		  {
			"type":"checkbox",
			"id":"icon",
			"label":"Show Icons only in button",
			"default":false,
			"info": "Select when need more space for email field"
		  },
          {
			"type":"checkbox",
			"id":"center",
			"label":"Align Center?",
			"default":false
		  },
		 {
			"type":"checkbox",
			"id":"socials",
			"label":"Show Socials?",
			"default":true
		  },
      	  {
			"type":"text",
			"id":"socttl",
			"label":"Socials Title",
			"default":"Stay Connected"
		  },
          {
              "type": "checkbox",
              "id": "issep",
              "label": "Show Sepration Border Desktop?",
              "default": true
          },
		  {
            "type": "select",
            "id": "width",
            "label": "Block Width",
            "default": "wd25",
            "info":"Total width of all block must not exceed 100%",
            "options": [ 			
			 { "value": "wd20", "label": "20%" },
              { "value": "wd25", "label": "25%" },
			  { "value": "wd30", "label": "30%" },
              { "value": "wd33", "label": "33%" },
			  { "value": "wd40", "label": "40%" },
              { "value": "wd50", "label": "50%" },
			  { "value": "wd60", "label": "60%" },
              { "value": "wd66", "label": "66%" },
              { "value": "wd75", "label": "75%" },
              { "value": "wd100", "label": "100%" }
            ]
          },
          {
            "type": "paragraph",
            "content": "Appearance"
          },
          {
            "type": "color",
            "id": "inbg",
            "label": "Textfield Background",
            "default": "#fff"
          },
          {
            "type": "color",
            "id": "incl",
            "label": "Textfield Text",
            "default": "#000"
          },         
          {
            "type": "color",
            "id": "btncl",
            "label": "Button Text",
            "default": "#fff"
          },
          {
            "type": "color",
            "id": "btnbg",
            "label": "Button Background",
            "default": "#333"
          },
          {
            "type": "color",
            "id": "btnclh",
            "label": "Button Text Hover",
            "default": "#fff"
          },
          {
            "type": "color",
            "id": "btnbgh",
            "label": "Button Background Hover",
            "default": "#333"
          }
        ]
      },
	  {
        "type": "socialicons",
        "name": "Social Icons",
        "limit": 1,
        "settings": [
		 {
            "type": "checkbox",
            "id": "hidem",
            "label": "Hide in mobile?",
			"default": false
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Stay Connected"
          },
          {
              "type": "checkbox",
              "id": "issep",
              "label": "Show Sepration Border Desktop?",
              "default": true
          },		  
		  {
            "type": "select",
            "id": "width",
            "label": "Block width",
            "default": "wd25",
            "info":"Total width of all block must not exceed 100%",
            "options": [ 			 
			  { "value": "wd20", "label": "20%" },
              { "value": "wd25", "label": "25%" },
			  { "value": "wd30", "label": "30%" },
              { "value": "wd33", "label": "33%" },
			  { "value": "wd40", "label": "40%" },
              { "value": "wd50", "label": "50%" },
			  { "value": "wd60", "label": "60%" },
              { "value": "wd66", "label": "66%" },
              { "value": "wd75", "label": "75%" },
              { "value": "wd100", "label": "100%" }
            ]
          }
        ]
      },
      {
      	"type": "hrline",
      	"name": "Horizontal Line",
		 "settings": [         	  
		    {
            "type": "color",
            "id": "lineclr",
            "label": "Line Color",
            "default": "#eee"
          },
            {
    		"type":"checkbox",
    		"id":"hidem",
    		"label":"Hide in Mobile?",
    		"default": true
    	    },
          {
            "type": "range",
            "id": "mar",
            "label": "Top/Bottom Margin",
            "default": 15,
            "min": 0,
            "max": 50,
            "step": 5,
            "unit": "px"
        }
		]
      }
	]
  }
{%- endschema -%}