{% assign secSt = section.settings %}
{%- capture lookbookSec -%}
<div class="sec_cov{% if secSt.hidem %} hide-sm{% endif %}{% if secSt.hided %} hide-md hide-lg{% endif %}" style="--sbg:{% if secSt.bgg != blank %}{{ secSt.bgg }}{% else %}{{ secSt.bg }}{% endif %};--sst:{{ secSt.sst }}px;--ssb:{{ secSt.ssb }}px;--sstm:{{ secSt.sstm }}px;--ssbm:{{ secSt.ssbm }}px;--ttp:{{ secSt.tbp }}px;--tbp:{{ secSt.tbp | plus : 4 }}px">
    <div class="{% if section.settings.sw %}fw-sec{% if section.settings.npd %} npd{% endif %}{% else %}page-width{% endif %} instashoping" id="sliderbox-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="carousel">   	
        {% render 'sec-title' %}
        {% if secSt.carousel %}<div class="arwOut pr">{% endif %}
        <div class="grid gspace mfp-link rwcols-{{ section.settings.gridmb }} rwcols-md-{{ section.settings.gridtb }} rwcols-lg-{{ section.settings.grid }} collection-grid{% if section.settings.carousel %} swiper arwOut{% else %} listing{% endif %}"
             {% if secSt.carousel %}
                 id="swp{{ section.id }}"
                 data-slider-options='{ "slidesPerView":"auto", "loop":true, {% if secSt.autoplay %}"autoplay":{ "delay":"{{ secSt.speed | times: 1000 }}" },{% endif %} "navigation":{ "nextEl":".swn{{ section.id }}","prevEl":".swp{{ section.id }}" },"pagination":{ "el":".swpg{{ section.id }}","clickable":true }}'
             {% endif %}
             style="--irad:{{ section.settings.irad }}px;--grsp:0 -{{ section.settings.gspace | divided_by: 2.0 }}px;--grspi:0 {{ section.settings.gspace | divided_by: 2.0 }}px {{ section.settings.gspace }}px;--grspm:0 -{{ section.settings.gspacem | divided_by: 2.0 }}px;--grspim:0 {{ section.settings.gspacem | divided_by: 2.0 }}px {{ section.settings.gspacem }}px;">
            {% if secSt.carousel %}<div class="swiper-wrapper">{% endif %}
            {% for block in section.blocks limit: section.blocks.size %}
                {%- assign blkSt = block.settings -%}
                {% assign product_box = forloop.index | minus:1 %}
                {% assign delay_time = 50 | times : product_box %}
                {% if blkSt.image != blank %}
                    <div class="gitem swiper-slide wow fadeInUp" data-wow-delay="{{delay_time}}ms" id="{{ block.id }}" {{ block.shopify_attributes }}>
                      <a class="db igshop mfp pr" href="#igpp{{ block.id }}" title="{{ blkSt.title | escape}}">
                        <span class="instaShop pa fl f-aic f-jcc"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#000" fill-rule="evenodd" d="M3.01725 9.7037C3.17372 7.20029 5.2497 5.25 7.758 5.25H16.2424C18.7507 5.25 20.8267 7.20029 20.9831 9.7037L21.4831 17.7037C21.6541 20.4383 19.4823 22.75 16.7424 22.75H11.5002C11.086 22.75 10.7502 22.4142 10.7502 22C10.7502 21.5858 11.086 21.25 11.5002 21.25H16.7424C18.6171 21.25 20.103 19.6683 19.9861 17.7973L19.4861 9.79727C19.379 8.08441 17.9586 6.75 16.2424 6.75H7.758C6.0418 6.75 4.62139 8.08441 4.51433 9.79727L4.01433 17.7973C3.89739 19.6683 5.38333 21.25 7.258 21.25H7.5002C7.91441 21.25 8.2502 21.5858 8.2502 22C8.2502 22.4142 7.91441 22.75 7.5002 22.75H7.258C4.5181 22.75 2.34634 20.4383 2.51725 17.7037L3.01725 9.7037Z" clip-rule="evenodd"></path><path fill="#000" fill-rule="evenodd" d="M7.25 5C7.25 2.92893 8.92893 1.25 11 1.25H13C15.0711 1.25 16.75 2.92893 16.75 5V6C16.75 6.41421 16.4142 6.75 16 6.75 15.5858 6.75 15.25 6.41421 15.25 6V5C15.25 3.75736 14.2426 2.75 13 2.75H11C9.75736 2.75 8.75 3.75736 8.75 5V6C8.75 6.41421 8.41421 6.75 8 6.75 7.58579 6.75 7.25 6.41421 7.25 6V5zM7.25 10C7.25 12.0711 8.92893 13.75 11 13.75H13C15.0711 13.75 16.75 12.0711 16.75 10V9C16.75 8.58579 16.4142 8.25 16 8.25 15.5858 8.25 15.25 8.58579 15.25 9V10C15.25 11.2426 14.2426 12.25 13 12.25H11C9.75736 12.25 8.75 11.2426 8.75 10V9C8.75 8.58579 8.41421 8.25 8 8.25 7.58579 8.25 7.25 8.58579 7.25 9V10z" clip-rule="evenodd"></path></svg></span>
                        <img class="imgFl lazyload" loading="lazy" src="{{ blkSt.image | img_url: '50x' }}" width="{{ blkSt.image.width }}" height="{{ blkSt.image.height }}"
                            data-srcset="{% render 'lazyload', image: blkSt.image, sizes: '300,500,750,1000,1350,1600' %}" data-sizes="auto" alt="{{ blkSt.image.alt | default: blkSt.title | default: shop.name | escape }}" />
                      </a>
                    </div>
                {% else %}
                    <div class="gitem wow fadeInUp {{blkSt.width}}" data-wow-delay="{{delay_time}}ms" id="{{ block.id }}" {{ block.shopify_attributes }}>
                     {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}{{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
            {% if secSt.carousel %}
                    </div>
                    <div class="swarw swn{{ section.id }} swiper-button-next{% unless secSt.arrowm %} hide-sm{% endunless %}{% unless secSt.arrow %} hide-md hide-lg{% endunless %}"></div>
                    <div class="swarw swp{{ section.id }} swiper-button-prev{% unless secSt.arrowm %} hide-sm{% endunless %}{% unless secSt.arrow %} hide-md hide-lg{% endunless %}"></div>
                    <div class="swiper-pagination swpg{{ section.id }}{% unless secSt.dotm %} hide-sm{% endunless %}{% unless secSt.dot %} hide-md hide-lg{% endunless %}"></div>
                </div>
            {% endif %}
    </div>
</div>
  {% for block in section.blocks %}
    {%- assign blkSt = block.settings -%}
    {% if blkSt.image != blank %}
            <div id="igpp{{ block.id }}" class="insPopup mfpbox mfp-hide mfp-with-anim">
                <div class="grid">
                    <div class="gitem wd60-md">
                        <div class="pr lookbook">
                        <img class="imgFl lazyload" loading="lazy" width="{{ blkSt.image.width }}" height="{{ blkSt.image.height }}"
                             data-srcset="{% render 'lazyload', image: blkSt.image, sizes: '300,500,750,1000,1350,1600' %}" data-sizes="auto" alt="{{ blkSt.image.alt | default: blkSt.title | default: shop.name | escape }}" />
                            {% if blkSt.product1 != blank %}
                                <a class="pa products" href="{{blkSt.product1.url}}" target="_blank" style="top:{{ blkSt.p1_top}}%;left:{{ blkSt.p1_left}}%;" title="{{ blkSt.product1.title | escape }}"><span class="btn-shop db">{%- render 'icon-plus' -%}</span></a>
                            {% endif %}
                            {% if blkSt.product2 != blank %}
                                <a class="pa products" href="{{blkSt.product2.url}}" target="_blank" style="top:{{ blkSt.p2_top}}%;left:{{ blkSt.p2_left}}%;" title="{{ blkSt.product2.title | escape }}"><span class="btn-shop db">{%- render 'icon-plus' -%}</span></a>
                            {% endif %}
                            {% if blkSt.product3 != blank %}
                                <a class="pa products" href="{{blkSt.product3.url}}" target="_blank" style="top:{{ blkSt.p3_top}}%;left:{{ blkSt.p3_left}}%;" title="{{ blkSt.product3.title | escape }}"><span class="btn-shop db">{%- render 'icon-plus' -%}</span></a>
                            {% endif %}
                            {% if blkSt.product4 != blank %}
                                <a class="pa products" href="{{blkSt.product4.url}}" target="_blank" style="top:{{ blkSt.p4_top}}%;left:{{ blkSt.p4_left}}%;" title="{{ blkSt.product4.title | escape }}"><span class="btn-shop db">{%- render 'icon-plus' -%}</span></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="gitem wd40-md">
                        {% if blkSt.title != blank %}
                            <div class="fs18 fwm mb10">
                                {% if blkSt.url != blank %}<a href="{{ blkSt.url }}" class="db fl f-aic f-jcsb" target="_blank">{% endif %}
                                    {{ blkSt.title }}
                                {% if blkSt.url != blank %}
                                    <svg id="elink" class="ml10" enable-background="new 0 0 128 128" height="512" viewBox="0 0 128 128" width="512" xmlns="http://www.w3.org/2000/svg"><path id="External_Link" d="m124 8v36c0 2.211-1.789 4-4 4s-4-1.789-4-4v-26.344l-57.172 57.172c-.781.781-1.805 1.172-2.828 1.172s-2.047-.391-2.828-1.172c-1.563-1.563-1.563-4.094 0-5.656l57.172-57.172h-26.344c-2.211 0-4-1.789-4-4s1.789-4 4-4h36c2.211 0 4 1.789 4 4zm-16 104v-48c0-2.211-1.789-4-4-4s-4 1.789-4 4v48c0 2.207-1.793 4-4 4h-80c-2.207 0-4-1.793-4-4v-80c0-2.207 1.793-4 4-4h48c2.211 0 4-1.789 4-4s-1.789-4-4-4h-48c-6.617 0-12 5.383-12 12v80c0 6.617 5.383 12 12 12h80c6.617 0 12-5.383 12-12z"/></svg>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if blkSt.cpt != blank %}<div class="mb20">{{ blkSt.cpt }}</div>{% endif %}

                        {% if blkSt.product1 != blank %}{% render 'product-card-columns', product: blkSt.product1, postion: blkSt.dis-pstn1 %}{% endif %}
                        {% if blkSt.product2 != blank %}{% render 'product-card-columns', product:blkSt.product2, postion: blkSt.dis-pstn2 %}{% endif %}
                        {% if blkSt.product3 != blank %}{% render 'product-card-columns', product:blkSt.product3, postion: blkSt.dis-pstn3 %}{% endif %}
                        {% if blkSt.product4 != blank %}{% render 'product-card-columns', product:blkSt.product4, postion: blkSt.dis-pstn4 %}{% endif %}

                        {% if secSt.isbtn and secSt.btn != blank and blkSt.url != blank %}
                          <p class="tc mt30">  <a href="{{ blkSt.url }}" class="btn {{secSt.btn-size-mob}} {{secSt.btn-size-desk}} {{secSt.btn-style}}" target="_blank">{{ secSt.btn }}</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
    {% endif %}
{% endfor %}


{%- endcapture -%}
{{lookbookSec | strip_newlines | remove: "  " | remove: "	" }}
{% schema %}
  {
    "name": "Instagram Shop",
    "max_blocks":50,
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [	  
     {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Sub Heading",
        "default": "Describe your products, collection, content etc..."
      },	  	                
        {
            "type": "header",
            "content": "Grid Appearance ==="
        }, 	         
        {
            "type": "range",
            "id": "gspace",
            "label": "Grid Spacing",
            "default": 15,
            "min": 0,
            "max": 50,
            "step": 1,
            "unit":"px"
        },
        {
            "type": "range",
            "id": "gspacem",
            "label": "Grid Spacing (mobile)",
            "default": 10,
            "min": 0,
            "max": 15,
            "step": 1,
            "unit":"px"		
        },
        {
            "type": "paragraph",
            "content": "Items per row ==="
        }, 	
        {
            "type": "range",
            "id": "grid",
            "label": "Desktop",
            "default": 4,
            "min": 2,
            "max": 8,
            "step": 1
        },
        {
            "type": "range",
            "id": "gridtb",
            "label": "Tablet",
            "default": 3,
            "min": 1,
            "max": 5,
            "step": 1
        },
        {
            "type": "range",
            "id": "gridmb",
            "label": "Mobile",
            "default": 2,
            "min": 1,
            "max": 3,
            "step": 1
        },
      {
		"type":"paragraph",
		"content":"----------------------------------------"
	  }, 
	  {
            "type": "range",
            "id": "irad",
            "label": "Image Radius",
            "default": 0,
            "min": 0,
            "max": 30,
            "step": 1,
            "unit":"px"		
       },	  	 
		{
		"type":"checkbox",
		"id":"isbtn",
		"label":"Show button in popup?",
		"default": false
	   },	
	  {
		"type": "text",
		"id": "btn",
		"label": "Button Text",
		"default": "View on Instagram"
	  },
	   {
            "type": "select",
            "id": "btn-style",
            "label": "Select Button",
            "default": "btn1",
            "options": [
              {
            "label": "Button 1",
            "value": "btn1"
          },
          {
            "label": "Button 2",
            "value": "btn2"
          },
          {
            "label": "Button 3",
            "value": "btn3"
          },
          {
            "label": "Button 4",
            "value": "btn4"
          },
          {
            "label": "Button 5",
            "value": "btn5"
          },
          {
            "label": "Button 6",
            "value": "btn6"
          },
         {
              "label": "Button 7 Gradient",
              "value": "btn7"
          },
          {
              "label": "Button 8 Gradient",
              "value": "btn8"
          },
           {
            "label": "Button Link",
            "value": "btnLink"
          }
        ]
        },
		{
          "type": "select",
          "id": "btn-size-desk",
          "label": "Button Size",
          "default": "btn-sm",
          "options": [
			  {
			  "label": "Small",
			  "value": "btn-sm"
			  },
			  {
			  "label": "Medium",
			  "value": "btn-md"
			  },
			  {
			  "label": "Large",
			  "value": "btn-lg"
			  }	
          	]
          }, 
          {
			  "type": "select",
			  "id": "btn-size-mob",
			  "label": "Button Size(mobile)",
			  "default": "mob-btn-sm",
			  "options": [
				  {
					  "label": "Small",
					  "value": "mob-btn-sm"
				  },
				  {
					  "label": "Medium",
					  "value": "mob-btn-md"
				  },
				  {
					  "label": "Large",
					  "value": "mob-btn-lg"
				  }	
			  ]
       },    
		{
            "type": "header",
            "content": "Slider Settings ===="
        },
        {
            "type":"checkbox",
            "id":"carousel",
            "label":"Enable Carousel",
            "default": false
        },
 		{
            "type": "checkbox",
            "id": "autoplay",
            "label": "Auto-rotate Slide",
            "default": false			
        },
        {
            "type": "range",
            "id": "speed",
            "label": "Change Slide Every",
            "default": 5,
            "min": 1,
            "max": 30,
            "step": 1,
            "unit": "Sec"			
        },
		{
            "type": "paragraph",
            "content": "Arrows ===="
        },
		{
            "type": "checkbox",
            "id": "arrow",
            "label": "Show on Desktop?",
            "default": true			
        },
		{
            "type": "checkbox",
            "id": "arrowm",
            "label": "Show on Mobile?",
            "default": false			
        },
		{
            "type": "paragraph",
            "content": "Dot Navigation ===="
        },
		{
            "type": "checkbox",
            "id": "dot",
            "label": "Show on Desktop?",
            "default": false			
        },
		{
            "type": "checkbox",
            "id": "dotm",
            "label": "Show on Mobile?",
            "default": true			
        },
		{
            "type": "header",
            "content": "Section"
        },
		{
            "type": "paragraph",
            "content": "Spacing ===="
        },
		{
			"type": "range",
			"id": "sst",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Top",
			"unit": "px",
			"default":30
        },
		{
			"type": "range",
			"id": "ssb",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Bottom",
			"unit": "px",
			"default":30
        },
		{
            "type": "paragraph",
            "content": "Spacing (mobile) ===="
        },
		{
			"type": "range",
			"id": "sstm",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Top",
			"unit": "px",
			"default":15
        },
		{
			"type": "range",
			"id": "ssbm",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Bottom",
			"unit": "px",
			"default":15
        },       
        {
            "type": "color",
            "id": "bg",
            "label": "Background"        
        },
        {
            "type": "color_background",
            "id": "bgg",
            "label": "Gradient Background"
        },	
        {
            "type":"checkbox",
            "id":"sw",
            "label":"Fullwidth?",
            "default": false,
            "info":"Manage fullwidth padding from Theme Settings -> Layout Style"
        },		       
        {
            "type":"checkbox",
            "id":"npd",
            "label":"No Padding?",
            "default": false,
            "info":"Remove left/right padding when fullwidth"
        },
		{
            "type": "checkbox",
            "id": "hidem",
            "label": "Hide in Mobile?",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "hided",
            "label": "Hide on Desktop?",
            "default": false
        } 	  
	 ],
	"blocks":[
		{
			"name":"Image",
			"type":"img",
		 	"settings":[
                {
                    "type":"image_picker",
                    "id":"image",
                     "label":"Image"
                },
                {
                    "type":"text",
                    "id":"title",
                    "label":"Instagram Title"
                },
                {
                    "type":"richtext",
                    "id":"cpt",
                    "label":"Instagram Caption"			 
                },
                {
                    "type":"url",
                    "id":"url",
                    "label":"Instagram Link"
                },
              {
                "type":"header",
                "content":"Add Products"
               },
              {
                "type": "product",
                "id": "product1",
                "label": "Product 1"
              },
               {
                "type": "range",
                "id": "p1_top",
                "label": "Top Position",
                "default": 1,
                "min": 1,
                "max": 90,
                "step": 1,
                "unit": "%"
              },
              {
                "type": "range",
                "id": "p1_left",
                "label": "Left Position",
                "default": 1,
                "min": 1,
                "max": 90,
                "step": 1,
                "unit": "%"
              },
		 {
            "type": "product",
            "id": "product2",
            "label": "Product 2"
          },
		 {		
            "type": "range",
            "id": "p2_top",
            "label": "Top Position",
            "default": 1,
            "min": 1,
            "max": 90,
            "step": 1,
            "unit": "%"
          },
		  {
            "type": "range",
            "id": "p2_left",
            "label": "Left Position",
            "default": 1,
            "min": 1,
            "max": 90,
            "step": 1,
            "unit": "%"
          },
		{
            "type": "product",
            "id": "product3",
            "label": "Product 3"
          },
		 {		
            "type": "range",
            "id": "p3_top",
            "label": "Top Position",
            "default": 1,
            "min": 1,
            "max": 90,
            "step": 1,
            "unit": "%"
          },
		  {
            "type": "range",
            "id": "p3_left",
            "label": "Left Position",
            "default": 1,
            "min": 1,
            "max": 90,
            "step": 1,
            "unit": "%"
          },
		{
            "type": "product",
            "id": "product4",
            "label": "Product 4"
          },
		 {		
            "type": "range",
            "id": "p4_top",
            "label": "Top Position",
            "default": 1,
            "min": 1,
            "max": 90,
            "step": 1,
            "unit": "%"
          },
		  {
            "type": "range",
            "id": "p4_left",
            "label": "Left Position",
            "default": 1,
            "min": 1,
            "max": 90,
            "step": 1,
            "unit": "%"
          }
		 ]
	   }       
     ],
	"presets": [
      {
        "name": "Instagram Shop",
        "blocks": [
          {
            "type": "img"
          },
          {
            "type": "img"
          },
          {
            "type": "img"
          },
          {
            "type": "img"
          }          	  
        ]
      }
    ]
  }
{% endschema %}

