{%- capture instagramFeed -%}
{% assign secSt = section.settings %}
<div class="sec_cov{% if secSt.hidem %} hide-sm{% endif %}{% if secSt.hided %} hide-md hide-lg{% endif %}" style="--sbg:{% if secSt.bgg != blank %}{{ secSt.bgg }}{% else %}{{ secSt.bg }}{% endif %};--sst:{{ secSt.sst }}px;--ssb:{{ secSt.ssb }}px;--sstm:{{ secSt.sstm }}px;--ssbm:{{ secSt.ssbm }}px">  
    <div class="{% if section.settings.sw %}fw-sec{% if section.settings.npd %} npd{% endif %}{% else %}page-width{% endif %}" data-section-id="{{ section.id }}" data-section-type="instagram" data-image="{{ section.settings.images_size }}"
        data-count="{{ section.settings.limit }}" data-act="{{ section.settings.act }}" data-autop="{%- if section.settings.autoplay -%}{{ section.settings.speed | times: 1000 }}{%- else -%}0{%- endif -%}">
        <section class="home-instagram">
          
            {% render 'sec-title' %}				

            <div id="instafeed{{ section.id }}" class="brad rwcols-{{ section.settings.gridmb }} rwcols-md-{{ section.settings.gridtb }} rwcols-lg-{{ section.settings.grid }} instafeed pr w_100{% if section.settings.carousel %} carousel{% else %} fl f-wrap{% endif %}" style="--brad:{{ secSt.sbrad  }}px;--gs:{{ secSt.gs  }}px;"></div>
            {% if section.settings.btn_text != blank and section.settings.link != blank %}
                <div class="pd20 tc"><a href="{{ section.settings.link }}" title="{{ section.settings.btn_text }}" target="_blank" class="btn">{{ section.settings.btn_text }}</a></div>
            {% endif %}
        </section>
    </div>
</div>
{%- endcapture -%}
{{ instagramFeed | strip_newlines | remove: "  " | remove: "	" }}
{% schema %}
{
    "name": "Instagram",
    "class":"index-section",
   "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Vogal On Instagram"
        },
        {
            "type": "textarea",
            "id": "subtitle",
            "label": "Sub Heading",
            "default": "Phasellus lorem malesuada ligula pulvinar commodo auctom."
        },       
        {
            "type": "text",
            "id": "act",
            "label": "User's photos via Instagram API",
            "info": "Add Instagram Access Token Key here. [How to get Instagram Access Token?](https://www.adornthemes.com/knowledge-base/how-to-get-instagram-access-token/)"
        },
        {
            "type":"header",
            "content":"Appearance"
        }, 
        {
                "type": "range",
                "id": "gs",
                "label": "Grid Spacing",
                "default": 0,
                "min": 0,
                "max": 30,
                "step": 1,
                "unit":"px"		
       },	 
       {
                "type": "range",
                "id": "sbrad",
                "label": "Image Border Radius",
                "default": 0,
                "min": 0,
                "max": 100,
                "step": 1,
                "unit":"px"		
       },	 
        {
            "type": "range",
            "id": "limit",
            "label": "Number of Photos to show",
            "default": 7,
            "min": 1,
            "max": 20,
            "step": 1
        },      
        {
            "type": "paragraph",
            "content": "Photos Per Row ==="
        },
        {
            "type": "range",
            "id": "grid",
            "label": "Desktop",
            "default": 6,
            "min": 1,
            "max": 10,
            "step": 1
        },
        {
            "type": "range",
            "id": "gridtb",
            "label": "Tablet",
            "default": 5,
            "min": 1,
            "max": 7,
            "step": 1
        },
        {
            "type": "range",
            "id": "gridmb",
            "label": "Mobile",
            "default": 3,
            "min": 1,
            "max": 5,
            "step": 1
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text",
            "default": "View Gallery"
        },
        {
            "type": "text",
            "id": "link",
            "label": "Button Link"
        },	
        {
            "type":"header",
            "content":"Slider Settings"	
        },  
        {
            "type":"checkbox",
            "id":"carousel",
            "label":"Enable Slider",
            "default": false
        },       
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Auto-rotate Images",
            "default": true
        },
        {
            "type": "range",
            "id": "speed",
            "label": "Change Image Every",
            "default": 5,
            "min": 1,
            "max": 60,
            "step": 1,
            "unit": "sec"
        },
		{
            "type": "header",
            "content": "Section"
        },
		{
            "type": "paragraph",
            "content": "Spacing ===="
        },
		{
			"type": "range",
			"id": "sst",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Top",
			"unit": "px",
			"default":30
        },
		{
			"type": "range",
			"id": "ssb",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Bottom",
			"unit": "px",
			"default":30
        },
		{
            "type": "paragraph",
            "content": "Spacing (mobile) ===="
        },
		{
			"type": "range",
			"id": "sstm",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Top",
			"unit": "px",
			"default":15
        },
		{
			"type": "range",
			"id": "ssbm",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Bottom",
			"unit": "px",
			"default":15
        },       
        {
            "type": "color",
            "id": "bg",
            "label": "Background"
        },
        {
            "type": "color_background",
            "id": "bgg",
            "label": "Gradient Background"
        },	
        {
            "type":"checkbox",
            "id":"sw",
            "label":"Fullwidth?",
            "default": false,
            "info":"Manage fullwidth padding from Theme Settings -> Layout Style"
        },		       
        {
            "type":"checkbox",
            "id":"npd",
            "label":"No Padding?",
            "default": false,
            "info":"Remove left/right padding when fullwidth"
        },
		{
            "type": "checkbox",
            "id": "hidem",
            "label": "Hide in Mobile?",
            "default": false
        }
    ],   
    "presets": [
        {
            "name": "Instagram"          
        }
    ]
}
{% endschema %}