{% assign secSt = section.settings %}
<style>
#wishlist > .gitem  {position:relative;}
#wishlist .wishlist {display:none;}
#wishlist .grid_5 .grid5-top { top:55px;}
#wishlist .removeItem {position:absolute; right:15px; top:10px; z-index:333; text-align: center; line-height: 36px; opacity:0;}
#wishlist .gitem:hover .removeItem { opacity:1;}
#wishlist .removeItem .tooltip-label {right: 55px;}
#wishlist .removeItem:hover .tooltip-label {right: 45px;opacity: 1; visibility: visible;}
@media only screen and (max-width:1024px){
  #wishlist .removeItem { opacity:1; right:16px;}
}
@media only screen and (max-width:766px) {
  #wishlist .removeItem { line-height:29px; height:30px; min-width:32px;}
  #wishlist .grid_5 .grid5-top { top:45px;}
}
</style>
<div class="sec_cov{% if secSt.hidem %} hide-sm{% endif %}" style="--sbg:{{ secSt.bg }};--sst:{{ secSt.sst }}px;--ssb:{{ secSt.ssb }}px;--sstm:{{ secSt.sstm }}px;--ssbm:{{ secSt.ssbm }}px">  
	 <div class="{% if section.settings.sw %}fw-sec{% else %}page-width{% endif %}">
        {% unless section.settings.hidettl %} <h1 class="page-title {{ settings.title_align }}">{{ page.title }}</h1>{% endunless %}
        <div class="empty-page wlnull tc">      
             <p>{{ 'products.wishlist.wishlist-empty' | t }}</p>
             <a href="{{ routes.root_url }}" class="btn">{{ 'products.wishlist.shop_link' | t }}</a>
        </div>
        <div id="wishlist" class="mt20 grid rwcols-2 rwcols-md-3 rwcols-lg-4 grid-products"></div>
	</div>
</div>
<script>
window.addEventListener('DOMContentLoaded',function(){
       $.ajax({
            url: '/collections/all?type='+localStorage.getItem('wishlist')+'&view=prlist',
              dataType: 'html',
              type: 'GET',
              success: function(data){
                if($(data).find('.grid_bx').length){
                    $('.wlnull').hide();
                    $('#wishlist').html(data);
                	$(theme.init);
                }
              },
              error: function(data){console.log('ajax error')},
              complete: function(){}
        });
      
      	$(document).on('click', '.removeItem', function(e){
            e.preventDefault();
            var item = $(this).parents('.gitem');
            var str = localStorage.getItem('wishlist');
            str = str.replace($(this).attr("href"), '');
            str = str.replace('++', '+');
            localStorage.setItem('wishlist', str);
            item.fadeOut(500);
            setTimeout(removeItem, 500, item);
          });
      
        function removeItem(item) {
          item.remove();
          if(localStorage.getItem('wishlist') == '+' || localStorage.getItem('wishlist') == ''){
            localStorage.removeItem('wishlist');
            $('.wlnull').show();
            $('.favCount').addClass('hide');
          } else {
            var str = String(localStorage.getItem('wishlist')).split("+");
               for (var i=0; i<str.length; i++) {
                 if (str[i] != '') {
                   $('.favCount').text(i);
                 }
               }
          }
        }
      });
</script>

{% schema %}
  {
    "name": "Wishlist Page",
    "class": "index-section",
    "settings": [	
        {
            "type": "checkbox",
            "id": "hidettl",
            "label": "Hide Page Title?",
            "default": false            
        },		
	    {
            "type": "header",
            "content": "Section"
        },
		{
            "type": "paragraph",
            "content": "Spacing ===="
        },
		{
			"type": "range",
			"id": "sst",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Top",
			"unit": "px",
			"default":40
        },
		{
			"type": "range",
			"id": "ssb",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Bottom",
			"unit": "px",
			"default":40
        },
		{
            "type": "paragraph",
            "content": "Spacing (mobile) ===="
        },
		{
			"type": "range",
			"id": "sstm",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Top",
			"unit": "px",
			"default":20
        },
		{
			"type": "range",
			"id": "ssbm",
			"min": 0,
			"max": 100,
			"step": 5,
			"label": "Bottom",
			"unit": "px",
			"default":20
        },
       {
            "type": "color",
            "id": "bg",
            "label": "Background",
            "info":"select light color"
        },	
        {
            "type":"checkbox",
            "id":"sw",
            "label":"Fullwidth?",
            "default": false           
        }       
    ]
  }
{% endschema %}