{%- liquid
    assign prlimit = '5'
    assign grid = '1'
    if settings.main_head == '1' or settings.main_head == '4'
      assign prlimit = '6'
      assign grid = '2'
    endif
-%}
{%- if predictive_search.performed -%}
    {%- if predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 -%}
            <div class="popkeywords s_suggestion" role="group" aria-labelledby="predictive-search-queries">
              <p class="srttl fwm mb10">{{- 'general.search.suggestions' | t -}}: </p>
                {%- for query in predictive_search.resources.queries -%}
                    <a href="{{ query.url }}" class="mr15" tabindex="-1" aria-label="{{ query.text }}"><u>{{ query.styled_text }}</u></a>
                {%- endfor -%}
                {%- for collection in predictive_search.resources.collections -%}
                    <a href="{{ collection.url }}" class="mr15" tabindex="-1"><u>{{ collection.title }}</u></a>
                {%- endfor -%}
            </div>
            <hr />
      {%- endif -%}
    <ul id="predictive-search-results-list" class="grid gspace rwcols-1 col-md-1 rwcols-lg-{{ grid }} predictive-search__results-list" aria-labelledby="predictive-search-products"
      style="--grsp:0 -5px;--grspi:0 5px 0;--grspm:0 -5px;--grspim:0 5px 0;">
      {%- for product in predictive_search.resources.products limit: prlimit -%}
        <li class="gitem productCol">{% render 'product-card-columns',product:product  %}</li>
      {%- endfor -%}
    </ul>
    {%- if predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 -%}
          <div class="psPages mb15">
              <hr />
              <p class="srttl fwm popttl mb10">{{- 'general.search.pages' | t -}}</p>
              <ul id="spageslist" class="spageslist" role="group" aria-labelledby="predictive-search-pages-desktop">
                {%- for page in predictive_search.resources.pages -%}
                  <li class="psearch-list-item mb10" role="option" aria-selected="false">
                    <a href="{{ page.url }}" class="psearch-item" tabindex="-1">{{ page.title }}</a>
                  </li>
                {%- endfor -%}
                {%- for article in predictive_search.resources.articles -%}
                  <li class="predictive-search__list-item mb10" role="option" aria-selected="false">
                    <a href="{{ article.url }}" class="psearch-item" tabindex="-1">{{ article.title }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {% endif %}
    {%- if predictive_search.resources.products.size > 0 -%}
      <a class="fl f-aic f-jcsb moreItem" href="{{ routes.search_url }}?q={{ predictive_search.terms }}&options%5Bprefix%5D=none&options%5Bprefix%5D=last">
          {{ 'general.search.all' | t: terms: predictive_search.terms }} 
         <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="at-icon icon-arrow ml5 arwl right" style="height:10px" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path></svg>
      </a>
    {%- endif -%}

  
    {%- if predictive_search.resources.products.size == 0 -%}
      <p class="noResult">{{ 'general.search.no_results_html' | t: terms: predictive_search.terms }}</p>
    {%- endif -%}
{%- endif -%}