{% layout none %}
<!doctype html>
<html class="no-js" lang="{{ shop.locale }}" {% if settings.rtl %}dir="rtl"{% endif %}><head>

  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}{%- endif -%}
    {%- if current_page != 1 -%}&ndash; {{ 'general.meta.page' | t: page: current_page }}{%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%} &ndash; {{ shop.name }}{%- endunless -%}
  {%- endcapture -%}
  
  {%- capture metaTags -%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="{{ settings.theme_clr }}">
    <meta name="format-detection" content="telephone=no">
    <link rel="canonical" href="{{ canonical_url }}">

  	<link rel="dns-prefetch" href="https://{{shop.domain}}" crossorigin>
    <link rel="dns-prefetch" href="https://{{shop.permanent_domain}}" crossorigin>
    <link rel="dns-prefetch" href="https://cdn.shopify.com" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.shopifycdn.com" crossorigin>
  	<link rel="preconnect" href="https//fonts.shopifycdn.com/" crossorigin>
    <link rel="preconnect" href="https//cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">{%- endif -%}
    {%- if settings.favicon_retina != blank -%}<link rel="apple-touch-icon-precomposed" type="image/png" sizes="152x152" href="{{ settings.favicon_retina | img_url: '152x' }}">{%- endif -%}

  	<title>{{ seo_title }}</title>
    {% if collection.handle == 'all' %}
      <meta name="description" content="Shop our complete Featherstone London collection—timeless menswear essentials including knitwear, shirts, trousers, footwear, and accessories." />
    {% elsif collection.description != blank %}
      <meta name="description" content="{{ collection.description | strip_html | escape }}" />
    {% elsif page_description != blank %}
      {% assign sentences = page_description | strip_html | escape | split: '.' %}
      {% assign sentence_count = sentences | size %}
      {% comment %} {% assign first_sentence = page_description | strip_html | escape | split: '.' %} {% endcomment %}
      {% if sentence_count > 3 %}
        <meta name="description" content="
          {{ sentences[0] | strip }}
          {% if sentences[1] != blank %} {{ sentences[1] | strip }}.{% endif %}
          {% if sentences[2] != blank %} {{ sentences[2] | strip }}.{% endif %}
          {% if sentences[3] != blank %} {{ sentences[3] | strip }}.{% endif %}
        " />
      {% else %}
        <meta name="description" content="{{ page_description }}" /> 
      {% endif %}
    {% else %}
      <meta name="description" content="{{ settings.meta_description | escape }}" />
    {% endif %}

  	{% comment %} {%- if page_description -%}<meta name="description" content="{{ page_description | escape }}">{%- endif -%} {% endcomment %}
  	{%- render 'social-meta-tags' -%}
  {%- endcapture -%}
  {{metaTags | strip_newlines | remove: "  " | remove: "	" }}

  {%- capture mainjs -%}
      {% render 'head-css' %}
  {%- endcapture -%}
  {{mainjs | strip_newlines | remove: "  " | remove: "	" }}

  {{ content_for_header }}
<script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
<style>
    .btnLink { cursor: pointer; text-decoration: underline; }

.gift-card__title { text-align: center; word-break: break-word; padding: 30px 0 15px; }

@media only screen and (min-width: 990px) {
  .gift-card__title { padding: 50px 0 25px; }
}

.gift-card__image-wrapper { display:flex; justify-content:center; align-items:center; height:100%; margin:0 auto; }
@media only screen and (min-width: 750px) {
  .gift-card__image-wrapper { margin-bottom:0; width: 40rem; }
}

.gift-card__image {  max-width:100%; padding:0 2rem; height:auto; }

@media only screen and (min-width: 750px) {
  .gift-card__image { padding:0; }
}

.gift-card__heading { font-weight: 400; margin: 2.5rem 0 1rem; }

.gift-card__price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:16px;
  font-weight: 400;
  opacity: 0.85;
}

.gift-card__price > p:first-child { margin-bottom: 1rem; }
.gift-card__label:not(.badge) {font-weight: 400; opacity: 0.7;}

.gift-card__number {
  background-color: transparent;
  border: none;
  color: rgb(var(--color-base-text));
  font-size: 18px;
  font-weight: 400;
  line-height: calc(1 + 0.6 / var(--font-body-scale));
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 750px) {
  .gift-card__number { font-size:22px; }
}

.gift-card__text { margin-bottom:40px; opacity: 0.7; }

.gift-card__information { margin-top:20px; }

.gift-card__label { font-size: 1.3rem; letter-spacing: 0.05rem; font-weight: 500; display: inline; margin-left: 1rem; }

.badge {
  border: 1px solid transparent;
  margin: 1.7rem 0 1rem 1rem;
  border-radius: 4rem;
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: 0.6rem 1.3rem;
  text-align: center;
}

.caption-large {
  font-size: 1.3rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  letter-spacing: 0.04rem;
}
.gift-card__qr-code { margin-top:30px; }

@media only screen and (min-width: 750px) {
  .gift-card__qr-code { margin-top:50px; }
}

.gift-card__qr-code img { margin: 0 auto; }
.gift_card__apple-wallet { line-height: 0; display: block; margin-bottom: 5rem; }
.gift-card__buttons { max-width: 25rem; margin: 0 auto; }

.form__message { align-items:center; display:flex; font-size:13px; line-height:1; margin-top:15px; justify-content:center; }
.form__message svg { flex-shrink: 0; height: 1.3rem; margin-right: 0.5rem; width: 1.3rem; }

@media print {
  .no-print { display: none; }
}

</style>
</head>
<body class="template-{{ template | split: '.' | first }}{% if settings.rtl %} rtl{% endif %}{% if settings.bodybg_img %} lazyload{% endif %}{% if settings.snow_effect and snowonpage contains request.page_type %} falling-snow {{settings.snow_style}}{% endif %}"
	{%- if settings.bodybg_img %} data-bgset="{% render 'bgset', image: settings.bodybg_img %}" data-sizes="auto" data-parent-fit="cover" style="background-image:url('{{ settings.bodybg_img | img_url: '50x' }});"{%- endif -%}>
	
    <header class="gift-card__title">
      <span class="h2">{{ shop.name }}</span>
      <h1 class="gift-card__heading">{{ 'gift_cards.issued.subtext' | t }}</h1>
      <div class="gift-card__price">
        <p>
          {% if settings.currency_code_enabled %}
            {{ gift_card.initial_value | money_with_currency }}
          {% else %}
            {{ gift_card.initial_value | money }}
          {% endif %}
        </p>
        {%- if gift_card.enabled == false or gift_card.expired -%}
          <p class="gift-card__label badge badge--{{ settings.sold_out_badge_color_scheme }}">{{ 'gift_cards.issued.expired' | t }}</p>
        {%- endif -%}
      </div>

      {% if settings.currency_code_enabled %}
        {%- assign gift_card_balance = gift_card.balance | money_with_currency -%}
      {% else %}
        {%- assign gift_card_balance = gift_card.balance | money -%}
      {% endif %}
      {%- if gift_card.balance != gift_card.initial_value -%}
        <p class="gift-card__label caption-large">{{ 'gift_cards.issued.remaining_html' | t: balance: gift_card_balance }}</p>
      {%- endif -%}
    </header>

    <main class="gift-card mb30">
      <div class="gift-card__image-wrapper">
        <img src="{{ 'gift-card/card.svg' | shopify_asset_url }}" alt="" class="gift-card__image" height="{{ 570 | divided_by: 1.5 }}" width="570" loading="lazy">
      </div>
      <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
      <div class="gift-card__information tc">
        <input type="text" class="gift-card__number" value="{{ gift_card.code | format_code }}" aria-label="{{ 'gift_cards.issued.gift_card_code' | t }}" readonly>
        <div class="gift-card__copy-code mb20">
          <button class="btnLink gift-card__copy-link">{{ 'gift_cards.issued.copy_code' | t }}</button>
          <span class="gift-card__copy-success form__message" role="status"></span>
          <template>
              <svg aria-hidden="true" focusable="false" role="presentation" class="" viewBox="0 0 13 13">
                  <path d="M6.5 12.35C9.73087 12.35 12.35 9.73086 12.35 6.5C12.35 3.26913 9.73087 0.65 6.5 0.65C3.26913 0.65 0.65 3.26913 0.65 6.5C0.65 9.73086 3.26913 12.35 6.5 12.35Z" fill="#428445" stroke="white" stroke-width="0.7"></path>
                  <path d="M5.53271 8.66357L9.25213 4.68197" stroke="white"></path>
                  <path d="M4.10645 6.7688L6.13766 8.62553" stroke="white">
                </path></svg>
              {{ 'gift_cards.issued.copy_code_success' | t }}
            </template>
        </div>
        {%- if gift_card.pass_url -%}
          <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet">
            <img src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}" loading="lazy">
          </a>
        {%- endif -%}
        <div class="gift-card__buttons no-print">
          <p><a
            href="{{ shop.url }}"
            class="btn w_100"
            target="_blank"
            rel="noopener"
            aria-describedby="a11y-new-window-message"
          >
            {{ 'gift_cards.issued.shop_link' | t }}
          </a></p>
          <button
            class="btn btn2 w_100"
            onclick="window.print();"
          >
            {{ 'gift_cards.issued.print_gift_card' | t }}
          </button>
        </div>
      </div>
    </main>

    <div hidden>
      <span id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</span>
    </div>
</body>
</html>
<script>
  var string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
  document.addEventListener('DOMContentLoaded', function() {
   new QRCode( document.querySelector('.gift-card__qr-code'), {
    text: document.querySelector('.gift-card__qr-code').dataset.identifier,
    width: 120,
    height: 120,
    imageAltText: string.qrImageAlt
    });
  });

  var template = document.getElementsByTagName("template")[0];
  var clonedTemplate = template.content.cloneNode(true);

  var isMessageDisplayed = false
  document
  .querySelector('.gift-card__copy-link')
  .addEventListener('click', () => {
    navigator.clipboard.writeText(document.querySelector('.gift-card__number').value).then(function () {
      if (!isMessageDisplayed) {
        document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
        isMessageDisplayed = true
      }
    });
  });
</script>